<ion-view cache-view="false" view-title="jobpreview">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row" data-ng-init="searchClaim()">
      <div class="col col-25 padding0">
        <h3 ng-if="edit_claim_id == 0" class="margin0">Add New Claim</h3>
        <h3 ng-if="edit_claim_id > 0" class="margin0">Edit New Claim</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!-- <li>
                        <button type="button" style="margin-top:0;" ng-click="claimList()" class="">
                            <span style="font-size: 33px;padding-top: 6px;">&lt;</span>  Back
                        </button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="claimList()"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>
  <style>
    .claim_lab {
      width: 35% !important;
      float: left;
      font-size: 13px !important;
      color: black !important;
    }

    .claim_txt {
      width: 62% !important;
      float: left;
      padding-left: 5px;
    }

    .clear_box {
      display: table;
      width: 100%;
    }
  </style>
  <ion-content>
    <div id="structure-model" class="addnewsurveyorform" ng-controller="jobpreviewCtrl" data-ng-init="getClientName()">
      <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="frmAddClaim" name="frmAddClaim" role="form" ng-submit="addClaim(frmAddClaim)" class="form-horizontal validate-form">
        <div id="addnewclaimmodal">
          <input name="user_id" value="{{UserId}}" class="form-control claim_txt" placeholder="First Name" autocomplete="off" id="first_name" type="hidden">
          <input name="user_token" value="{{UserToken}}" class="form-control" placeholder="First Name" autocomplete="off" id="first_name" type="hidden">
          <input name="user_type" value="{{UserType}}" class="form-control" placeholder="First Name" autocomplete="off" id="first_name" type="hidden">
          <input name="claim.id" ng-model="claim.id" value="{{edit_claim_id}}" class="form-control" autocomplete="off" type="hidden">
          <div class="form-group">
            <div class="cw50">
              <div>
                <label class="claim_lab">Client Name *</label>
                <div class="select-box claim_txt">
                  <select ng-model="selectclient.selected" name="client_id" ng-options="selected.name for selected in clientsList track by selected.id"></select>
                </div>
              </div>
              <div>
                <label class="claim_lab">Customer Name *</label>
                <input name="customer_name" ng-model="claim.customer_name" class="form-control claim_txt" placeholder="Customer Name" autocomplete="off" id="customer_name" type="text">
              </div>
              <div>
                <label class="claim_lab">Address *</label>
                <input name="address" ng-model="claim.address" class="form-control claim_txt" placeholder="Address" autocomplete="off" id="address_first" type="text">
              </div>
              <div>
                <label class="claim_lab">Town</label>
                <input name="city" ng-model="claim.city" class="form-control claim_txt" placeholder="Town" autocomplete="off" id="address_second" type="text">
              </div>
              <div>
                <label class="claim_lab">City</label>
                <input name="state" ng-model="claim.state" class="form-control claim_txt" placeholder="City" autocomplete="off" id="city_name-name" type="text">
              </div>
              <div>
                <label class="claim_lab">Postcode</label>
                <input name="zipcode" ng-model="claim.zipcode" class="form-control claim_txt" placeholder="Postcode" autocomplete="off" id="zip" type="text">
              </div>
              <div>
                <label class="claim_lab">Phone</label>
                <input name="phone" ng-model="claim.phone" class="form-control claim_txt" placeholder="Phone Number" autocomplete="off" id="claim_phone" type="text">
              </div>
              <div>
                <label class="claim_lab">Mobile</label>
                <input name="mobile" ng-model="claim.mobile" class="form-control claim_txt" placeholder="Mobile Number" autocomplete="off" id="claim_mobile" type="text">
              </div>
              <div>
                <label class="claim_lab">E-mail *</label>
                <input name="email" ng-model="claim.email" class="form-control claim_txt" placeholder="E-mail" autocomplete="off" id="email_address" type="text">
              </div>
              <div>
                <label class="claim_lab">Policy Number *</label>
                <input name="policy_number" ng-model="claim.policy_number" class="form-control claim_txt" placeholder="Policy Number" autocomplete="off" id="policy_no" type="text">
              </div>
              <!--<input name="reported_peril" class="form-control" placeholder="Reported Peril" autocomplete="off" id="reported_peril" type="text">-->
              <div>
                <label class="claim_lab">Reported Perill *</label>
                <div class="select-box claim_txt">
                  <!--<select ng-model = "claim.reported_perill" name="reported_perill" class="form-control" id="reported-perill">
                        <option value="">Select Reported Perill</option>
                        <option ng-repeat="(reportedperill_, reportedperill_value) in clientList.reportedperill_list" value="{{reportedperill_value.id}}">{{reportedperill_value.name}}</option>
                    </select>-->
                  <select ng-model="selectreported_perill.selected" name="reported_perill" ng-options="selected.name for selected in reported_perillList track by selected.id"></select>
                </div>
              </div>
              <div>
                <label class="claim_lab">ST Reference</label>
                <input name="st_reference" ng-model="claim.st_reference" class="form-control claim_txt" placeholder="ST Reference" autocomplete="off" id="email_address" type="text">
              </div>
              <div>
                <label class="claim_lab">Customer Reference</label>
                <input name="customer_reference" ng-model="claim.customer_reference" class="form-control claim_txt" placeholder="Customer Reference" autocomplete="off" id="policy_no" type="text">
              </div>
              <div>
                <label class="claim_lab">Incident Date</label>
                <input name="incident_date" readonly="true" ng-focus="openDatePicker('incident_date')" class="form-control claim_txt" ng-model="claim.incident_date" placeholder="Incident Date" autocomplete="off" id="incident_date" type="text">
              </div>
              <!--<input name="incident_date" ng-focus="openTimePicker()" class="form-control" placeholder="Incident Date" autocomplete="off" id="incident_date" type="text">-->
            </div>
            <div class="cw50 claimclientdetail" style="margin-top:0px;">
              <div class="box-border clear_box" style="margin-top:0px;">
                <label>Assign Surveyor</label>
                <div>
                  <label class="claim_lab">Surveyor</label>
                  <div class="select-box claim_txt">
                    <!--<select ng-model = "claim.user_id"  name="Assignclaims[user_id]" >
                            <option ng-repeat="(surveyors_key, surveyors_value) in clientList.surveyors_list" value="{{surveyors_value.id}}">{{surveyors_value.name}}</option>
                        </select>-->
                    <select ng-model="selectsurveyors.selected" name="Assignclaims[user_id]" ng-options="selected.name for selected in surveyorsList track by selected.id"></select>
                  </div>
                </div>

              </div>
              <div class="box-border clear_box">
                <label>Appointment Details</label>
                <div>
                  <label class="claim_lab">Appointment Date</label>
                  <input name="booked_date" ng-focus="openDatePicker('booked_date')" ng-model="claim.booked_date" class="form-control claim_txt" placeholder="Booking Date" readonly="true" autocomplete="off" id="booked_date" type="text">
                </div>
                <div class="clear_box">
                  <label class="claim_lab">Appointment Time</label>
                  <input name="booked_time" ng-focus="openTimePicker('booked_time')" ng-model="claim.booked_time" class="form-control claim_txt" placeholder="Booking Time" readonly="true" autocomplete="off" id="booked_time" type="text">
                </div>
              </div>
              <div class="box-border clear_box">
                <label>Internal notes</label>
                <div>
                  <label class="claim_lab">Internal Notes</label>
                  <textarea ng-if="claim.id" ng-model="claim.internal_notes" class="claim_txt" readonly="readonly" rows="5"></textarea>
                  <textarea ng-hide="claim.id" name="claimnotes[internal_notes]" class="claim_txt" id="internal_notes" ng-model="claim.internal_notes" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn-sqr" style="margin: 0 auto;" id="submit"> Save </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
