<div class="addnewsurveyorform" ng-controller="claimNotesCtrl" data-ng-init="getClientName()" id="addnewclaimmodal">
    <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="frmAddClaimNote" name="frmAddClaimNote" role="form" ng-submit="addClaimNotes(frmAddClaimNote)" class="form-horizontal validate-form">
        <input name="user_id" value="{{UserId}}" class="form-control" autocomplete="off" id="first_name" type="hidden">
        <input name="user_token" value="{{UserToken}}" class="form-control" autocomplete="off" id="first_name" type="hidden">
        <input name="claim_id" value="{{claim_id}}" class="form-control" autocomplete="off" id="first_name" type="hidden">
        
        <div class="form-group">
            <div class="col-xs-12 claimclientdetail"> 
                <textarea name="internal_notes" ng-model="ClaimNote.internal_notes" rows="7" class="box-border">
                    
                </textarea>
            </div>


            <div class="col-xs-12">
                <div class="text-center">
                    <button type="submit" class="btn blue" value="Save" tabindex="3">Save</button>
                </div>    
            </div>
        </div>
    </form>
</div>