<div ng-controller="surveyorCtrl" class="addnewsurveyorform" id="addnewsurveyormodal">
<!-- Modal content-->
    <div class=""> 
        <div class="has-footer">
             <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="AddSurveryor" name="AddSurveryor" role="form" ng-submit="addSurveryor(AddSurveryor)" class="form-horizontal validate-form">

            <div class="form-group">
                <div class="col-md-12">
                    <center>
                        <img id="imagepreview" src="{{prfileDtl.profile_pic}}" alt="your image" class="img-default img-responsive" ng-hide="new_pro_image">
                         <img id="imagepreview" src="{{new_pro_image}}" alt="your image" class="img-default img-responsive" ng-show="new_pro_image" >
                        <label for="exampleInputFile" class="mtop10 "  ng-click="file_option()"> 

                            <span class="addphotobtn">
                            <img id="imagepreview" src="./img/add-photo.png" alt="Add Photo" class="">Add Photo</span>
                            <div class="input file"><input name="Users[profile_pic]" id="exampleInputFile" class="hide" type="file"></div>								
                        </label>
                    </center>
                </div>
                <div class="col-md-12"> 
                    <div class="twoinpt mtop30">
                        <div class="firstnameinpt">
                             <input name="user_id" id="user_id" ng-model="addsurveryor.user_id"  type="hidden"  value="{{user_id}}"/>
                            <input name="firstname" ng-model="addsurveryor.firstname" class="form-control" placeholder="First Name" autocomplete="off" id="first_name" type="text">
                        </div>
                        <div class="lastnameinpt">
                            <input name="lastname" ng-model="addsurveryor.lastname" class="form-control" placeholder="Last Name" autocomplete="off" id="last_name" type="text">
                        </div>
                    </div> 
                </div>

                <div class="col-md-12">
                    <input name="address1" class="form-control" ng-model="addsurveryor.address1" placeholder="Address 1" autocomplete="off" id="address1" type="text">
                </div>

                <div class="col-md-12">
                    <input name="address2" class="form-control" ng-model="addsurveryor.address2" placeholder="Address 2" autocomplete="off" id="address2" type="text"> 
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="threeinpt">
                        <div class="cityinpt">
                            <input name="city" ng-model="addsurveryor.city" class="form-control" placeholder="City" autocomplete="off" id="city" type="text">
                        </div>
                        <div class="stateinpt">
                            <input name="state" ng-model="addsurveryor.state" class="form-control" placeholder="State/Country" autocomplete="off" id="state" type="text">
                        </div>
                        <div class="zipinpt">
                            <input name="zip" ng-model="addsurveryor.zip" class="form-control" placeholder="Zip" autocomplete="off" id="zip" type="text">
                        </div>
                    </div>  
                    <div class="twoinpt">
                        <div class="firstnameinpt">
                            <input name="id_number" ng-model="addsurveryor.id_number" class="form-control" placeholder="ID Number" autocomplete="off" id="id_number" type="text">
                        </div>
                        <div class="lastnameinpt">
                            <input name="email" ng-model="addsurveryor.email" class="form-control" placeholder="Email" autocomplete="off" id="email" type="text">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="twoinpt">
                        <div class="firstnameinpt">
                            <input name="mobile" ng-model="addsurveryor.mobile" class="form-control" placeholder="Phone" autocomplete="off" id="mobile" type="text">
                        </div>
                        <div class="lastnameinpt">
                            <input name="vehical_reg" ng-model="addsurveryor.vehical_reg" class="form-control" placeholder="Vehicle Reg." autocomplete="off" id="vehical_reg" type="text">
                        </div>
                    </div>
                </div>   

                <div class="clearfix"></div>  

                <div class="col-md-12">
                    &nbsp;   
                    </div>    
                </div>
            </div>
        <ion-footer-bar style="text-align:center">
          <button type="submit" style="margin: 0 auto;" class="btn-sqr" id="submit"> Save </button>
        </ion-footer-bar>
    </form>
    </div>
</div>