<div ng-controller="sowmanageCtrl" class="sow-form" id="sow-modal" data-ng-init="gettasktrades(0)">
  <div class="form-group parenttrades">
    <ul ng-if="sowtrades_list.length > 0">
      <div id="structureData">
        <li ng-repeat="(key, sow_value) in sowtrades_list">
          <a href="javascript:void(0);" ng-if="sow_value.is_task != 'true'" ng-click="gettasktrades(sow_value.id)" class="childStructure" id="1">{{sow_value.name}}</a>
          <a href="javascript:void(0);" ng-if="sow_value.is_task == 'true'" ng-click="savetasktrades(sow_value.id,sow_value.trade_id,'',sow_value.unit_type)" class="childStructure" id="1">{{sow_value.name}}</a>
        </li>
      </div>
    </ul>

    <div ng-if="sowtrades_list.length == 0">No task found.</div>
    <div class="parenttrades">
      <button type="button" style="margin-top: 28px;border-radius: 5px;width: 80px;" ng-if="back_button_val != null && back_button_val != ''" ng-click="gettasktrades(back_button_val)" class="claim_status btn-sqr ng-binding" tabindex="3">Back</button>
    </div>
  </div>
</div>
