<div ng-controller="structureCtrl" id="structure-model" class="parenttrades">
  <div class="">
    <form method="post" ng-submit="addStructureList()" ng-if="StructureList.back_button_val != 0" accept-charset="utf-8" id="AddTrades" role="form" class="form-horizontal add-structure validate-form">
      <div style="display:none;">
        <input name="_method" value="POST" type="hidden">
      </div>
      <div ng-hide="backParentId == 0" class="form-group">
        <div class="">
          <div class="input text required">
            <input name="name" required="required" id="name" class="form-control mtop5" placeholder="Enter Text Here" type="text">
          </div>
          <div class="display_errors"></div>
          <input name="name" class="form-control" ng-model="structure.name" placeholder="Add Trade" id="parent-id" value="0" type="hidden">
          <div class="parenttradebtn">
            <button type="submit" class="btn blue" value="Login" tabindex="3">Add {{StructureList.back_button_value}}</button>
          </div>
        </div>
      </div>
    </form>

    <div class="clearfix"></div>
    <ul>
      <li ng-repeat="(structuresKey, structuresValue) in StructureList.structures">
        <a href="javascript:void(0);" class="childStructure" ng-if="structuresValue.has_child > 0" ng-click="getStructure(structuresValue.id)" id="1">{{structuresValue.name}}</a>
        <a href="javascript:void(0);" class="childStructure" ng-if="structuresValue.has_child == 0" ng-click="addStructure(structuresValue.id,structuresValue.name)" id="2">{{structuresValue.name}}</a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <button type="button" style="margin-top: 28px;" ng-click="getStructure(StructureList.back_button_val)" ng-if="StructureList.back_button_val != null" class="btn blue" tabindex="3">Back</button>
  </div>
</div>
