<div id="assignSurveyor" class="">
    <div class="">
        <form method="post" accept-charset="utf-8" id="AssignSurveyor" role="form" class="form-horizontal  validate-form" action="/admin/claims" novalidate="novalidate">
            <div style="display:none;">
                <input name="_method" value="POST" type="hidden">
            </div>		
            <div class="form-group">
                <div class="">
                    <div class="input text">
                        <input name="surveyor_name" class="form-control" placeholder="Enter Surveyor Name or ID" autocomplete="off" id="surveyor-name" type="text">
                    </div>				
                    <input name="user_id" id="surveyor-id" class="form-control" placeholder="Surveyor Name" value="11" type="hidden">				    <input name="claim_id" class="claim_id form-control" placeholder="Surveyor Name" id="claim-id" value="ec4d673ef915b1b9144a41e5a13f06156b" type="hidden">				
                    <input name="assign_id" class="assign_id form-control" placeholder="Surveyor Name" id="assign-id" value="17" type="hidden">	 <div id="suggesstion-box" class="auto-suggesstion-box" style="display: none;"></div>
                </div>

                <div class="clearfix"></div>

                <div class="">
                    <div class="table-responsive autosearchrespondtable"> 
                        <table class="table"> 
                            <thead> 
                                <tr>  
                                    <th>Surveyor Name</th> 
                                    <th>Surveyor ID</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                                <tr> 
                                    <td>John C. Rudolph</td> 
                                    <td>018579</td> 
                                </tr> 
                            </tbody> 
                        </table> 
                    </div>
                </div>
                <div class="">
                    <div class="autosearchactionbuttons text-center">
                         <button type="submit" class="btn blue" value="Login" tabindex="3">Assign now</button>                
                    </div>    
                </div>
            </div>
        </form>      
    </div> 
</div>