<ion-view cache-view="false" view-title="claim-report">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row">
      <div class="col col-25 padding0">
        <h3 class="margin0" ng-if="app.is_admin == true">Claim Report - Job No : {{claim_data.job_number}}</h3>
        <h3 class="margin0" ng-if="app.is_admin == false">Claim Report - Job No : {{claim_data.job_no}}</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!--<li> <button type="button" style="margin-top:0;" ng-click="claimDetails(back_btn)" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="claimDetails(back_btn)"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>

  <ion-content data-ng-init="claimReportMaster()">
    <div id="claim-report">
      <div class="clearfix"></div>
      <div class="row responsive-sm main claimreportc no-padding" id="category">
        <div class="col col-25 tab-container no-padding">
          <ul>
            <li class="selected">
              <a id="propertydetail-tab" role="tab" data-toggle="tab" aria-controls="propertydetail-tab" aria-expanded="true">
                <img src="img/Property_Detail.png" class="tab-icon">
                <p class="margin0">PROPERTY DETAIL</p>
              </a>
            </li>
            <li>
              <a id="loss-tab" role="tab" data-toggle="tab" aria-controls="loss-tab" aria-expanded="true">
                <img src="img/Circumstances_of_Loss.png" class="tab-icon">
                <p class="margin0">CIRCUMSTANCES OF LOSS</p>
              </a>
            </li>
            <li>
              <a id="keysystem-tab" claimReports role="tab" data-toggle="tab" aria-controls="keysystem-tab" aria-expanded="true">
                <img src="img/Key_System_Measures.png" class="tab-icon">
                <p class="margin0">KEY SYSTEM MEASURES</p>
              </a>
            </li>
            <li>
              <a id="report-tab" role="tab" data-toggle="tab" aria-controls="report-tab" aria-expanded="true">
                <img src="img/Reportnew.png" class="tab-icon">
                <p class="margin0">REPORT</p>
              </a>
            </li>
            <li>
              <a id="requirement-tab" role="tab" data-toggle="tab" aria-controls="requirement-tab" aria-expanded="true">
                <img src="img/Requirements.png" class="tab-icon">
                <p class="margin0">REQUIRMENTS</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="form-container col col-75 no-padding">
          <form id="form-propertydetail-tab" ng-submit="manageClaimReport(addClaimReport,1)" name="addClaimReport" class="form-show">
            <div class="form-group">
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Type of Property</label>

                    <select class="select-style select-arrow" ng-model="claim_report.property_id" id="typeOfProperty" ng-options="selected.name for selected in propertyList track by selected.id">
                    </select>

                  </div>

                  <div class="ccol-50">
                    <label class="label-style second-part">Roof Type</label>
                    <select class="select-style select-arrow" ng-options="selected.name for selected in rooftypeList track by selected.id" ng-change="change_enable(claim_report.rooftype_id,'specify_rooftype',0)" ng-model="claim_report.rooftype_id" id="">
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Age of Property</label>
                    <select ng-model="claim_report.propertyage_id" ng-options="selected.name for selected in propertyageList track by selected.id" class="select-style select-arrow" id="">
                            </select>
                  </div>
                  <div class="ccol-50">
                    <label class="label-style second-part">Specify (If Other)</label>
                    <input ng-model="claim_report.specify_rooftype" ng-readonly="claim_report.rooftype_id != 0" type="text" class="input-style" id="specify_rooftype">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Property Condition</label>
                    <select ng-model="claim_report.propertycondition_id" ng-options="selected.name for selected in propertyconditionList track by selected.id" class="select-style select-arrow" id="">
                                </select>
                  </div>
                  <div class="ccol-50">
                    <label class="label-style second-part">Type of Roof Material</label>
                    <select ng-model="claim_report.roofmaterial_id" ng-change="change_enable(claim_report.roofmaterial_id,'specify_roofmaterial',0)" ng-options="selected.name for selected in roofmaterialList track by selected.id" class="select-style select-arrow" id="">
                                </select>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Number of Storeys</label>
                    <select ng-model="claim_report.storey_id" ng-change="change_enable(claim_report.storey_id,'specify_storey',0)" ng-options="selected.name for selected in storeyList track by selected.id" class="select-style select-arrow" id="storey_id">
                            </select>
                  </div>
                  <div class="ccol-50">
                    <label class="label-style second-part">Specify (If other)</label>
                    <input type="text" ng-model="claim_report.specify_roofmaterial" id="specify_roofmaterial" class="input-style" ng-readonly="claim_report.roofmaterial_id != 0">
                  </div>
                </div>
              </div>

              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">&nbsp;</label>
                    <input type="text" ng-readonly="claim_report.storey_id != 0" ng-model="claim_report.specify_storey" id="specify_storey" class="input-style" id="">
                  </div>

                  <div class="ccol-50">
                    <label class="label-style second-part">Wall Type</label>
                    <select type="text" ng-model="claim_report.walltype_id" ng-change="change_enable(claim_report.walltype_id,'specify_walltype',0)" ng-options="selected.name for selected in wallList track by selected.id" class="select-style select-arrow" id="">
                                </select>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Listed Building</label>
                    <select class="select-style select-arrow" ng-options="selected.name for selected in buildingList track by selected.id" ng-model="claim_report.listed_building" id="">
                                </select>
                  </div>

                  <div class="ccol-50">
                    <label class="label-style second-part">Specify (If Other)</label>
                    <input type="text" ng-readonly="claim_report.walltype_id != 0" ng-model="claim_report.specify_walltype" id="specify_walltype" class="input-style" id="">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Listing Type</label>
                    <input type="text" ng-model="claim_report.listing_type" class="input-style" id="">
                  </div>

                  <div class="ccol-50">
                    <label class="label-style second-part">Was Property Unoccupied At Time of Loss?</label>

                    <!--<input type="checkbox" name="recoveryOpp" ng-model="claim_report.property_unoccupied" class="checkbox-style" value="Yes" id="recoveryOpportunity"><label class="checkbox-label" for="recoveryOpportunity">Yes</label>
                            <input type="checkbox" name="recoveryOpp" ng-model="claim_report.property_unoccupied" class="checkbox-style" value="No" id="recoveryOpportunity"><label class="checkbox-label" for="recoveryOpportunity">No</label>-->
                    <!--{{claim_report.property_unoccupied}}-->
                    <ion-label class="checkbox-label">Yes</ion-label>
                    <ion-radio ng-model="claim_report.property_unoccupied" class="checkbox-style" value="Yes"></ion-radio>
                    <ion-label class="checkbox-label">No</ion-label>
                    <ion-radio ng-model="claim_report.property_unoccupied" class="checkbox-style" value="No"></ion-radio>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Multiple Flats</label>
                    <select ng-model="claim_report.multiple_flats" ng-change="change_enable(claim_report.multiple_flats,'specify_multiple_flats',0)" ng-options="selected.name for selected in multipleList track by selected.id" class="select-style select-arrow" id="">
                            </select>
                  </div>
                  <div class="ccol-50 date-boxs">
                    <label class="label-style second-part">Length of time unoccupied?</label>
                    <input type="number" ng-model="claim_report.unoccupied_days" class="col-40 input-style date-box" id="">
                    <input type="number" ng-model="claim_report.unoccupied_months" class="col-40 input-style date-box" id="">
                    <input type="number" ng-model="claim_report.unoccupied_years" class="col-40 input-style date-year" id="">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style second-part">Specify (If more than 10)</label>
                    <input type="number" ng-model="claim_report.specify_multiple_flats" class="input-style" id="specify_multiple_flats" ng-readonly="claim_report.multiple_flats.id != 0">
                  </div>
                  <div class="ccol-50"></div>
                </div>
              </div>
              <div class="btn-group">
                <button value="save" name="save" type="submit" class="btn-style">Next</button>
              </div>
            </div>
            <!-- end of form-group -->
            <div class="clear"></div>
          </form>
          <form id="form-loss-tab" ng-submit="manageClaimReport(addClaimReport,2)" class="form-hide">
            <div class="form-group">
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Actual Peril</label>

                    <select class="select-style select-arrow" id="typeOfProperty" ng-model="claim_report.actualperil_id" class="select-style" ng-options="selected.name for selected in actualperilList track by selected.id">
                    </select>
                  </div>

                  <div class="ccol-50">
                    <label class="label-style second-part">Crime Reference</label>
                    <input type="text" ng-model="claim_report.crime_reference" class="input-style" id="">
                  </div>
                </div>
              </div>

              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Number of Rooms Affected</label>
                    <select ng-options="selected.name for selected in roomsaffectedList track by selected.id" ng-model="claim_report.roomsaffected_id" ng-change="change_enable(claim_report.roomsaffected_id,'specify_roomafftected',0)" class="select-style select-arrow" id="">
                    </select>
                  </div>
                  <div class="ccol-50">
                    <label class="label-style second-part">Eurotempest Checked?</label>
                    <select class="select-style select-arrow" ng-options="selected.name for selected in eurotempestList track by selected.id" ng-model="claim_report.eurotempest" id="">
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Specify (If Other)</label>
                    <input type="number" ng-model="claim_report.specify_roomafftected" class="input-style" id="specify_roomafftected" ng-readonly="claim_report.roomsaffected_id != 0">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style second-part">EOW Reason</label>
                    <input type="text" ng-model="claim_report.eow_reason" class="input-style" id="">
                  </div>
                </div>
              </div>

              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Recovery Opportunity:</label>
                    <!--<input type="checkbox" name="recoveryOpp" class="checkbox-style" value="recoveryOpp" id="recoveryOpportunity" ng-model="claim_report.recovery_opportunity">-->
                    <ion-checkbox ng-model="claim_report.recovery_opportunity" class="checkbox-style" ng-value="1"></ion-checkbox>

                    <label class="checkbox-label" for="recoveryOpportunity"></label>
                  </div>
                </div>
              </div>

              <div class="btn-group">
                <button value="save" name="save" type="button" prev_id="0" class="btn-style">Previous</button>
                <button value="save" name="save" type="submit" class="btn-style">Next</button>
              </div>
            </div>
            <!-- end of form-group -->
            <div class="clear"></div>
          </form>

          <form id="form-keysystem-tab" ng-submit="manageClaimReport(addClaimReport,3)" class="form-hide">
            <div class="form-group">
              <h4>INITIAL RESPONSE</h4>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Inspection Performed</label>
                    <input type="text" ng-focus="openDatePicker('inspection_performed')" ng-model="claim_report.inspection_performed" readonly="readonly" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">NIRS Completed</label>
                    <input type="text" ng-focus="openDatePicker('nirs_completed')" ng-model="claim_report.nirs_completed" readonly="readonly" class="input-style calender" id="">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">T&A Started</label>
                    <input type="text" ng-focus="openDatePicker('ta_started')" ng-model="claim_report.ta_started" class="input-style calender" id="" readonly="readonly">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">T&A Completed</label>
                    <input type="text" ng-focus="openDatePicker('ta_completed')" ng-model="claim_report.ta_completed" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Strip Out Works Started</label>
                    <input type="text" class="input-style calender" ng-focus="openDatePicker('strip_outworks')" ng-model="claim_report.strip_outworks" id="" readonly="readonly">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">Strip Out works completed</label>
                    <input type="text" class="input-style calender" ng-focus="openDatePicker('strip_outworks_completed')" ng-model="claim_report.strip_outworks_completed" id="" readonly="readonly">
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <hr/>

              <h4>DRYING</h4>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Drying Equipment Installed</label>
                    <input type="text" ng-focus="openDatePicker('drying_equipment_installed')" ng-model="claim_report.drying_equipment_installed" class="input-style calender" id="" readonly="readonly">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">Drying Equipment Removed</label>
                    <input type="text" ng-focus="openDatePicker('drying_equipment_removed')" ng-model="claim_report.drying_equipment_removed" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Estimated Drying End</label>
                    <input type="text" ng-model="claim_report.drying_end" ng-focus="openDatePicker('drying_end')" class="input-style calender" id="" readonly="readonly">
                  </div>
                  <div class="ccol-50"></div>
                </div>
              </div>

              <div class="clearfix"></div>
              <hr/>

              <h4>CONSEQUENTIAL LOSS</h4>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">AA Type</label>
                    <input type="text" ng-model="claim_report.aa_type" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">AA Start Date</label>
                    <input type="text" ng-model="claim_report.aa_start_date" ng-focus="openDatePicker('aa_start_date')" ng-focus="openDatePicker('aa_start_date')" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>

              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">AA End Date Estimated</label>
                    <input type="text" ng-model="claim_report.aa_end_date_estimated" ng-focus="openDatePicker('aa_end_date_estimated')" class="input-style calender" id="" readonly="readonly">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">AA End Date Actual</label>
                    <input type="text" ng-model="claim_report.aa_end_date_actual" ng-focus="openDatePicker('aa_end_date_actual')" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Commercial Business Trading</label>
                    <input type="text" ng-model="claim_report.business_trading" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50"></div>
                </div>
              </div>

              <div class="clearfix"></div>
              <hr/>

              <h4>REINSTATEMENT</h4>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Reinstatement Type</label>
                    <input type="text" ng-model="claim_report.reinstatement_type" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">Works Started</label>
                    <input type="text" ng-model="claim_report.works_started" ng-focus="openDatePicker('works_started')" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Estimated works completed</label>
                    <input type="text" ng-model="claim_report.estimated_works_completed" ng-focus="openDatePicker('estimated_works_completed')" readonly="readonly" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50">
                    <label class="label-style">Works completed</label>
                    <input type="text" ng-model="claim_report.works_completed" ng-focus="openDatePicker('works_completed')" class="input-style calender" id="" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-50">
                    <label class="label-style">Customer Completion</label>
                    <input type="text" ng-model="claim_report.customer_completion" ng-focus="openDatePicker('customer_completion')" readonly="readonly" class="input-style calender" id="">
                  </div>
                  <div class="ccol-50"></div>
                </div>
              </div>

              <div class="clearfix"></div>
              <hr/>

              <h4>RESERVES</h4>
              <div class="form-control">
                <div class="crow">
                  <div class="ccol-100">
                    <label class="label-style">Contents <span>Example: (Carpets/Appliances/Furniture/Clothes)</span></label>
                    <input type="text" ng-model="claim_report.reserves_content" class="input-style calender" id="" placeholder="Contents">
                  </div>
                </div>
                <div class="crow">
                  <div class="ccol-100">
                    <label class="label-style">Buildings <span>Example: (Strip out/T&A/Repair/Restoration/Drying Costs/AA)</span></label>
                    <input type="text" ng-model="claim_report.reserves_building" class="input-style calender" id="" placeholder="Buildings">
                  </div>
                </div>
                <div class="crow">
                  <div class="ccol-100">
                    <label class="label-style">Fees / VAT <span>Example: (ACS fee/Loss Assessor/VAT)</span></label>
                    <input type="text" ng-model="claim_report.reserves_fees" class="input-style calender" id="" placeholder="Fees / VAT">
                  </div>
                </div>
                <div class="crow">
                  <div class="ccol-100">
                    <div class="btn-group">
                      <button value="save" name="save" type="button" prev_id="1" class="btn-style">Previous</button>
                      <button value="save" name="save" type="submit" class="btn-style">Next</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- end of form-group -->
            <div class="clear"></div>
          </form>

          <form id="form-report-tab" ng-submit="manageClaimReport(addClaimReport,4)" class="form-hide">
            <div class="form-group">
              <div class="form-control">
                <h3> Report Description</h3>
                <div class="crow">
                  <div class="ccol-100">
                    <textarea class="textarea form-control" style="height: 180px;" ng-model="claim_report.reports" placeholder="Report" rows="5"></textarea>
                  </div>
                </div>
                <div class="crow">
                  <div class="ccol-100">
                    <div class="btn-group">
                      <button value="save" name="save" type="button" prev_id="2" class="btn-style">Previous</button>
                      <button value="save" name="save" type="submit" class="btn-style">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of form-group -->
            <div class="clear"></div>
          </form>

          <form id="form-requirement-tab" ng-submit="manageClaimReport(addClaimReport,5)" class="form-hide">
            <div class="form-group">
              <div class="form-control">
                <div class="crow-100">
                  <div class="ccol-100" ng-repeat="(key, value) in masterData.requirenments">
                    <input type="checkbox" name="{{value.id}}" ng-click="toggleSelection(value.id)" class="checkbox-style" id="checkboxReq{{value.id}}" ng-checked="claim_report.requirements.indexOf(value.id) >= 0" ng-value="{{value.id}}">
                    <label class="checkbox-label" for="checkboxReq{{value.id}}" ng-checked="">
                      {{value.name}}
                    </label>
                  </div>
                </div>
                <div class="crow">
                  <div class="ccol-100">
                    <div class="btn-group">
                      <button value="save" name="save" type="button" prev_id="3" class="btn-style">Previous</button>
                      <button value="save" name="save" type="submit" class="btn-style">Complete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <script>
      $("button[prev_id]").click(function() {
        position = $(this).attr('prev_id');

        $(".form-container form").removeClass("form-show").addClass("form-hide");
        $(".form-container form").eq(position).addClass('form-show').removeClass('form-hide');

        $(".tab-container li").removeClass("selected");
        $(".tab-container li").eq(position).addClass('selected');
        $(".scroll-content .scroll").attr('style', "transform: translate3d(0px, 0px, 0px) scale(1);");
      });
      $("textarea").on('focus', function() {
        var v = $(this).val();
        $(this).val('');
        $(this).val(v);
      });
    </script>
  </ion-content>
</ion-view>
