<ion-view cache-view="false" view-title="dashboard">
  <div class="inner-header bar bar-subheader bar-assertive" data-ng-init="cb(start,end)">
    <div class="row">
      <div class="col col-25 padding0">
        <h3 class="margin0">Dashboard</h3>
      </div>
      <div class="col col-75">

      </div>
    </div>
  </div>
  <ion-content>
    <div id="dashboard">
      <div class="container-fluid">
        <div class="clearfix"></div>

        <div class="row padtb0 padl0 padr0">
          <div class="row padtb0 padl0 padr0">
            <div class="col paddingtop" align="right">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span class="current-date"></span> <b class="caret"></b>
              </div>
            </div>
          </div>
        </div>

        <div class="row padtb0 padl0 padr0">
          <div class="row padtb0 padl0 padr0">
            <div class="col">
              <div class="redborder"></div>
            </div>
          </div>
        </div>

        <div class="row padtb0 padl0 padr0">
          <div class="row padtb0 padl0 padr0">
            <div class="col">
              <div class="cout-box count-box-1" ng-click="getClientwiseClaims(1)">
                <div class="info-detail getclientwiseclaims" typeid="1">
                  <p class="info-title">TOTAL NO. OF CLAIMS</p>
                  <h3 class="count-numbers" id="totalclaims">{{claimList.response.totalclaims}}</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cout-box count-box-2" ng-click="getClientwiseClaims(2)">
                <div class="info-detail getclientwiseclaims" typeid="2">
                  <p class="info-title">COMPLETED CLAIMS</p>
                  <h3 class="count-numbers" id="completeclaims">{{claimList.response.completedclaims}}</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cout-box count-box-3" ng-click="getClientwiseClaims(3)">
                <div class="info-detail getclientwiseclaims" typeid="3">
                  <p class="info-title">ASSIGNED CLAIMS</p>
                  <!--<span class="sec-info">assigned in this week</span>-->
                  <h3 class="count-numbers" id="assignedclaims">{{claimList.response.assignedclaims}}</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cout-box count-box-4" ng-click="getClientwiseClaims(4)">
                <div class="info-detail getclientwiseclaims" typeid="4">
                  <p class="info-title">UNASSIGNED CLAIMS</p>
                  <h3 class="count-numbers" id="unassignedclaims">{{claimList.response.unassignedclaims}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div ng-if="claimList_box.length > 0" id="clientreport">
          <div class="row padtb0 padl0 padr0">
            <div class="row padtb0 padl0 padr0">
              <div class="col">
                <h4 class="claimtitle">CLIENT DASHBOARD - {{client_title}}</h4>
                <div class="redborder"></div>
              </div>
            </div>
          </div>
          <div class="padtb0 padl0 padr0">
            <div class="padtb0 padl0 padr0">
              <div class="customcol" ng-click="claim_list(box_value.client_id,type_id)" ng-repeat="(key, box_value) in claimList_box">
                <div class="cout-box count-box-{{type_id}}">
                  <div class="info-detail">
                    <p class="info-title">{{box_value.client_name}}</p>
                    <h3 class="count-numbers">{{box_value.value}}</h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="row padtb0 padl0 padr0">
          <div class="col padtb0 padl0 padr0">
            <div class="row padtb0">
              <div class="citem col col-50">
                <div id="ClientPiChart" class="chart-container"></div>
                <div class="graph-header">
                  <h4>TOTAL CLAIMS: BY CLIENT</h4>
                </div>
              </div>
              <div class="citem col col-50">
                <div id="ReportedPiChart" class="chart-container"></div>
                <div class="graph-header">
                  <h4>TOTAL CLAIMS: BY REPORTED PERILL</h4>
                </div>
              </div>
            </div>
            <div class="row padtb0">
              <div class="citem col col-50">
                <div id="chartdiv" class="chart-container"></div>
                <div class="graph-header">
                  <h4>TOTAL COMPLETED CLAIMS: BY SURVEYOR</h4>
                </div>
              </div>
              <div class="citem col col-50">
                <div id="Mapdiv" class="chart-container"></div>
                <div class="graph-header">
                  <h4>TOTAL COMPLETED CLAIMS: BY REGION</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row padtb0 padl0 padr0">
          <div class="row padtb0 padl0 padr0">
            <div class="col">
              <h4 class="claimtitle" ng-if="user_type == 3">LATEST ASSIGNED CLAIMS</h4>
              <h4 class="claimtitle" ng-if="user_type != 3">LATEST CLAIMS</h4>
              <div class="redborder"></div>
            </div>
          </div>
        </div>
        <div ng-if="UserType==3" class="row padtb0 padl0 padr0">
          <!-- is surveyvor offline -->

          <div class="col padtb0 padl0 padr0">
            <div class="row padtb0 db-claim">
              <div class="citem col col-33" ng-repeat="claimsArr in claimsList" style="" repeat-done>
                <div class="thumbnail">
                  <div class="imagecard" ng-click="claimDetailView(claimsArr.db_id,1);">
                    {{ customerFullAddress = ''; customerFullAddress = claimsArr.address != '' ? customerFullAddress + claimsArr.address : customerFullAddress; customerFullAddress = claimsArr.city != '' ? customerFullAddress +","+ claimsArr.city : customerFullAddress; customerFullAddress
                    = claimsArr.state != '' ? customerFullAddress +","+ claimsArr.state : customerFullAddress; customerFullAddress = claimsArr.zipcode != '' ? customerFullAddress +","+ claimsArr.zipcode : customerFullAddress; ""}}

                    <img ng-src="{{showClaimLocationImageInDashboard(customerFullAddress)}}" />
                    <!--<img class="group list-group-image" ng-if="claimsArr.client_image" src="{{claimsArr.client_image}}" alt="Testd">-->
                  </div>
                  <div class="caption" ng-click="claimDetailView(claimsArr.db_id,1);">
                    <h4 class="group inner list-group-item-heading"><strong>{{claimsArr.client_name}}</strong></h4>
                    <div class="row">
                      <div class="fullcol">
                        <table class="info-table">
                          <tbody>
                            <tr>
                              <th class="padl20">
                                <!--<img src="img/map-pin-new.png" width="15"> -->Customer Name<span class="pull-right">:</span></th>

                              <td><b>{{claimsArr.customer_name}} </b> </td>
                            </tr>
                            <tr>
                              <th class="padl20"> Address <span class="pull-right">:</span></th>

                              <td>{{claimsArr.address}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Town <span class="pull-right">:</span></th>

                              <td>{{claimsArr.city}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->City <span class="pull-right">:</span></th>

                              <td>{{claimsArr.state}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Postcode <span class="pull-right">:</span></th>

                              <td>{{claimsArr.zipcode}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Phone <span class="pull-right">:</span></th>

                              <td>{{claimsArr.phone}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Mobile <span class="pull-right">:</span></th>

                              <td>{{claimsArr.mobile}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Appointment Date <span class="pull-right">:</span></th>

                              <td>{{claimsArr.booked_date}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Appointment Time <span class="pull-right">:</span></th>

                              <td>{{claimsArr.booked_time}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/ic-assinged.png" width="15">-->Assigned To <span class="pull-right">:</span></th>

                              <td>{{claimsArr.assign_f}} {{claimsArr.assign_l}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row bottom-area">
                    <div class="fullcol cabsclaimactionlist">
                      <div class="actions-list">
                        <ul>
                          <li>
                            <a href="javascript:;" ng-click="showMapInPopUp(customerFullAddress,'Map')">
                              <span><img src="./img/ic-map.png" class="img-responsive"></span>
                              <p>Map</p>
                            </a>
                          </li>
                          <!--<li>
                            <a href="javascript:;" ng-click="showAddClaimPopup(claimsArr.id)">
                              <span><img src="./img/ic-edit.png" class="img-responsive"></span>
                              <p>Edit</p>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;" ng-click="deleteClaim(claimsArr.id)"><span><img src="./img/ic-delete.png" class="img-responsive"></span><p>Delete</p>
                                                </a>
                          </li>-->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div ng-if="UserType==1" class="row padtb0 padl0 padr0">
          <!--is online only admin-->

          <div class="col padtb0 padl0 padr0">
            <div class="row padtb0 db-claim">
              <div class="citem col col-33" ng-repeat="claimsArr in claimList.response.claims" style="" repeat-done>
                <div class="thumbnail">
                  <div class="imagecard" ng-click="claimDetails(claimsArr.id);">
                    {{ customerFullAddress = ''; customerFullAddress = claimsArr.address != '' ? customerFullAddress + claimsArr.address : customerFullAddress; customerFullAddress = claimsArr.city != '' ? customerFullAddress +","+ claimsArr.city : customerFullAddress; customerFullAddress
                    = claimsArr.state != '' ? customerFullAddress +","+ claimsArr.state : customerFullAddress; customerFullAddress = claimsArr.zipcode != '' ? customerFullAddress +","+ claimsArr.zipcode : customerFullAddress; ""}}

                    <img ng-src="{{showClaimLocationImageInDashboard(customerFullAddress)}}" />
                    <!--<img class="group list-group-image" ng-if="claimsArr.client_image" src="{{claimsArr.client_image}}" alt="Testd">-->
                  </div>
                  <div class="caption" ng-click="claimDetails(claimsArr.id,1);">
                    <h4 class="group inner list-group-item-heading"><strong>{{claimsArr.client_name}}</strong></h4>
                    <div class="row">
                      <div class="fullcol">
                        <table class="info-table">
                          <tbody>
                            <tr>
                              <th class="padl20">
                                <!--<img src="img/map-pin-new.png" width="15"> -->Customer Name <span class="pull-right">:</span></th>

                              <td><b>{{claimsArr.customer_name}} </b> </td>
                            </tr>
                            <tr>
                              <th class="padl20"> Address <span class="pull-right">:</span></th>

                              <td>{{claimsArr.address}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Town <span class="pull-right">:</span></th>

                              <td>{{claimsArr.state}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->City <span class="pull-right">:</span></th>

                              <td>{{claimsArr.city}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Postcode <span class="pull-right">:</span></th>

                              <td>{{claimsArr.zipcode}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Phone <span class="pull-right">:</span></th>

                              <td>{{claimsArr.phone}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Mobile <span class="pull-right">:</span></th>

                              <td>{{claimsArr.mobile}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Appointment Date <span class="pull-right">:</span></th>

                              <td>{{claimsArr.booked_date}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/booked.png" width="15">-->Appointment Time <span class="pull-right">:</span></th>

                              <td>{{claimsArr.booked_time}}</td>
                            </tr>
                            <tr>
                              <th class="padl20">
                                <!--<img src="./img/ic-assinged.png" width="15">-->Assigned To <span class="pull-right">:</span></th>

                              <td>{{claimsArr.surveyor_name}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row bottom-area">
                    <div class="fullcol cabsclaimactionlist">
                      <div class="actions-list">
                        <ul>
                          <li>
                            <a href="javascript:;" ng-click="showMapInPopUp(customerFullAddress,'Map')">
                              <span><img src="./img/ic-map.png" class="img-responsive"></span>
                              <p>Map</p>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;" ng-click="showAddClaimPopup(claimsArr.id)">
                              <span><img src="./img/ic-edit.png" class="img-responsive"></span>
                              <p>Edit</p>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:;" ng-click="deleteClaim(claimsArr.id)"><span><img src="./img/ic-delete.png" class="img-responsive"></span><p>Delete</p>
                                                </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

  </ion-content>
  <style>
    .width-min {
      width: 2px;
      padding-right: 0px;
      padding-left: 0px;
    }
  </style>
  <script>
    $(document).ready(function() {
      var green = "img/sync-green.png";
      $(".uaction-list li.completed img").attr('src', green);
      $(".uaction-list li.completed p.synctext").css("color", "#32bb35");
    });
    var arr = $.makeArray()
    $('.citem .thumbnail .caption').each(function() {
      arr.push($(this).outerHeight());
    });
    $('.citem .thumbnail .caption').css('height', Math.max.apply(Math, arr) + 40);
  </script>
</ion-view>
