<div class="deleteclaim">
    <!-- Modal content-->
    <div class=""> 
      <div class="">
        <div class="form-group">
            <div class="col-md-12">
                <div class="deleteconfirm">
                    Are you sure you want to delete this claim?
                </div>
            </div> 
            <div class="clearfix"></div>  

            <div class="col-md-12">
                <div class="deleteconfirmbtn autosearchactionbuttons text-center">
                    <button type="button" data-dismiss="modal" class="btn blue" value="" tabindex="3">Yes</button>        <button type="submit" class="btn blue" value="" tabindex="3">No</button>                </div>    
            </div>
        </div>
      </div>
    </div>
  </div>