<ion-view cache-view="false" overflow-scroll="true" view-title="claim Details">

  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row">
      <div class="col col-25 padding0">
        <h3 class="margin0">Claim Details - Job No : {{clientList.job_number}}</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li ng-if="from_dashboard != 0"><button ng-click="dashboard()"><img src="./img/back.png" class="iconimage"/></button></li>
          <li ng-if="from_dashboard == 0"><button ng-click="claimList()"><img src="./img/back.png" class="iconimage"/></button></li>


          <!--<li> <button type="button" style="margin-top:0;" ng-click="claimList()" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="detial-view">
      <div class="header_menu">
        <ul class="quick-action">
          <li>
            <!--<button type="button" ng-if="clientList.assignclaims.length == 0" class="claim_status btn-sqr" ng-click="chnage_status_assign_claim_message()">Mark as Assigned</button>-->
            <button type="button" ng-if="clientList.assignclaims.length != 0" class="claim_status btn-sqr" ng-click="chnage_status()">{{clientList.statuslable}}</button>
          </li>
          <li>
            <button type="button" ng-click="showAddClaimPopup(clientList.id)"><span class="ic-btn ic-edit"></span>Edit</button>
          </li>
          <li>
            <button type="button" ng-click="deleteClaim(clientList.id)">
                <span class="ic-btn ic-delete"></span>Delete
            </button>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="row">

        <div class="col claimclientdetail">
          <!--  Client information -->
          <div class="col cw50 nopadlr cmob640" style="display: table;">
            <div class="boxborder" style="height: 100%;overflow-y:hidden;">
              <div class="row bgtitlecolor">
                <img ng-src="{{clientList.client.client_image}}" class="img-responsive client" alt="" title="">
                <h3 class="perticular-title">Client Information</h3> {{ clientFullAddress = ''; clientFullAddress = clientList.client.client_address != '' ? clientFullAddress + clientList.client.client_address : clientFullAddress; clientFullAddress = clientList.client.client_city != '' ? clientFullAddress
                +", "+ clientList.client.client_city : clientFullAddress; clientFullAddress = clientList.client.client_state != '' ? clientFullAddress +", "+ clientList.client.client_state : clientFullAddress; clientFullAddress = clientList.client.client_zipcode
                != '' ? clientFullAddress +", "+ clientList.client.client_zipcode : clientFullAddress; ""}}
                <button class="mapicon" ng-click="showMapInPopUp(clientFullAddress)"><span class="ic-btn ic-map " align="right"></span></button>
              </div>
              <div class="row">
                <div class="claimdetailmain">
                  <table class="info-table claimdetail-table">
                    <tbody>
                      <tr>
                        <th class="padl20">
                          <!--<img src="./img/map-pin-new.png" width="15">--><b>Client Name</b> <span class="pull-right">:</span>
                        </th>
                        <td> {{clientList.client.client_name}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">
                          <!--<img src="./img/map-pin.png" width="15">-->Contact Person <span class="pull-right">:</span></th>
                        <td>{{clientList.client.contact_person_name}} </td>
                      </tr>
                      <tr>
                        <th class="padl20"> Address <span class="pull-right">:</span></th>
                        <td><span style="word-break: break-all;">{{clientList.client.client_address}} <span></td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"> Town <span class="pull-right">:</span></th>
                          <td>{{clientList.client.client_city}} </td>
                      </tr>
                      <tr>
                        <th class="padl20"> City <span class="pull-right">:</span></th>
                        <td>{{clientList.client.client_state}} </td>
                      </tr>
                      <tr>
                        <th class="padl20">
                          <!--<img src="./img/policy-no.png" width="15">-->Postcode <span class="pull-right">:</span></th>
                        <td>{{clientList.client.client_zipcode}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">
                          <!--<img src="" width="15">-->Phone <span class="pull-right">:</span></th>
                        <td><a href="tel:{{clientList.client.client_phone_no}}">{{clientList.client.client_phone_no}}</a></td>
                      </tr>
                      <tr>
                        <th class="padl20">
                          <!--<img src="" width="15">-->Email <span class="pull-right">:</span></th>
                        <td><span style="word-break: break-all;"><a href="mailto:{{clientList.client.client_email}}">{{clientList.client.client_email}}</a></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--  Client information -->

          <!--  Surveyor information -->
          <div class="col cw50 cmob640" ng-show="clientList.assignclaims.length > 0" style="display: table;">
            <div class="boxborder" style="height: 100%;overflow-y: hidden;" ng-repeat="assignclaims_arr in clientList.assignclaims">
              <div class="row bgtitlecolor">
                <img ng-src="{{assignclaims_arr.user.profile_pic}}" class="img-responsive client" alt="">
                <h3 class="perticular-title">Surveyor Information</h3> {{ survayourFullAddress = ''; survayourFullAddress = assignclaims_arr.user.address1 != '' ? survayourFullAddress + assignclaims_arr.user.address1 : survayourFullAddress; survayourFullAddress = assignclaims_arr.user.city != '' ? survayourFullAddress
                +", "+ assignclaims_arr.user.city : survayourFullAddress; survayourFullAddress = assignclaims_arr.user.state != '' ? survayourFullAddress +", "+ assignclaims_arr.user.state : survayourFullAddress; survayourFullAddress = assignclaims_arr.user.zip
                != '' ? survayourFullAddress +", "+ assignclaims_arr.user.zip : survayourFullAddress; ""}}
                <button class="mapicon" ng-click="showMapInPopUp(survayourFullAddress)"><span class="ic-btn ic-map " align="right"></span></button>
              </div>

              <div class="row">
                <div class="claimdetailmain">
                  <table class="info-table claimdetail-table">
                    <tbody>
                      <tr>
                        <th class="padl20">
                          Name <span class="pull-right">:</span>
                        </th>
                        <td> {{assignclaims_arr.user.firstname}} {{assignclaims_arr.user.lastname}}</td>
                      </tr>
                      <tr>
                        <th class="padl20"> Address <span class="pull-right">:</span></th>
                        <td>{{assignclaims_arr.user.address1}} </td>
                      </tr>
                      <tr>
                        <th class="padl20"> Town <span class="pull-right">:</span></th>
                        <td>{{assignclaims_arr.user.city}}</td>
                      </tr>
                      <tr>
                        <th class="padl20"> City <span class="pull-right">:</span></th>
                        <td>{{assignclaims_arr.user.state}} </td>
                      </tr>
                      <tr>
                        <th class="padl20"> Postcode <span class="pull-right">:</span></th>
                        <td>{{assignclaims_arr.user.zip}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">Assigned Date <span class="pull-right">:</span></th>
                        <td>{{assignclaims_arr.created}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">Appointment Date <span class="pull-right">:</span></th>
                        <td>{{clientList.booked_date}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">Appointment Time <span class="pull-right">:</span></th>
                        <td>{{clientList.booked_time}}</td>
                      </tr>
                      <tr>
                        <th class="padl20">Phone <span class="pull-right">:</span></th>
                        <td><a href="tel:{{assignclaims_arr.user.mobile}}">{{assignclaims_arr.user.mobile}}</a></td>
                      </tr>
                      <tr>
                        <th class="padl20">Email <span class="pull-right">:</span></th>
                        <td><span style="word-break: break-all;"><a href="mailto:{{assignclaims_arr.user.email}}">{{assignclaims_arr.user.email}}</a></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--  Surveyor information -->
        </div>
      </div>
      <div class="row">
        <div class="col claimclientdetail">
          <div class="col cw50 nopadlr cmob640" style="display: table;">
            <div class="boxborder customer_information" style="height: 100%;">
              <div class="row bgtitlecolor">
                <h3 class="perticular-title">Customer Information</h3> {{ customerFullAddress = ''; customerFullAddress = clientList.address != '' ? customerFullAddress + clientList.address : customerFullAddress; customerFullAddress = clientList.city != '' ? customerFullAddress +", "+ clientList.city : customerFullAddress;
                customerFullAddress = clientList.state != '' ? customerFullAddress +", "+ clientList.state : customerFullAddress; customerFullAddress = clientList.zipcode != '' ? customerFullAddress +", "+ clientList.zipcode : customerFullAddress; ""}}
                <button class="mapicon" ng-click="showMapInPopUp(customerFullAddress)"><span class="ic-btn ic-map " align="right"></span></button>

              </div>
              <div class="claimdetailmain">
                <table class="info-table claimdetail-table">
                  <tbody>
                    <tr>
                      <th class="padl20"> Customer Name <span class="pull-right">:</span> </th>
                      <td> {{clientList.customer_name}}</td>
                    </tr>
                    <tr>
                      <th class="padl20"> Address <span class="pull-right">:</span></th>
                      <td>{{clientList.address}} </td>
                    </tr>
                    <tr>
                      <th class="padl20"> Town <span class="pull-right">:</span></th>
                      <td>{{clientList.city}} </td>
                    </tr>
                    <tr>
                      <th class="padl20"> City <span class="pull-right">:</span></th>
                      <td>{{clientList.state}} </td>
                    </tr>
                    <tr>
                      <th class="padl20"> Postcode <span class="pull-right">:</span></th>
                      <td>{{clientList.zipcode}} </td>
                    </tr>
                    <tr>
                      <th class="padl20">Phone <span class="pull-right">:</span></th>
                      <td><a href="tel:{{clientList.phone}}">{{clientList.phone}}</a></td>
                    </tr>
                    <tr>
                      <th class="padl20">Mobile <span class="pull-right">:</span></th>
                      <td><a href="tel:{{clientList.mobile}}">{{clientList.mobile}}</a></td>
                    </tr>
                    <tr>
                      <th class="padl20">Email <span class="pull-right">:</span></th>
                      <td><a href="mailto:{{clientList.email}}">{{clientList.email}}</a></td>
                    </tr>
                    <tr>
                      <th class="padl20">Policy Number <span class="pull-right">:</span></th>
                      <td>{{clientList.policy_number}} </td>
                    </tr>
                    <tr>
                      <th class="padl20">Reported Perill <span class="pull-right">:</span></th>
                      <td>{{clientList.para_value}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col cw50 cmob640" style="display: table;">
            <div class="boxborder" style="height: 100%;">
              <div class="row bgtitlecolor">
                <h3 class="perticular-title">FNOL Cause Description</h3>
              </div>
              <div class="boxpadding">
                <textarea ng-model="clientList.fnol" ng-blur="saveFnol()" placeholder="Amy Scott Claim17@aviva.com - contact number 0345 030 7029 Ext: 230541 what matters; PH called to make a claim ? he has had an EOW from his boiler and there is damage to the ceiling below and the wall. He had a problem with his boiler not working back in Dec so the manufacturer of the boiler came out and repaired it however there appeared to be causing staining to the walls and ceiling so he got the company out that installed it and they had advised that the company who had come to repair it has put the pipe in incorrectly. He has had this repaired however he is going to get a quote for the repair costs to the ceiling and wall ? he thinks it is just a paint job. Recovery potential however call cut off ? no contact number on the file and called from an unknown number. SC ? N/A. XS - ??250."></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row padding">
        <div class="col claimclientdetail nopadlr" style="margin-top: 0px;">
          <div class="notesection">
            <div class="">
              <h4>Internal Notes</h4> </div>
            <div>
              <ion-scroll direction="y" class="box-border" id="internal-notes">
                <div ng-repeat="client_lists in clientList.claimnotes">
                  {{client_lists.created}} ({{client_lists.user.firstname}} {{client_lists.user.lastname}} ){{client_lists.internal_notes}}
                </div>
              </ion-scroll>
              <div>
                <buttion type="buttion" ng-click="showAddNote()" style="margin-right:5px;" class="btn-sqr pull-right">Add note</buttion>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row padding">
        <div class="col claimclientdetail">
          <h4 class="">Dashboard</h4>
          <div class="dashboardclaimdetail box-border">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr ng-repeat="claimstructures_list in clientList.structureMedia">
                    <td class="vertmid">
                      <span class="cfontweight">
                            <a href="javascript:;" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'add_scan');">{{claimstructures_list.name}}</a>
                            <input type="text" class="hide cform-control" ng-model = "claimstructures_list.name" structure_id = "{{claimstructures_list.id}}" ng-blur="editStructure(claimstructures_list.id,claimstructures_list.name)" value="{{claimstructures_list.name}}" name="claimstructuresEdit" />
                        </span>
                    </td>
                    <td>
                      <span>
                          <ul>
                              <li>
                                  <a href="javascript:;" ng-click="edit_btn(claimstructures_list.id)">
                                      <img src="./img/ic-edit.png" width="30">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:;" ng-click="deleteStructure({{claimstructures_list.id}})">
                                      <img src="./img/ic-delete.png" width="30" />
                                  </a>
                              </li>
                          </ul>
                      </span>
                    </td>
                    <td>
                      <span class="checktitle"> 3D Photo </span>
                      <span class="check">
                          <span>
                              <input id="checkbox-3d" class="regular-checkbox" type="checkbox">
                              <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'add_scan');" ng-hide="{{claimstructures_list.check3D}}"  />
                              <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'add_scan');" ng-show="{{claimstructures_list.check3D}}"  />
                          </span>
                      </span>
                    </td>
                    <td>
                      <span class="checktitle">SOW</span>
                      <span class="check">
                          <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'sow');" ng-hide="{{claimstructures_list.checkSow}}" />
                          <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'sow');" ng-show="{{claimstructures_list.checkSow}}" />
                      </span>
                    </td>
                    <td>
                      <span class="checktitle">Audio</span>
                      <span class="check">
                          <input id="audiocheck" class="regular-checkbox" type="checkbox">
                          <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'audios');" ng-hide="{{claimstructures_list.checkAudio}}"/>
                          <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'audios');" ng-show="{{claimstructures_list.checkAudio}}" />
                      </span>
                    </td>
                    <td>
                      <span class="checktitle">Video</span>
                      <span class="check">
                                            <input id="videocheck" class="regular-checkbox" type="checkbox">
                                            <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'videos');" ng-hide="{{claimstructures_list.checkVideo}}" />
                                            <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'videos');" ng-show="{{claimstructures_list.checkVideo}}" />
                                        </span>
                    </td>
                    <td>
                      <span class="checktitle">Picture</span>
                      <span class="check">
                          <input id="audiocheck" class="regular-checkbox" type="checkbox">
                          <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'pictures');" ng-hide="{{claimstructures_list.checkPicture}}"/>
                          <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'pictures');" ng-show="{{claimstructures_list.checkPicture}}"/>
                      </span>
                    </td>

                    <td>
                      <span class="checktitle">Notes</span>
                      <span class="check">
                          <input id="notescheck" class="regular-checkbox" type="checkbox">
                          <img src="./img/plus-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'notes');" ng-hide="{{claimstructures_list.checkNotes}}" />
                          <img src="./img/right-claim-detail.png" ng-click="openSow(claimstructures_list.id,claimstructures_list.claim_id,'notes');" ng-show="{{claimstructures_list.checkNotes}}" />
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div ng-if="clientList.claimreports.length == 0 || clientList.structureMedia.length == 0 || clientList.pfiforms.length == 0 || clientList.healthsafety.length == 0 || clientList.recoveryforms.length == 0 || clientList.drying.length == 0" style="height: 180px;">
        <!--<div ng-if="clientList.structureMedia.length == 0 || clientList.pfiforms.length == 0 || clientList.healthsafety.length == 0 || clientList.recoveryforms.length == 0 || clientList.drying.length == 0" style="height: 180px;"> -->
        <!--<div ng-if="clientList.claimreports.length == 0" style="left: 60px;position: absolute;">-->
        <div ng-if="clientList.claimreports.length == 0" style="left: 60px;position: absolute;">
          <div>Get started by adding a Claim Report</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
        <div ng-if="clientList.claimreports.length > 0 && clientList.structureMedia.length == 0" style="left: 225px;position: absolute;">
          <!--<div ng-if="clientList.structureMedia.length == 0" style="left: 225px;position: absolute;">-->
          <div>Now add a structure</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
        <div ng-if="clientList.claimreports.length > 0 && clientList.structureMedia.length > 0 && clientList.recoveryforms.length == 0" style="left: 370px;position: absolute;">
          <div>Now add a Recovery Form</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
        <div ng-if="clientList.claimreports.length > 0 && clientList.structureMedia.length > 0 && clientList.recoveryforms.length > 0 && clientList.pfiforms.length == 0" style="left: 500px;position: absolute;">
          <div>Now add a PFI</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
        <div ng-if="clientList.claimreports.length != 0 && clientList.structureMedia.length != 0 && clientList.pfiforms.length != 0 && clientList.recoveryforms.length != 0 && clientList.drying.length == 0" style="left: 650px;position: absolute;">
          <div>Now add a Drying</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
        <div ng-if="clientList.claimreports.length != 0 && clientList.structureMedia.length != 0 && clientList.pfiforms.length != 0 && clientList.healthsafety.length == 0 && clientList.drying.length != 0" style="left: 800px;position: absolute;">
          <div>Now add a Health & Safety</div>
          <img src="./img/img-thing.png" style="height: 150px;" />
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="bottomstatusbtns">
        <!--div class="claimreportstatus greenbg" ng-click="claimReports();"-->
        <div class="claimreportstatus greenbg">
          <a href="javascript:;" class="">
            <span class="colright" ng-if="clientList.claimreports.length == 0">
              <div ng-click="claimReports(claim_id);"> Claim Report </div>
            </span>
            <span class="colright" ng-if="clientList.claimreports.length">
                <div> Claim Report </div>
                <img src="./img/right_1.png" ng-show = "clientList.claimreports.length" />
                <img src="./img/edit_r.png" ng-click="claimReports(claim_id);" ng-show = "clientList.claimreports.length" />
                <img src="./img/pdf_1.png" ng-click="claimPdf(claim_id)" ng-show = "clientList.claimreports.length" />
            </span>
          </a>
        </div>
        <div class="claimreportstatus lightblue">
          <!-- <a href="javascript:;" ng-if="clientList.claimreports.length == 0" data-toggle="modal" data-target="#parentTrades">
                        <span class="colright">
                            <p>Add Structure </p>
                        </span>
                    </a>
                    <a href="javascript:;" data-toggle="modal" ng-if="clientList.claimreports.length != 0" ng-click = "showPopup()" data-target="#parentTrades">
                        <span class="colright">
                            <p>Add Structure
                            </p>
                        </span>
                    </a>-->
          <a href="javascript:;" data-toggle="modal" ng-click="showPopup()" data-target="#parentTrades">
            <span class="colright">
                            <div>Add Structure </div>
                        </span>
          </a>
        </div>
        <div class="claimreportstatus light-red">
          <a href="javascript:;">
            <span class="colright" ng-if="clientList.recoveryforms.length == 0">
                <div ng-click="recoveryForm(claim_id)">Recovery Form</div>
            </span>
            <span class="colright" ng-if="clientList.recoveryforms.length">
                <div>Recovery Form</div>
                <img src="./img/right_1.png" ng-show = "clientList.recoveryforms.length" />
                <img src="./img/edit_r.png" ng-click="recoveryForm(claim_id)" ng-click="recoveryForm(claim_id)" ng-show = "clientList.recoveryforms.length" />
                <img src="./img/pdf_1.png" ng-click="recoveryFormPdf(claim_id)" ng-show = "clientList.recoveryforms.length" />
            </span>

          </a>
        </div>
        <div class="claimreportstatus light-blue1">
          <a href="javascript:;">
            <span class="colright" ng-if="clientList.pfiforms.length ==0">
              <div ng-click="pfiForm(claim_id)">PFI</div>
            </span>
            <span class="colright" ng-if="clientList.pfiforms.length">
              <div>PFI</div>
              <img src="./img/right_1.png" ng-show = "clientList.pfiforms.length" />
              <img ng-click="pfiForm(claim_id)" src="./img/edit_r.png" ng-show = "clientList.pfiforms.length" />
              <img src="./img/pdf_1.png" ng-click="pfiPdf(claim_id)" ng-show = "clientList.pfiforms.length" />
            </span>

          </a>
        </div>
        <div class="claimreportstatus darkblue">
          <a href="javascript:;">
            <span class="colright" ng-if="clientList.drying.length==0">
                <div ng-click="dryingForm(claim_id)">Drying</div>
            </span>
            <span class="colright" ng-if="clientList.drying.length">
                <div>Drying</div>
                <img src="./img/right_1.png" ng-show = "clientList.drying.length" />
                <img src="./img/edit_r.png" ng-click="dryingForm(claim_id)" ng-show = "clientList.drying.length" />
                <img src="./img/pdf_1.png" ng-click="claimDrying(claim_id)" ng-show = "clientList.drying.length" />
            </span>
          </a>
        </div>
        <div class="claimreportstatus darkgreen">
          <a href="javascript:;">
            <span class="colright" ng-if="clientList.healthsafety.length==0">
                <div ng-click="healthsafeForm(claim_id)">Health &amp; Safety</div>
            </span>
            <span class="colright" ng-if="clientList.healthsafety.length">
                <div>Health &amp; Safety</div>
                <img src="./img/right_1.png" ng-show="clientList.healthsafety.length" />
                <img ng-click="healthsafeForm(claim_id)" src="./img/edit_r.png" ng-show="clientList.healthsafety.length" />
                <img src="./img/pdf_1.png" ng-click="healthSafetyPDF(claim_id)" ng-show="clientList.healthsafety.length" />
            </span>
          </a>
        </div>
        <div class="claimreportstatus darkcoffee">
          <a href="javascript:;" ng-click="open_web_view('http://www.eurotempest.com')" class="lastbtn">
            <span class="colright">
                            <div>Weather</div>
                        </span>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
