<ion-view cache-view="false" view-title="jobpreview">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row" data-ng-init="get_recovery_form_detail('drying_form')">
      <div class="col col-25 padding0">
        <h3 class="margin0" ng-if='app.is_admin == true'>Drying - Job No : {{claim_data.job_number}}</h3>
        <h3 class="margin0" ng-if='app.is_admin == false'>Drying - Job No : {{claim_data.job_no}}</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!--<li> <button type="button" style="margin-top:0;" ng-click="claimDetails(back_btn)" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="claimDetails(back_btn)"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="structure-model" class="addnewsurveyorform">
      <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="frmDrying" name="frmDrying" role="form" ng-submit="manageDrying(frmDrying)" class="form-horizontal validate-form">

        <div id="addnewclaimmodal">
          <div>
            <p>First Call Trade Services Ltd, as Damage Management Contractor, certifies that assisted drying works required as a result of an incident at the property and carried out by First Call Trade Services Ltd are now, in our opinion, completed.</p>
            <p>The British Damage Management Association (BDMA) published guidelines state that a building may be considered dry following damage when:</p>
            <ul type="list">
              <li>The internal conditions are at, or better than, normal room conditions.</li>
              <li>The moisture on and in the building materials will not support active growth of mould and mildew.</li>
              <li>The building materials and contents will finish returning to equilibrium within normal room condition by themselves without suffering further damage.</li>
            </ul>
            <p>As constructor we confirm that, in our opinion the above condition have been met.</p>
          </div>

          <div class="clear"></div>

          <div>
            <table width="100%" class="dryingdetail">
              <tbody>
                <tr>
                  <td width="31%">Property address at which incident occurred :</td>
                  <td width="69%"><input ng-model="drying_form.property_address" type="text" placeholder="Property address at which incident occurred"></td>
                </tr>
                <tr>
                  <td>Customer Name :</td>
                  <td><input type="text" ng-model="drying_form.customer_name" placeholder="Customer Name"></td>
                </tr>
                <tr>
                  <td>Firstcall Reference :</td>
                  <td><input type="text" ng-model="drying_form.firstcall_reference" placeholder="Firstcall Reference"></td>
                </tr>
                <tr>
                  <td>Date of Incident :</td>
                  <td><input type="text" ng-model="drying_form.incident_date" ng-focus="openDatePickerDrying('incident_date')" readonly="readonly" value="21-Feb-2017"></td>
                </tr>
                <tr>
                  <td>Date we completed assisted drying :</td>
                  <td><input type="text" ng-model="drying_form.drying_date" ng-focus="openDatePickerDrying('drying_date')" readonly="readonly" value="21-Feb-2017"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <p>This Certificate of Drying Works is given in good faith by First Call Trade Services Ltd.</p>
            <ul type="list">
              <li>First Call Trade Services Ltd have attended site and taken dampness / moisture readings in all areas understood to have been affected.</li>
              <li>First Call Trade Services Ltd cannot be held responsible for any dampness which occurs after the job completion date resulting from excess moisture from regular living condition, or due to reconstruction, reinstatement or redecoration work
                i.e. inadequate ventilation or improper building materials resulting in condensation;</li>
              <li>It has been assumed by First Call Trade Services Ltd that the Property Owner or their representative has provided relevant information relating to history of the property and in particular with regard to previous with dampness or previous
                water damage incident.</li>
            </ul>
            <p>For and behalf of First Call Trade Services Ltd</p>
          </div>

          <div class="clear"></div>

          <div>
            <table width="100%" class="dryingdetail">
              <tbody>
                <tr>
                  <td width="25%">Name :</td>
                  <td width="75%"><input ng-model="drying_form.firstcall_name" type="text" placeholder="Name"></td>
                </tr>
                <tr>
                  <td>Position :</td>
                  <td><input type="text" ng-model="drying_form.firstcall_position" placeholder="Position"></td>
                </tr>
              </tbody>
            </table>
          </div>



          <div>
            <table width="100%" class="dryingdetail">
              <tbody>
                <tr>
                  <td>
                    <label for="">Signature:</label>
                    <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
                    <div class='button-bar'>
                      <a class='btn-round signature-btn' ng-click='clearCanvas()'>Clear</a>
                    </div>
                  </td>
                  <td>
                    <img ng-src='{{drying_form.firstcall_signature}}' />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <button type="submit" class="btn-round" id="submit"> Save </button>
          </div>
        </div>
        <div class="clear"></div>
      </form>
    </div>
  </ion-content>
</ion-view>
