<div id="structure-model" ng-controller="editProfileCtrl" class="editprofilemodal">
  <div class="">
    <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="EditProfile" name="EditProfile" role="form" ng-submit="updateProfile(EditProfile)" class="form-horizontal validate-form">
      <center>
        <img id="imagepreview" src="{{new_pro_image}}" alt="your image" class="img-default img-responsive" ng-show="new_pro_image">
        <img id="imagepreview" src="{{prfileDtl.profile_pic}}" alt="your image" class="img-default img-responsive" ng-hide="new_pro_image">
        <label for="exampleInputFile" ng-click="ctrl_file_option()" class="mtop10">

                    <span class="addphotobtn">
                        <img id="imagepreview" src="./img/add-photo.png" alt="Add Photo" class="">Add Photo
                    </span>
                    <div class="input file">
                    <!--<input name="profile_pic" ng-model="prfileDtl.profile_pic" onchange="angular.element(this).scope().uploadfile_scop(this.files)" id="exampleInputFile" class="hide" type="file">-->
                    </div>
                </label>
      </center>
      <style>
        .profile_lab {
          width: 35% !important;
          float: left;
          font-size: 13px;
          color: black;
        }

        .profile_txt {
          width: 62% !important;
          float: left;
          padding-left: 5px;
        }
      </style>
      <div class="twoinpt">
        <div class="coll1">
          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">First Name</label>
              <input name="first_name" ng-model="prfileDtl.firstname" class="form-control profile_txt" placeholder="First Name" autocomplete="off" id="first_name" type="text">

              <input name="user_id" ng-model="prfileDtl.user_id" value="{{UserId}}" class="form-control" placeholder="First Name" autocomplete="off" id="first_name" type="hidden">
              <input name="user_token" ng-model="prfileDtl.user_token" value="{{UserToken}}" class="form-control" placeholder="First Name" autocomplete="off" id="first_name" type="hidden">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Last Name</label>
              <input name="last_name" ng-model="prfileDtl.lastname" class="form-control profile_txt" placeholder="Last Name" autocomplete="off" id="last_name" type="text">
            </div>
          </div>
          <div class="clearfix" ng-hide="is_admin"></div>

          <div class="twoinpt" ng-hide="is_admin">
            <div class="">
              <label class="profile_lab">Id Number</label>
              <input name="id_number" ng-model="prfileDtl.id_number" class="form-control profile_txt" placeholder="ID Number" autocomplete="off" id="id_number" type="text">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">

            <div class="">
              <label class="profile_lab">Email</label>
              <input name="email" ng-model="prfileDtl.email" class="form-control profile_txt" placeholder="E-mail" autocomplete="off" id="email" type="text">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Phone</label>
              <input name="mobile" ng-model="prfileDtl.mobile" class="form-control profile_txt" placeholder="Phone" autocomplete="off" id="mobile" type="text">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Vehical Reg.</label>
              <input name="vehical_reg" ng-model="prfileDtl.vehical_reg" class="form-control profile_txt" placeholder="Vehical Reg" autocomplete="off" id="vehical_reg" type="text">
            </div>
          </div>
        </div>
        <div class="coll2">
          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Address</label>
              <input type="text" ng-model="prfileDtl.address1" name="address1" class="form-control profile_txt" placeholder="Address" id="" />
            </div>
          </div>

          <div class="clearfix"></div>

          <!--div class="twoinpt">

                        <div class="">
                            <input type="text" ng-model="prfileDtl.address2" name="address2" class="form-control" placeholder="Address2" id=""/>
                        </div>
                    </div>

                    <div class="clearfix"></div-->

          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Town</label>
              <input name="city" ng-model="prfileDtl.city" class="form-control profile_txt" placeholder="Town" autocomplete="off" id="" type="text">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">City</label>
              <input name="state" ng-model="prfileDtl.state" class="form-control profile_txt" placeholder="City" autocomplete="off" id="" type="text">
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="twoinpt">

            <div class="">
              <label class="profile_lab">post code</label>
              <input name="zip" ng-model="prfileDtl.zip" class="form-control profile_txt" placeholder="Postcode" autocomplete="off" id="" type="text">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="changepasswordhr">
          <p>
            <span>Change Password</span>
          </p>
        </div>

        <div class="clearfix"></div>

        <div class="coll1">
          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Password</label>
              <input name="password" class="form-control profile_txt" ng-model="prfileDtl.password" placeholder="Password" autocomplete="off" id="" type="password">
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="coll2">
          <div class="twoinpt">
            <div class="">
              <label class="profile_lab">Confirm Password</label>
              <input name="confirmpassword" class="form-control profile_txt" ng-model="prfileDtl.confirmpassword" placeholder="Confirm Password" autocomplete="off" id="" type="password">
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

        <div class="autosearchactionbuttons text-center">
          <button type="submit" data-dismiss="modal" class="btn blue" value="Cancel" tabindex="3">Submit</button>
        </div>

      </div>
    </form>

    <div class="clearfix"></div>

  </div>
</div>
