<ion-view view-title="forgot-password">
  <ion-content>
    <div class="splash-bg">
    	<div class="login-bar">
    		<div class="mt50">&nbsp;</div>
    		<div class="login-container">
				<p><img src="./img/logo.png" alt="" class="img-responsive"></p>
	    		

	    		<div class="login-form">
	    			<div class="mt50">&nbsp;</div>
					  
	    			<h1 class="bell-font text-center color-dark"><strong>Forgot Password?</strong></h1>
					<div class="mt50">&nbsp;</div>
					  
	    			<form class="form-signin" name="frmForgotPassword" novalidate="" autocomplete="off" method="POST" id="loginForgotPassword" ng-submit="sendReqForgotPassword(frmForgotPassword)">
	    			  <input type="email" name="email" validate-email ng-model="loginForgotPassword.email" required value="" placeholder="Email-ID">
						<div class="error-container" ng-show="frmForgotPassword.email.$invalid && frmForgotPassword.$submitted">
						    <div ng-messages="frmForgotPassword.email.$error" role="alert">
								<div ng-message="required" class="error">
								<i class="ion-information-circled"></i>
								Email required</div>
								<div ng-message="email" class="error">
									<i class="ion-information-circled"></i>
									Please enter valid email address.</div>
							</div>
						</div>
					  <br>
					  <button type="submit" class="btns reset-btn">Reset Now</button>
					</form>
					<div class="mt50">&nbsp;</div>
                    <a href="#/login-home"><button ion-button clear class="back-link">Back to Login</button></a>
	    		</div>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
