<ion-view cache-view="false" view-title="Health & Safety">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row" data-ng-init="healthSafetyMaster()">
      <div class="col col-25 padding0">
        <h3 class="margin0" ng-if='app.is_admin == true'>Health & Safety - Job No : {{claim_data.job_number}}</h3>
        <h3 class="margin0" ng-if='app.is_admin == false'>Health & Safety - Job No : {{claim_data.job_no}}</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!--<li> <button type="button" style="margin-top:0;" ng-click="claimDetails(back_btn)" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="claimDetails(back_btn)"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="structure-model" class="addnewsurveyorform claimreportc">
      <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="frmAddHealthSafety" name="frmAddHealthSafety" role="form" ng-submit="manageHealthSafety(frmAddHealthSafety)" class="form-horizontal validate-form">

        <div id="addnewclaimmodal">
          <div class="form-group staps-tabs">
            <div class="cw50 select">
              <p>Step 1</p>
            </div>
            <div class="cw50">
              <p>Step 2</p>
            </div>
          </div>

          <div class="clear"></div>

          <div class="tab-pages">
            <div class="boxborder">
              <div class="cw100">
                <div class="card-header-light">
                  <h5>Health &amp; Safety Part 1 - Local Risk Assessment</h5>
                </div>
                <div class="cw50">
                  <div class="boxborder">
                    <div class="card-header-light">
                      <h5>Environment</h5>
                    </div>
                    <div class="row form-control" ng-repeat="(key, EnvironmentValue) in environment">
                      <input type="checkbox" ng-click="check_box_status_healthSafety(EnvironmentValue.id,'environments')" class="checkbox-style" ng-checked="healthsafety.environments.indexOf(EnvironmentValue.id) >= 0" ng-value="{{EnvironmentValue.id}}" id="checkboxReq{{EnvironmentValue.id}}">
                      <label class="checkbox-label" for="checkboxReq{{EnvironmentValue.id}}">{{EnvironmentValue.name}}</label>
                    </div>
                  </div>
                  <div class="boxborder">
                    <div class="card-header-light">
                      <h5>Substances</h5>
                    </div>
                    <div class="row" ng-repeat="(key, SubstancesValue) in substances">
                      <input type="checkbox" ng-click="check_box_status_healthSafety(SubstancesValue.id,'substances')" class="checkbox-style" ng-checked="healthsafety.substances.indexOf(SubstancesValue.id) >= 0" id="checkboxReq{{SubstancesValue.id}}" ng-value="{{SubstancesValue.id}}">
                      <label class="checkbox-label" for="checkboxReq{{SubstancesValue.id}}">{{SubstancesValue.name}}</label>
                    </div>
                  </div>
                </div>
                <div class="cw50">
                  <div class="boxborder">
                    <div class="card-header-light">
                      <h5>Access and Egress</h5>
                    </div>
                    <div class="row" ng-repeat="(key, AccessEgressValue) in access_and_egress">
                      <input type="checkbox" class="checkbox-style" ng-click="check_box_status_healthSafety(AccessEgressValue.id,'access_and_egress')" id="checkboxReq{{AccessEgressValue.id}}" ng-checked="healthsafety.access_and_egress.indexOf(AccessEgressValue.id) >= 0" ng-value="{{AccessEgressValue.id}}">
                      <label class="checkbox-label" for="checkboxReq{{AccessEgressValue.id}}">{{AccessEgressValue.name}}</label>
                    </div>
                  </div>
                </div>
                <div class="cw50">
                  <div class="boxborder">
                    <div class="card-header-light">
                      <h5>Use of Plant during Survey</h5>
                    </div>
                    <div class="row" ng-repeat="(key, PlantUsesValue) in use_of_plant_during_survey">
                      <input type="checkbox" class="checkbox-style" ng-click="check_box_status_healthSafety(PlantUsesValue.id,'plant_uses')" ng-checked="healthsafety.plant_uses.indexOf(PlantUsesValue.id) >= 0" id="checkboxReq{{PlantUsesValue.id}}" ng-value="{{PlantUsesValue.id}}">
                      <label class="checkbox-label" for="checkboxReq{{PlantUsesValue.id}}">{{PlantUsesValue.name}}</label>
                    </div>
                  </div>
                </div>
                <div class="cw50">
                  <div class="boxborder">
                    <div class="card-header-light">
                      <h5>CDM - assign H&S to design team, if:</h5>
                    </div>
                    <div class="row" ng-repeat="(key, assignCMDValue) in assign_hs">
                      <input type="checkbox" class="checkbox-style" ng-click="check_box_status_healthSafety(assignCMDValue.id,'assign_cmd')" id="checkboxReq{{assignCMDValue.id}}" ng-checked="healthsafety.assign_cmd.indexOf(assignCMDValue.id) >= 0" ng-value="{{assignCMDValue.id}}">
                      <label class="checkbox-label" for="checkboxReq{{assignCMDValue.id}}">{{assignCMDValue.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="cw100">
                <div class="padding10">
                  <p>If claim is likely to exceed 500hrs or has an exceptional hazard - raise a manual task to Health & Safety, to assign the Design Team</p>
                  <textarea class="form-control" style="height: 100px;" ng-model="healthsafety.health_safety_comments" placeholder="Comments: (Note: Suppliers are required to compile own risk assessments / methods statements)"></textarea>
                </div>
              </div>
              <div class="clear"></div>
              <div class="row" align="right" style="display:block;">
                <button type="button" class="btn-round" id="next"> Next </button>
              </div>
            </div>
          </div>
          <div class="clear"></div>

          <div class="hide tab-pages">
            <div class="boxborder">
              <div class="cw100">
                <div class="card-header-light">
                  <h5>Health & Safety Part 2 - Customer Considerations</h5>
                </div>
                <div class="cw100">
                  <div class="row" ng-repeat="(key, CustomerConsiderationsValue) in part2">
                    <input type="checkbox" ng-click="check_box_status_healthSafety(CustomerConsiderationsValue.id,'customer_considerations')" class="checkbox-style" ng-checked="healthsafety.customer_considerations.indexOf(CustomerConsiderationsValue.id) >= 0" id="checkboxReq{{CustomerConsiderationsValue.id}}"
                      ng-value="{{CustomerConsiderationsValue.id}}">
                    <label class="checkbox-label" for="checkboxReq{{CustomerConsiderationsValue.id}}">{{CustomerConsiderationsValue.name}}</label>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="row next-complete" align="right" style="display:block;">
                <button type="button" id="prev_btn" class="btn-round"> Previous </button>
                <button type="submit" class="btn-round" id="submit"> Complete </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script>
      $(".staps-tabs .cw50").click(function() {
        $(".tab-pages").removeClass("hide");
        $(".staps-tabs .cw50").removeClass('select');
        current_tab = $(this).index();
        $(".tab-pages").not($(".tab-pages").eq(current_tab)).addClass("hide");
        $(this).addClass('select');
        $(".scroll").css({
          'transform': 'translate3d(0px, 0px, 0px) scale(1)'
        });
      });
      $("#next").click(function() {
        $(".tab-pages").removeClass("hide");
        $(".staps-tabs .cw50").removeClass('select');
        current_tab = 1;
        $(".tab-pages").not($(".tab-pages").eq(current_tab)).addClass("hide");
        $(".staps-tabs .cw50").eq(current_tab).addClass('select');
        $(".scroll").css({
          'transform': 'translate3d(0px, 0px, 0px) scale(1)'
        });
      });
      $("#prev_btn").click(function() {
        $(".tab-pages").removeClass("hide");
        $(".staps-tabs .cw50").removeClass('select');
        current_tab = 0;
        $(".tab-pages").not($(".tab-pages").eq(current_tab)).addClass("hide");
        $(".staps-tabs .cw50").eq(current_tab).addClass('select');
        $(".scroll").css({
          'transform': 'translate3d(0px, 0px, 0px) scale(1)'
        });
      });
      $("textarea").on('focus', function() {
        var v = $(this).val();
        $(this).val('');
        $(this).val(v);
      });
    </script>
    <style type="text/css">
      .claimreportc .checkbox-label {
        line-height: 15px;
        height: 28px;
      }

      .boxborder {
        padding-bottom: 10px;
      }
    </style>
  </ion-content>
</ion-view>
