<ion-view cache-view="false" view-title="jobpreview">
  <div class="inner-header bar bar-subheader bar-assertive" data-ng-init="getClientName()">
    <div class="row">
      <div class="col col-25 padding0">
        <h3 class="margin0">Claims</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!--<li> <button type="button" style="margin-top:0;" ng-click="dashboard()" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="dashboard()"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="job-preview" class="claimreportc jobpreviewc">
      <div class="row">
        <div class="col cfiltertype">
          <div class="portlet box blue-madison">
            <div class="portlet-title">
              <div class="actions caction">
                <div class="col ccolmn-60">
                  <button alt="addRecord" ng-if="app.is_admin == true" ng-click="showAddClaimPopup()" class="btn-sqr claim-add pull-left btn-border">
                      <i class="fa fa-plus"></i> Add Claim
                  </button>
                  <div class="form-group">
                    <div class="">
                      <select name="filtertype" style="margin-right:10px;width:120px;" ng-change="search()" ng-model="serch_box.type" class="form-control filtertype pull-left" id="filtertype">
                          <option value="all" selected="selected">All</option>
                          <option value="completed">Completed</option>
                          <option value="assigned">Assigned</option>
                          <!--<option value="unassigned" ng-if="app.is_admin">Unassigned</option>-->
                          <option value="unassigned">Unassigned</option>
                      </select>
                    </div>
                    <div class="">
                      <select ng-model="selectclient.selected" style="width:200px;float:left;" name="client_id" ng-change="search()" ng-options="selected.name for selected in clientsList track by selected.id"></select>
                      <div id="reportrange-claim" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span class="current-date"></span> <b class="caret"></b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col ccolmn-40 rightsec">
                  <div class="">
                    <div class="input-group cinput-group rightinput">
                      <input ng-model="serch_box.searchtxt" style="width: 130px;" class="cform-control" placeholder="Search for..." value="" autocomplete="off" id="keyword" name="keyword">
                      <span class="input-group-btn">
                                            <button class="btn searchbtn" ng-click="search()" type="submit">Go!</button>
                                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col padding0">
          <div class="row nk-row padr0">
            <div class="citem nk-col" ng-if="claimList.length > 0" ng-repeat="(claim_key, claim_val) in claimList" style="" my-repeat-directive ng-cloak>
              <div class="thumbnail">
                <div class="imagecard" ng-click="claimDetails(claim_val.id);">
                  {{ customerFullAddress = ''; customerFullAddress = claim_val.address != '' ? customerFullAddress + claim_val.address : customerFullAddress; customerFullAddress = claim_val.city != '' ? customerFullAddress +","+ claim_val.city : customerFullAddress; customerFullAddress
                  = claim_val.state != '' ? customerFullAddress +","+ claim_val.state : customerFullAddress; customerFullAddress = claim_val.zipcode != '' ? customerFullAddress +","+ claim_val.zipcode : customerFullAddress; ""}}
                  <img class="group list-group-image" ng-src="{{showClaimLocationImageInDashboard(customerFullAddress)}}" alt="Testd">
                </div>
                <div class="caption" ng-click="claimDetails(claim_val.id);">
                  <h4 class="group inner list-group-item-heading"><strong>{{claim_val.client_name}}</strong></h4>
                  <div class="row">
                    <div class="fullcol">
                      <table class="info-table">
                        <tbody>
                          <tr>
                            <th class="padl20"> Customer Name <span class="pull-right">:</span></th>

                            <td>{{claim_val.customer_name}} </td>
                          </tr>
                          <tr>
                            <th class="padl20"> Address <span class="pull-right">:</span></th>

                            <td>{{claim_val.address}}</td>
                          </tr>
                          <tr>
                            <th class="padl20"> Town <span class="pull-right">:</span></th>

                            <td>{{claim_val.city}} </td>
                          </tr>
                          <tr>
                            <th class="padl20"> City <span class="pull-right">:</span></th>

                            <td>{{claim_val.state}} </td>
                          </tr>
                          <tr>
                            <th class="padl20"> Postcode <span class="pull-right">:</span></th>

                            <td>{{claim_val.zipcode}} </td>
                          </tr>
                          <tr>
                            <th class="padl20"> Phone <span class="pull-right">:</span></th>

                            <td>{{claim_val.phone}} </td>
                          </tr>
                          <tr>
                            <th class="padl20"> Mobile <span class="pull-right">:</span></th>

                            <td>{{claim_val.mobile}} </td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Appointment Date <span class="pull-right">:</span></th>

                            <td>{{claim_val.booked_date}}</td>
                          </tr>

                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Assigned Date <span class="pull-right">:</span></th>

                            <td>{{claim_val.booked_time}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/ic-assinged.png" width="15">-->Assigned To <span class="pull-right">:</span></th>

                            <td>{{claim_val.surveyor_name}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row bottom-area">
                  <div class="fullcol cabsclaimactionlist">
                    <div class="actions-list">
                      <ul>
                        <li>
                          <a href="javascript:;" ng-click="showMapInPopUp(customerFullAddress)"><span><img src="./img/ic-map.png" class="img-responsive"></span><p>Map</p>
                                                </a>
                        </li>
                        <li>
                          <a href="javascript:;" ng-click="showAddClaimPopup(claim_val.id)"><span><img src="./img/ic-edit.png" class="img-responsive"></span><p>Edit</p>
                                                </a>
                        </li>
                        <li>
                          <a href="javascript:;" ng-click="deleteClaim(claim_val.id)"><span><img src="./img/ic-delete.png" class="img-responsive"></span><p>Delete</p>
                                                </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="citem nk-col" ng-if="claimsList.length > 0" ng-repeat="claimsArr in claimsList" style="" my-repeat-directive>
              <div class="thumbnail">
                <div class="imagecard" ng-click="claimDetailView(claimsArr.db_id,0);">
                  {{ customerFullAddress = ''; customerFullAddress = claimsArr.address != '' ? customerFullAddress + claimsArr.address : customerFullAddress; customerFullAddress = claimsArr.city != '' ? customerFullAddress +","+ claimsArr.city : customerFullAddress; customerFullAddress
                  = claimsArr.state != '' ? customerFullAddress +","+ claimsArr.state : customerFullAddress; customerFullAddress = claimsArr.zipcode != '' ? customerFullAddress +","+ claimsArr.zipcode : customerFullAddress; ""}}

                  <img ng-src="{{showClaimLocationImageInDashboard(customerFullAddress)}}" />
                  <!--<img class="group list-group-image" ng-if="claimsArr.client_image" src="{{claimsArr.client_image}}" alt="Testd">-->
                </div>
                <div class="caption" ng-click="claimDetailView(claimsArr.db_id,0);">
                  <h4 class="group inner list-group-item-heading"><strong>{{claimsArr.client_name}}</strong></h4>
                  <div class="row">
                    <div class="fullcol">
                      <table class="info-table">
                        <tbody>
                          <tr>
                            <th class="padl20">
                              <!--<img src="img/map-pin-new.png" width="15"> -->Customer Name <span class="pull-right">:</span></th>

                            <td><b>{{claimsArr.customer_name}} </b> </td>
                          </tr>
                          <tr>
                            <th class="padl20"> Address <span class="pull-right">:</span></th>

                            <td>{{claimsArr.address}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Town <span class="pull-right">:</span></th>

                            <td>{{claimsArr.city}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->City <span class="pull-right">:</span></th>

                            <td>{{claimsArr.state}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Postcode <span class="pull-right">:</span></th>

                            <td>{{claimsArr.zipcode}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Phone <span class="pull-right">:</span></th>

                            <td>{{claimsArr.phone}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Mobile <span class="pull-right">:</span></th>

                            <td>{{claimsArr.mobile}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Appointment Date <span class="pull-right">:</span></th>

                            <td>{{claimsArr.booked_date}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/booked.png" width="15">-->Appointment Time <span class="pull-right">:</span></th>

                            <td>{{claimsArr.booked_time}}</td>
                          </tr>
                          <tr>
                            <th class="padl20">
                              <!--<img src="./img/ic-assinged.png" width="15">-->Assigned To <span class="pull-right">:</span></th>

                            <td>{{claimsArr.assign_f}} {{claimsArr.assign_l}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row bottom-area">
                  <div class="fullcol cabsclaimactionlist">
                    <div class="actions-list">
                      <ul>
                        <li>
                          <a href="javascript:;" ng-click="showMapInPopUp(customerFullAddress,'Map')">
                            <span><img src="./img/ic-map.png" class="img-responsive"></span>
                            <p>Map</p>
                          </a>
                        </li>
                        <!--<li>
                          <a href="javascript:;" ng-click="showAddClaimPopup(claimsArr.id)">
                            <span><img src="./img/ic-edit.png" class="img-responsive"></span>
                            <p>Edit</p>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:;" ng-click="deleteClaim(claimsArr.id)"><span><img src="./img/ic-delete.png" class="img-responsive"></span><p>Delete</p>
                                              </a>
                        </li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div style="text-align: center;" ng-if="message">{{message}}</div>
          </div>
          <div style="text-align: center;" ng-hide="message">
            <button type="button" class="claim_status btn-sqr lord-more-btn" ng-if="claimsList.length > 0 || claimList.length > 0" ng-click="loadMore()">Load More</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<style>
  .width-min {
    width: 2px;
    padding-right: 0px;
    padding-left: 0px;
  }
</style>
