<ion-view view-title="Login">
  <ion-content>
    <div class="splash-bg">
    	<div class="login-bar">
    		<div class="mt10">&nbsp;</div>
    		<div class="login-container">
				<p><img src="./img/logo.png" alt="" class="img-responsive"></p>
	    		<div class="login-form">
	    			<div class="mt10">&nbsp;</div>
	    			<h1 class="bell-font text-center color-dark"><strong>Sign In</strong><i> to your account</i></h1>
					<div class="mt10">&nbsp;</div>
					  
	    			<form class="form-signin" name="frmLogin" novalidate="" autocomplete="off" method="POST" id="loginForm" ng-submit="doLogin(frmLogin)">
	    			  	<input type="email" ng-model="loginForm.username" name="username" value="" placeholder="Email" validate-email required>
	    			  	<div class="error-container" ng-show="frmLogin.username.$invalid && frmLogin.$submitted">
						    <div ng-messages="frmLogin.username.$error" role="alert">
								<div ng-message="required" class="error">
								<i class="ion-information-circled"></i>
								Email required</div>
								<div ng-message="email" class="error">
									<i class="ion-information-circled"></i>
									Please enter valid email address.</div>
							</div>
						  </div>	
					  <br>
					  <input type="password" ng-model="loginForm.password" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted, 'no-errors' : loginForm.password.$valid && loginForm.$submitted}" name="password" value="" placeholder="*********" required>
					  	<div class="error-container" ng-show="frmLogin.password.$invalid && frmLogin.$submitted"	ng-messages="frmLogin.password.$error">
							<div ng-messages="frmLogin.password.$error" role="alert">
								<div ng-message="required" class="error">
								<i class="ion-information-circled"></i>
								Password is required</div>
							</div>
						</div>
					  <br>
					  <ion-toggle ng-model="frmLogin.airplaneMode" toggle-class="toggle-calm" class="switch">Keep me signed in</ion-toggle>
                        <button type="submit" class="btns login-btn">Sign In</button>
					  <br>
					  <p class="flink">Forgot Password?<button type="button" ng-click="forgot_password()" class="back-link">Reset Now</button></p>
					</form>
	    		</div>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>