<div id="structure-model" style="text-align:center;" class="editprofilemodal">
  <div class="video" style="" ng-if="data.file_type=='V'">
    <video ng-src="{{data.file_utl}}" style="height:100%;" autobuffer autoloop class="video" autoplay loop controls>
    </video>
  </div>
  <img ng-src="{{data.file_utl}}" style="width:100%;height:100%;" class="img" ng-if="data.file_type=='I'" />
</div>
