<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <!--<ion-nav-back-button class="button-icon ion-ios7-arrow-left">
        </ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" style="position:relative;">
      <div class="st-title">
        <div class="profile-pic-wap"><img ng-src="{{profile_pic}}" alt="" class="img-responsive"></div><span>{{UserDisplayname}}</span>
      </div>
      <br clear="all" />
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/dashboard">
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>

        <!--<ion-item menu-close href="#/app/jobpreview//{{menu_date}}/1">-->
        <ion-item menu-close href="javascript:;" ng-click="go_claim_list(menu_date)">
          Claims
        </ion-item>
        <ion-item ng-if="app.is_admin == true" menu-close href="#/app/add-claim/">
          Add Claim
        </ion-item>
        <!--<ion-item menu-close href="#/app/surveyorlist" ng-if="app.is_admin">
            Surveyors
        </ion-item>-->
        <!--<ion-item menu-close href="#/app/test" ng-if="is_admin">
            Test
        </ion-item> -->
        <ion-item menu-close ng-click="doLogout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
