<ion-view cache-view="false" overflow-scroll="true" view-title="claim Details">

    <div class="inner-header bar bar-subheader bar-assertive"> 
        <div class="row">
            <div class="col col-25 padding0">
                <h3 class="margin0">Claim Details</h3>
            </div>
            <div class="col col-75 padding0" >
                <ul class="quick-action pull-right">
					<li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
                    
					<li><button ng-click="claimDetails(claim_id)"><img src="./img/back.png" class="iconimage"/></button></li>
                </ul>
            </div>
        </div>
    </div>  
    <ion-content>
    <iframe ng-src="{{claim_report_url}}" style="width:100%;"></iframe>
    </ion-content>
</ion-view>