<ion-view cache-view="false" view-title="jobpreview">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row" data-ng-init="searchClaim()">
      <div class="col col-25 padding0">
        <h3 class="margin0" ng-if='app.is_admin == true'>PFI - Job No : {{claim_data.job_number}}</h3>
        <h3 class="margin0" ng-if='app.is_admin == false'>PFI - Job No : {{claim_data.job_no}}</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <!--<li> <button type="button" style="margin-top:0;" ng-click="claimDetails(back_btn)" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                    </li>-->
          <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
          <li><button ng-click="claimDetails(back_btn)"><img src="./img/back.png" class="iconimage"/></button></li>
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="structure-model" class="addnewsurveyorform" data-ng-init="get_recovery_form_detail('pfi')">
      <form method="post" accept-charset="utf-8" enctype="multipart/form-data" id="frmAddPfi" name="frmAddPfi" role="form" ng-submit="managePfi(frmAddPfi)" class="form-horizontal validate-form">

        <input type="hidden" name="claim_id" ng-model="pfi.claim_id" />
        <input type="hidden" name="user_token" ng-model="pfi.user_token" />
        <input type="hidden" name="user_id" value="" ng-model="pfi.user_id" />

        <div id="addnewclaimmodal">

          <div class="form-group">
            <div class="cw100">
              <table width="100%" ng-if="app.is_admin == true" class="recoverydetails">
                <tr>
                  <td width="15%"><label>Insured Name(s)</label></td>
                  <td width="35%">: {{claim_data.customer_name}}</td>
                  <td width="18%"><label>ST Reference</label></td>
                  <td width="32%">: {{claim_data.st_reference}}</td>
                </tr>
                <tr>
                  <td><label>Policy Number</label></td>
                  <td>: {{claim_data.policy_number}}</td>
                  <td><label>Customer Reference</label></td>
                  <td>: {{claim_data.customer_reference}}</td>
                </tr>
                <tr>
                  <td><label>Risk Address</label></td>
                  <td>: {{claim_data.address}}</td>
                  <td><label>Insured Phone</label></td>
                  <td>: {{claim_data.mobile}}</td>
                </tr>
                <tr>
                  <td><label>Asprea Surveyor</label></td>
                  <td ng-if="claim_data.assignclaims.length > 0">:{{claim_data.assignclaims[0].user.firstname}} {{claim_data.assignclaims[0].user.lastname}}</td>
                  <td ng-if="claim_data.assignclaims.length == 0">: </td>
                  <td><label>Reported Peril</label></td>
                  <td>: {{claim_data.para_value}}</td>
                </tr>
                <tr>
                  <td><label>Surveyor Phone</label></td>
                  <td ng-if="claim_data.assignclaims.length > 0">: {{claim_data.assignclaims[0].user.mobile}}</td>
                  <td ng-if="claim_data.assignclaims.length == 0">: </td>
                  <td><label>Incident Date</label></td>
                  <td>: {{claim_data.incident_date}}</td>
                </tr>
              </table>
              <table width="100%" ng-if="app.is_admin != true" class="recoverydetails">
                <tr>
                  <td width="15%"><label>Insured Name(s)</label></td>
                  <td width="35%">: {{claim_data.customer_name}}</td>
                  <td width="18%"><label>ST Reference</label></td>
                  <td width="32%">: {{claim_data.st_reference}}</td>
                </tr>
                <tr>
                  <td><label>Policy Number</label></td>
                  <td>: {{claim_data.policy_number}}</td>
                  <td><label>Customer Reference</label></td>
                  <td>: {{claim_data.customer_reference}}</td>
                </tr>
                <tr>
                  <td><label>Risk Address</label></td>
                  <td>: {{claim_data.address}}</td>
                  <td><label>Insured Phone</label></td>
                  <td>: {{claim_data.mobile}}</td>
                </tr>
                <tr>
                  <td><label>Asprea Surveyor</label></td>
                  <td>:{{claim_data.firstname}} {{claim_data.lastname}}</td>
                  <td><label>Reported Peril</label></td>
                  <td>: {{claim_data.claims_reported_perill}}</td>
                </tr>
                <tr>
                  <td><label>Surveyor Phone</label></td>
                  <td>: {{claim_data.user_mobile}}</td>
                  <td><label>Incident Date</label></td>
                  <td>: {{claim_data.incident_date}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="clear"></div>
          <div class="boxborder">
            <div class="form-group">
              <div class="cw100">
                <div class="card-header">
                  <h5>Part A</h5>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Type Of Fraud</label>
                  </div>
                  <div class="cw80">
                    <input type="text" ng-model="pfi.fraud_type" id="internal_notes" class="form-control">
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Reason for Referral</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.referral_reason" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Why are your concerns?</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.concerns_reason" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">How have you challenged the Customer?</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.customer_challenged" rows="5" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
          <div class="boxborder">
            <div>
              <div class="cw100">
                <div class="card-header">
                  <h5>Part B</h5>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Response to Referral</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.response_referral" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Follow Up 1</label>
                  </div>
                  <div class="cw80">
                    <textarea name="claimnotes[internal_notes]" id="internal_notes" ng-model="pfi.followup1" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Follow Up 2</label>
                  </div>
                  <div class="cw80">
                    <textarea name="claimnotes[internal_notes]" id="internal_notes" ng-model="pfi.followup2" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Additional Follow Up(s)</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.aditional_followup" rows="5" class="form-control"></textarea>
                  </div>
                </div>
                <div>
                  <div class="cw20">
                    <label class="control-label">Final Action</label>
                  </div>
                  <div class="cw80">
                    <textarea id="internal_notes" ng-model="pfi.final_action" rows="5" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="row">
            <button type="submit" style="position: absolute;right: 10px;" class="btn-round" id="submit"> Save </button>
          </div>
        </div>

      </form>
    </div>

    <script>
      $("textarea").on('focus', function() {
        var v = $(this).val();
        $(this).val('');
        $(this).val(v);
      });
    </script>
  </ion-content>
</ion-view>
>
