<ion-view view-title="claim Details">
  <div class="inner-header bar bar-subheader bar-assertive">
    <div class="row">
      <div class="col col-25 padding0">
        <h3 class="margin0">Profile</h3>
      </div>
      <div class="col col-75 padding0">
        <ul class="quick-action pull-right">
          <li>
            <button type="button" ng-click="showPopEditProfile()"><span class="ic-btn ic-editw-profile"></span>Edit Profile</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="profile-view">
      <div class="clearfix"></div>

      <div class="row">
        <div class="col claimclientdetail">
          <div class="col nopadlr cmob640 couterborder">
            <div class="row">
              <div class="profileimg">
                <img ng-src="{{prfileDtl.profile_pic}}" class="img-responsive" alt="" title="">
              </div>

              <div class="col">
                <!-- First Half Starts -->
                <div class="cw50">
                  <div class="row">
                    <div class="ccol33">
                      <span>First Name </span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.firstname}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>Last Name </span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.lastname}}</span>
                    </div>
                  </div>
                  <div class="clearfix" ng-hide="is_admin"></div>

                  <div class="row" ng-hide="is_admin">
                    <div class="ccol33">
                      <span>ID Number</span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.id_number}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>Email </span>
                    </div>
                    <div class="ccol67">
                      <span><a href="mailto:info@abc.com">{{prfileDtl.email}}</a></span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>Phone </span>
                    </div>
                    <div class="ccol67">
                      <span><a href="tel:9824267999">{{prfileDtl.mobile}}</a></span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>Vehicle Reg </span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.vehical_reg}}</span>
                    </div>
                  </div>
                </div>
                <!-- First Half Ends -->

                <!-- Second Half Starts -->
                <div class="cw50">
                  <div class="row">
                    <div class="ccol33">
                      <span>Address</span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.address1}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <!--<div class="row">
                                        <div class="ccol33">
                                            <span>Address2</span>
                                        </div>
                                        <div class="ccol67">
                                            <span>{{prfileDtl.address2}}</span>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>-->

                  <div class="row">
                    <div class="ccol33">
                      <span>Town</span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.city}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>City</span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.state}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="ccol33">
                      <span>Post code</span>
                    </div>
                    <div class="ccol67">
                      <span>{{prfileDtl.zip}}</span>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </div>
                <!-- Second Half Ends -->

                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </ion-content>
</ion-view>
