<ion-view view-title="claim Details">
    <div class="inner-header bar bar-subheader bar-assertive">
        <div class="row">
            <div class="col">
                <div class="sowhead">
                    <div class="sowheadtitlesow">
                        <h2>Room:Bedroom1</h2>
                    </div>
                    <div class="sowheadrightsow">
                        <h2>Job No: J04261</h2>
                    </div> 
                </div>
            </div>
        </div>    
    </div>
    <ion-content>
        <div id="sow">
            <div class="clearfix"></div>
	        
	        <div class="clearfix"></div>
            <div id="boxoutmain"> 
                <div class="main-div">
                    <div class="upload-div">
                        <span class="bgsow">&nbsp;</span>
                        <input type="file" name="file" id="file" class="inputfile">                                
                    </div>
                    <div class="notification-div appnotification">
                        <div class="sub-noti-class">

                            <a href="javascript:void(0)" class="add_scan active" data-href=".add_scan_div"><p> <span class="num-circle">1</span> Add Scan</p></a>

                            <a href="javascript:void(0)" class="sow" id="0" data-href=".sowtable"><p> <span class="num-circle">2</span> SOW</p></a>

                            <!-- Upload Audio -->
                            <a href="javascript:void(0)" class="audios" data-href=".audios_div"><p> <span class="num-circle">3</span> AUDIOS</p></a>

                            <!-- Upload Video -->
                            <a href="javascript:void(0)" class="videos" data-href=".videos_div"><p> <span class="num-circle">4</span> VIDEOS</p></a>

                            <a href="javascript:void(0)" class="pictures" data-href=".pictures_div"><p> <span class="num-circle">5</span> Pictures</p></a>

                            <a href="javascript:void(0)" class="notes" data-href="#displayNotes"><p> <span class="num-circle">6</span> NOTES</p></a>

                            <a href="javascript:void(0)" class="prev_all" data-href="all"><p> <span class="num-circle">7</span> Preview All</p></a>

                        </div>
                    </div>	
                    
                    <div class="clearfix"></div>
                    
                    <center>	
                        <div class="uploading none">
                            <label>&nbsp;</label>
                            <img src="./img/uploading.gif" alt="uploading......">
                        </div>
                    </center>
                    
                    <div class="container add_scan_div block_section appaddscan">
                        <div class="row">
                            <div class="span12">
                                <h2 class="text-center dark-text">Add a 3D scan</h2>
                                <div class="ccol40 scan_div_text">
                                     <p>Suspendisse tempor blandit aliquet. Aenean vehicula et eros eget posuere. Pellentesque eget nibh odio. Integer pellentesque ultrices augue nec maximus. Praesent interdum ac lorem et auctor. </p>

                                    <p>Cras sagittis eros eu eros pulvinar, quis pellentesque arcu lacinia. Duis faucibus eros sit amet tortor imperdiet mattis. </p>

                                    <!-- 3D Image Upload and display -->
                                    <form enctype="multipart/form-data" method="post" accept-charset="utf-8" role="form" id="imageform" name="imageform" action="./admin/claimstructures/upload_images/ec4d673ef989b1b9144a41e5a13f06156b">
                                        <div style="display:none;">
                                            <input type="hidden" name="_method" value="POST">
                                        </div>								
                                        <div class="upload-div">
                                            <input type="hidden" name="images_type" value="3D">
                                            <input type="file" name="images[]" id="galleryaddfile" class="inputfile">
                                            <label for="galleryaddfile" class="galleryaddfileapp">
                                                <span>
                                                                                            <!--<img id="upload" src="/img/add-photo.png" alt="Upload Photo"> <b>Upload</b>-->
                                                    <a id="upload" class="btn btn-primary text-center">Take Scan</a>
                                                </span>
                                            </label>							
                                        </div>
                                        <input type="hidden" name="structuremedia_id" maxlength="100" class="structuremedia_id form-control" autocomplete="off" id="structuremedia-id" value="0">
                                    </form>						

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="container audios-videos sowtable block_section appsowtable" style="">
                        <div class="row">
                            <div class="span12">
                                <div class="col-md-12 dashboard_title borderbt3">
                                    <h2 class="h2-style pull-left"> SOW </h2>						
                                    <a class="pull-right addTask">
                                        <label><i class="fa fa-plus-circle" aria-hidden="true"></i> Add SOW</label>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                                    <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="10%">Trade</th>
                                                <th width="20%">Task</th>
                                                <!--th width="15%">Start Date</th>
                                                <th width="15%">Due Date</th>
                                                <th width="15%">Surveyor</th-->
                                                <th width="5%">Measure</th>
                                                <th width="5%">User Type</th>
                                                <th width="5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="sowtask-8">
                                                <td>Screens and Partitions</td>
                                                <td>Timber stud partition of 38 x 75mm softwood head, sole plate and vertical studs at 400mm centres with horizontal noggings at 600mm centres. Clad both sides with 9.5mm plasterboard</td>
                                                <!--td></td>
                                                <td></td>
                                                <td>-</td-->
                                                <td>123</td><td>m²</td>
                                                <td><a href="javascript:void(0)" class="deletesowtask"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container audios-videos audios_div block_section appaudios_div" style="">
                        <div class="row">
                            <div class="span12">
                                <div class="col-md-12 dashboard_title borderbt3">
                                    <h2 class="h2-style pull-left"> Audios </h2>						<!-- Upload Audio -->
                                    <form enctype="multipart/form-data" method="post" accept-charset="utf-8" role="form" id="audioform" name="audioform"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>						
                                    <a href="javascript:void(0)" class="audios pull-right">
                                        <label for="galleryaddaudiofile">
                                            <input type="file" name="audios[]" id="galleryaddaudiofile" class="inputfile" accept="audio/*" multiple="multiple"> 
                                            <i class="fa fa-music" aria-hidden="true"></i> Add Audio
                                        </label>    
                                    </a>
                                    </form>                    
                                </div><!--/well-->
                                <div class="clearfix"></div>
                                    <div id="myCarousel" class="carousel fdi-Carousel slide">
                                     <!-- Carousel items -->
                                        <div class="sowslider carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                                            <div class="carousel-inner onebyone-carosel audios-videos">
                                                                                    <div class="item active">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="sub-audio-video">
                                                            <div class="audio-img outersection">
                                                                <div class="ui360 outerinner" style="background-image: none;"><div class="sm2-360ui"><canvas class="sm2-canvas hi-dpi" width="100" height="100"></canvas> <span class="sm2-360btn sm2-360btn-default"></span> <div class="sm2-timing alignTweak"></div> <div class="sm2-cover"></div></div><a href="http://staging.tekadmin.dev/uploads/structure/57/89/135423SampleAudio_0.4mb.mp3" class="sm2_link"></a></div>
                                                                <img src="./img/audio.png" class="img-style">
                                                            </div>
                                                                                                            <a href="javascript:void(0)" class="deleteStructure pull-right" data-slid-id="104"><img src="./img/ic-delete.png" width="30"></a>
                                                            <div class="clearfix"></div>
                                                            <p class="heading-style">135423SampleAudio_0.4mb.mp3</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                                                    </div>
                                            <a class="left carousel-control" href="./Users/ios1/Downloads/sow.html#eventCarousel" data-slide="prev"></a>
                                            <a class="right carousel-control" href="./Users/ios1/Downloads/sow.html#eventCarousel" data-slide="next"></a>
                                        </div>
                                        <!--/carousel-inner-->
                                    </div><!--/myCarousel-->
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="container audios-videos videos_div block_section appvideos_div" style="">
                        <div class="row">
                            <div class="span12">
                                <div class="col-md-12 dashboard_title borderbt3">
                                    <h2 class="h2-style pull-left"> Videos </h2>						<!-- Upload Video -->
                                    <form enctype="multipart/form-data" method="post" accept-charset="utf-8" role="form" id="vedioform" name="vedioform" action="./admin/claimstructures/upload_videos/ec4d673ef989b1b9144a41e5a13f06156b">
                                    <div style="display:none;">
                                        <input type="hidden" name="_method" value="POST">
                                    </div>						
                                    <a href="javascript:void(0)" class="videos pull-right">
                                        <label for="galleryaddvediofile">
                                            <input type="file" name="videos[]" id="galleryaddvediofile" class="inputfile" multiple="multiple"> 
                                            <i class="fa fa-video-camera" aria-hidden="true"></i> Add Video
                                        </label>    
                                    </a>
                                    </form>                    
                                </div><!--/well-->
                                <div class="clearfix"></div>

                                <div id="myCarousel" class="carousel fdi-Carousel slide">
                                     <!-- Carousel items -->
                                    <div class="sowslider carousel fdi-Carousel slide" id="videoeventCarousel" data-interval="0">
                                        <div class="carousel-inner onebyone-carosel audios-videos">
                                                                                <div class="item active">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <div class="sub-audio-video">
                                                        <div class="video-img">
                                                            <a href="javascript:void(0)" onclick="playvideo(&#39;http://staging.tekadmin.dev/uploads/structure/57/89/135440SampleVideo_1280x720_1mb.mp4&#39;)">
                                                            <img src="./img/video-img.png" class="video-img-style">
                                                            <img src="./img/play.png" class="play-btn"></a>
                                                        </div>
                                                                                                        <a href="javascript:void(0)" class="deleteStructure pull-right" data-slid-id="105"><img src="./img/ic-delete.png" width="30"></a>
                                                        <div class="clearfix"></div>
                                                        <p class="heading-style">135440SampleVideo_1280x720_1mb.mp4</p>
                                                    </div>
                                                </div>
                                            </div>
                                                                                </div>
                                        <a class="left carousel-control" href="./Users/ios1/Downloads/sow.html#videoeventCarousel" data-slide="prev"></a>
                                        <a class="right carousel-control" href="./Users/ios1/Downloads/sow.html#videoeventCarousel" data-slide="next"></a>
                                    </div>
                                    <!--/carousel-inner-->
                                </div><!--/myCarousel-->
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="container audios-videos pictures_div block_section apppictures_div" style="">
                        <div class="row">
                            <div class="span12">
                                <div class="col-md-12 dashboard_title ">
                                                            <!-- Upload Picture -->
                                    <form enctype="multipart/form-data" method="post" accept-charset="utf-8" role="form" id="imageform_p" name="imageform" action="./admin/claimstructures/upload_images/ec4d673ef989b1b9144a41e5a13f06156b"><div style="display:none;">
                                        <input type="hidden" name="_method" value="POST"></div>												
                                        <a href="javascript:void(0)" class="videos pull-right">
                                        <input type="hidden" name="images_type" value="P">
                                        <input type="file" name="images[]" id="galleryaddfile_p" class="inputfile" multiple="">
                                        <label for="galleryaddfile_p" class="appgalleryaddfile_p">
                                            <i class="fa fa-picture-o" aria-hidden="true"></i> Add Picture
                                        </label>							
                                        </a>
                                        <input type="hidden" name="structuremedia_id" maxlength="100" class="structuremedia_id form-control" autocomplete="off" id="structuremedia-id" value="0">
                                    </form>                    
                                </div><!--/well-->
                                <div class="clearfix"></div>

                                <div class="get-started" style="display: block;"><img src="./img/arrow1.png" class="img-responsive"></div>
                                <h4 class="text-center get-started-text" style="display: block;"><span class="text-message">Get Started by adding a Picture</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="container audios-videos block_section appdisplayNotes" id="displayNotes" style="">
                        <div class="row">
                            <div class="span12">
                                <div class="col-md-12 dashboard_title borderbt3">
                                    <h2 class="h2-style pull-left"> Notes </h2>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 claimclientdetail nopadlr">
                                    <div class="cnote notesection">
                                        <div class="col-sm-12 col-md-12 col-lg-12 nopadlr cmob640">
                                            <form method="post" accept-charset="utf-8" id="NotesAdd" role="form" class="form-horizontal" action="./admin/claimstructures/uploadmedia/ec4d673ef989b1b9144a41e5a13f06156b" novalidate="novalidate"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>	
                                            <div class="claimclientdetaill">
                                                <div class="addnote">
                                                    <div class="input textarea"><textarea name="internal_notes" class="" placeholder="Internal Notes" id="internal-notes" rows="5"></textarea></div>										<input type="hidden" name="id" class="form-control" placeholder="Note Id" id="id" value="0">										<button type="submit" class="btn pull-right" id="btnAddnote"> Add Notes</button>
                                                    <button type="submit" class="btn pull-right" id="btnEditnote" style="display: none;"> Edit Note</button>
                                                </div>
                                            </div>
                                            </form>							</div> 
                                        <div class="clearfix"></div> 
                                        <div class="col-sm-12 col-md-12 col-lg-12 nopadlr cmob640">
                                            <div class="">
                                                <div class="claimclientdetaill mt30">
                                                    <div class="noteinn">
                                                        <div class="note" id="notes-ec4d673ef947b1b9144a41e5a13f06156b">
                                                            <div class="editleft">
                                                                <p>sdfsdfds</p>
                                                            </div>    
                                                            <div class="editright appeditright">
                                                                <div class="actions-list pull-right">
                                                                    <ul> 
                                                                        <li><button type="button" class="ic-btn-black ic-edit btn-link editnotes"></button></li> 
                                                                        <li><button type="button" class="ic-btn-black ic-delete btn-link deletenotes"></button></li> 
                                                                    </ul>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <p>22 Feb 2017 13:54:56</p>
                                                            </div>    
                                                        </div>
                                                        <div class="note" id="notes-ec4d673ef946b1b9144a41e5a13f06156b">
                                                            <div class="editleft">
                                                                <p>sfsdfds</p>
                                                            </div>    
                                                            <div class="editright appeditright">
                                                                <div class="actions-list pull-right">
                                                                    <ul> 
                                                                        <li><button type="button" class="ic-btn-black ic-edit btn-link editnotes"></button></li> 
                                                                        <li><button type="button" class="ic-btn-black ic-delete btn-link deletenotes"></button></li> 
                                                                    </ul>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <p>22 Feb 2017 13:54:54</p>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>   
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                        <!-- Add Edit and Delete Notes --> 

                    </div>       
                </div> 
            </div> 
            <script>   
                $('.appnotification .sub-noti-class a').click(function(){
                    if ( $(this).hasClass('active') ) {
                        $(this).removeClass('active');
                    } else {
                        $('.sub-noti-class a.active').removeClass('active');
                        $(this).addClass('active');
                        add_scan_div = $(this).attr("data-href"); 
                        if(add_scan_div == 'all') {
                            $(".container").show(); 
                        } else {
                            $(".container").hide();
                            $(add_scan_div).show();
                        }
                    }
                }); 
            </script>
    </ion-content>
</ion-view>