<ion-view cache-view="false" has-bouncing="false" view-title="claim Details">
  <div class="inner-header bar bar-subheader bar-assertive" data-ng-init="getSOWDetail()">
    <div class="" style="width: 100%;">
      <div class="col" style="padding: 3px;">
        <div class="sowhead">
          <div class="sowheadtitlesow">
            <h2>Room : {{sowList.name}} - Job No : {{sowList.job_number}}</h2>
          </div>
          <div class="sowheadrightsow">
            <ul class="quick-action pull-right">
              <!--<li> <button type="button" style="margin-top:0;" ng-click="claimDetails(claim_id)" class=""> <span style="font-size: 33px;padding-top: 6px;"><</span>  Back</button>
                            </li>-->
              <li><button ng-click="dashboard()"><img src="./img/home.png" class="iconimage"/></button></li>
              <li><button ng-click="claimDetails(claim_id)"><img src="./img/back.png" class="iconimage"/></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .audio_buttion {
      position: absolute;
      top: 70px;
      margin-left: 125px;
    }
  </style>
  <ion-content>
    <div id="sow">
      <div class="clearfix"></div>

      <div class="clearfix"></div>
      <div id="boxoutmain">
        <div class="main-div">
          <div class="upload-div">
            <span class="bgsow">
                            <img ng-if="new_pro_image" ng-src='{{new_pro_image}}'/>
                            <img  ng-hide="new_pro_image" src='./img/schedule-work-assets.png' />
                        </span>
            <input type="file" name="file" id="file" class="inputfile">
          </div>
          <div class="notification-div appnotification">
            <div class="sub-noti-class">

              <a href="javascript:void(0)" ng-click="view_all = 0;
                            sowCtrl.dataPictureLoaded=false;
                            sowCtrl.dataAudioLoaded=false;
                            sowCtrl.dataVideoLoaded=false;" class="add_scan" ng-class="{active : open_tab=='add_scan'}" display-data=".add_scan_div">
                <p> <span class="num-circle">1</span> Add Scan</p>
              </a>

              <a href="javascript:void(0)" ng-click="tab_click('sow_tab')" class="sow" id="0" ng-class="{active : open_tab=='sow'}" display-data=".sowtable">
                <p> <span class="num-circle">2</span> SOW</p>
              </a>

              <!-- Upload Audio -->
              <a href="javascript:void(0)" ng-click="tab_click('audio_div')" class="audios" ng-class="{active : open_tab=='audios'}" display-data=".audios_div">
                <p> <span class="num-circle">3</span> AUDIOS</p>
              </a>

              <!-- Upload Video -->
              <a href="javascript:;" class="videos" ng-click="tab_click('videos_div')" display-data=".videos_div">
                <p><span class="num-circle">4</span> VIDEOS </p>

              </a>

              <a href="javascript:void(0)" ng-click="tab_click('pictures_div')" class="pictures" display-data=".pictures_div">
                <p> <span class="num-circle">5</span> Pictures</p>
              </a>

              <a href="javascript:void(0)" ng-click="tab_click('notes')" class="notes" ng-class="{active : open_tab=='notes'}" display-data="#displayNotes">
                <p>
                  <span class="num-circle">6</span> NOTES</p>
              </a>
              <a href="javascript:void(0)" ng-click="tab_click('prev_all')" class="prev_all" display-data="all">
                <p>
                  <span class="num-circle">7</span> Preview All</p>
              </a>

            </div>
          </div>

          <div class="clearfix"></div>

          <div class="container add_scan_div block_section appaddscan" ng-class="{display_block : open_tab=='add_scan'}">
            <div class="row">
              <div class="span12">
                <h2 class="text-center dark-text">Add a 3D scan</h2>
                <div class="ccol40 scan_div_text">
                  <p>Suspendisse tempor blandit aliquet. Aenean vehicula et eros eget posuere. Pellentesque eget nibh odio. Integer pellentesque ultrices augue nec maximus. Praesent interdum ac lorem et auctor. </p>

                  <p>Cras sagittis eros eu eros pulvinar, quis pellentesque arcu lacinia. Duis faucibus eros sit amet tortor imperdiet mattis. </p>

                  <!-- 3D Image Upload and display -->
                  <div class="upload-div">

                    <label ng-click="select_fileoption('upload','3D')" for="galleryaddfile" class="galleryaddfileapp">
                        <span>
                            <a id="upload" class="btn btn-primary text-center">Take Scan</a>
                        </span>
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="container audios-videos sowtable block_section appsowtable" ng-class="{display_block : open_tab=='sow'}" style="">
            <div class="row">
              <div class="span12">
                <div class="col-md-12 dashboard_title" ng-class="{ 'borderbt3' : sowList.sowtask.length}">
                  <h2 ng-show="sowList.sowtask.length > 0" class="h2-style pull-left"> SOW </h2>
                  <a class="pull-right addTask">
                    <label ng-click="showAddSowPopup()">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i> Add SOW
                    </label>
                  </a>
                </div>
                <div ng-if="sowList.sowtask.length == 0 && view_all==0">
                  <div class="get-started" style="display: block;"><img src="./img/arrow1.png" class="img-responsive"></div>
                  <h4 class="text-center get-started-text" style="display: block;margin-top: 45px;"><span class="text-message">Get Started by adding Schedule of Work</span></h4>
                </div>

                <div class="clearfix"></div>
                <ion-scroll ng-if="sowList.sowtask.length > 0" direction="y" style="height: 300px;" class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="10%">Trade</th>
                        <th width="20%">Task</th>
                        <th width="5%">Measure</th>
                        <th width="5%">User Type</th>
                        <th width="5%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(sowtask_k, sowtask_v) in sowList.sowtask" id="sowtask-8">
                        <td>{{sowtask_v.trade_name}}</td>
                        <td>{{sowtask_v.task_name}}</td>
                        <td>{{sowtask_v.measure}}</td>
                        <td>{{sowtask_v.uom}}</td>
                        <td>
                          <button type="button" style="width: 28px;height: 28px;" ng-click="deleteSowTask(sowtask_v.id)" class="ic-btn-black ic-delete btn-link deletenotes"></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ion-scroll>
              </div>
            </div>
          </div>

          <div class="container audios-videos audios_div block_section appaudios_div" ng-class="{display_block : open_tab=='audios'}">
            <div class="row">
              <div class="span12">
                <div class="col-md-12 dashboard_title" ng-class="{ 'borderbt3' : sowList.structuremedia.Audio.length}">
                  <h2 class="h2-style pull-left" ng-if="sowList.structuremedia.Audio.length"> Audios </h2>
                  <!-- Upload Audio -->
                  <a href="javascript:void(0)" ng-click="cap_audio()" class="audios pull-right">
                    <label for="galleryaddaudiofile">
                        <i class="fa fa-music" aria-hidden="true"></i> Add Audio
                    </label>
                  </a>
                </div>
                <!--/well-->
                <div ng-if="sowList.structuremedia.Audio.length == 0 && view_all==0">
                  <div class="get-started" style="display: block;"><img src="./img/arrow1.png" class="img-responsive"></div>
                  <h4 class="text-center get-started-text" style="display: block;margin-top: 45px;"><span class="text-message">Get Started by adding an Audio</span></h4>
                </div>
                <div class="slick-container">
                  <slick init-onload="false" slick-apply='slickApply' ng-if="dataAudioLoaded" infinite="false" slides-to-show=3 slides-to-scroll=3 draggable='false' swipe="false">
                    <div class="slick-item" ng-repeat="(structuremedia_key , structuremedia_audio) in sowList.structuremedia.Audio">
                      <div class="slick-item-waper">
                        <div class="audio-wraper">
                          <img src="./img/audio.png" class="height-width-100">
                          <div>
                            <img ng-click="audio_stop({{structuremedia_audio.id}})" src="./img/a-pause.png" ng-if="structuremedia_audio.is_play" class="audio_buttion">
                            <img ng-click="audio_play({{structuremedia_audio.id}})" src="./img/a-play.png" ng-if="structuremedia_audio.is_stope" class="audio_buttion">
                          </div>
                        </div>
                        <span class="deletetooltip">
                            <a href="javascript:void(0)" ng-click="deletemedia(structuremedia_audio.id,'audios')" class="deleteStructure pull-right" data-slid-id="104">
                                <img src="./img/ic-delete.png" width="30">
                            </a>
                            <p class="heading-style">
                            {{structuremedia_audio.media_file.split('/')[structuremedia_audio.media_file.split('/').length - 1]}}</p>
                        </span>
                      </div>
                    </div>
                  </slick>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="container audios-videos videos_div block_section appvideos_div" ng-class="{display_block : open_tab=='videos'}" audio_loop style="">
            <div class="row">
              <div class="span12">
                <div class="col-md-12 dashboard_title" ng-class="{ 'borderbt3' : sowList.structuremedia.Video.length}">
                  <h2 ng-if="sowList.structuremedia.Video.length > 0" class="h2-style pull-left"> Videos </h2>
                  <!-- Upload Video -->
                  <a href="javascript:void(0)" ng-click="cap_video()" class="videos pull-right">
                    <label for="galleryaddvediofile">
                        <!--<input type="file" name="videos[]" id="galleryaddvediofile" class="inputfile" multiple="multiple"> -->
                        <i class="fa fa-video-camera" aria-hidden="true"></i> Add Video
                    </label>

                  </a>
                </div>
                <!--/well-->

                <div ng-if="sowList.structuremedia.Video.length == 0 && view_all==0">
                  <div class="get-started" style="display: block;"><img src="./img/arrow1.png" class="img-responsive"></div>
                  <h4 class="text-center get-started-text" style="display: block;margin-top: 45px;"><span class="text-message">Get Started by adding a Video</span></h4>
                </div>
                <div class="clearfix"></div>
                <div class="slick-container">
                  <slick init-onload="false" slick-apply='slickApply' ng-if="dataVideoLoaded" infinite=false slides-to-show=3 slides-to-scroll=3 draggable='false' swipe="false">
                    <div class="slick-item" ng-repeat="(key, Video_value) in sowList.structuremedia.Video">
                      <div class="slick-item-waper">
                        <div>
                          <a href="javascript:void(0)" class="height-width-100" ng-click="media_popup_open(Video_value.media_file,'V')">
                            <img src="./img/video-img.png" class="height-width-100">
                            <img class="pay-button" src="./img/play.png">
                          </a>
                        </div>
                        <div class="deletetooltip">
                          <a href="javascript:void(0)" class="deleteStructure pull-right" ng-click="deletemedia(Video_value.id,'videos')" data-slid-id="105"><img src="./img/ic-delete.png" width="30"></a>
                          <p class="heading-style">{{Video_value.media_file.split('/')[Video_value.media_file.split('/').length - 1]}}</p>
                        </div>
                      </div>
                    </div>
                  </slick>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="container audios-videos pictures_div block_section apppictures_div" ng-class="{display_block : open_tab=='pictures'}" style="">
            <div class="row">
              <div class="span12">
                <div class="col-md-12 dashboard_title ">
                  <!-- Upload Picture -->
                  <div class="col-md-12 dashboard_title" ng-class="{borderbt3 : sowList.structuremedia.Picture.length > 0 }">
                    <h2 class="h2-style pull-left" ng-if="sowList.structuremedia.Picture.length"> Picture </h2>
                    <a href="javascript:void(0)" ng-click="select_fileoption('upload','P')" class="videos pull-right">
                      <label for="galleryaddfile_p" class="appgalleryaddfile_p">
                          <i class="fa fa-picture-o" aria-hidden="true"></i> Add Picture
                      </label>
                    </a>
                  </div>
                  <input type="hidden" name="structuremedia_id" maxlength="100" class="structuremedia_id form-control" autocomplete="off" id="structuremedia-id" value="0">

                </div>
                <!--/well-->
                <div class="clearfix"></div>
                <div ng-if='sowList.structuremedia.Picture.length == 0 && view_all==0'>
                  <div class="get-started" style="display: block;"><img src="./img/arrow1.png" class="img-responsive"></div>
                  <h4 class="text-center get-started-text" style="display: block;"><span class="text-message">Get Started by adding a Picture</span></h4>
                </div>
                <div class="slick-container">
                  <slick init-onload="false" slick-apply='slickApply' ng-if="dataPictureLoaded" infinite=false slides-to-show=3 slides-to-scroll=3 draggable='false' swipe="false">
                    <div class="slick-item" ng-repeat="structuremediaPicture in sowList.structuremedia.Picture">
                      <div class="slick-item-waper">
                        <div class="audio-img outersection" ng-click="media_popup_open(structuremediaPicture.media_file,'I')">
                          <img ng-src="{{structuremediaPicture.media_file}}" class="img-style">
                        </div>
                        <span class="deletetooltip">
                            <a href="javascript:void(0)" class="deleteStructure pull-right" ng-click="deletemedia(structuremediaPicture.id,'pictures')" data-slid-id="104">
                                <img src="./img/ic-delete.png" width="30">
                            </a>
                            <p class="heading-style" style="line-height: 27px;">{{structuremediaPicture.media_file.split('/')[structuremediaPicture.media_file.split('/').length - 1]}}</p>
                        </span>
                      </div>
                    </div>
                  </slick>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="container audios-videos block_section appdisplayNotes" id="displayNotes" ng-class="{display_block : open_tab=='notes'}" style="">
            <div class="row">
              <div class="span12">
                <div class="col-md-12 dashboard_title borderbt3">
                  <h2 class="h2-style pull-left"> Notes </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 claimclientdetail nopadlr">
                  <div class="cnote notesection">
                    <div class="col-sm-12 col-md-12 col-lg-12 nopadlr cmob640">
                      <form method="post" ng-submit="savenote()" accept-charset="utf-8" id="NotesAdd" role="form" class="form-horizontal">
                        <div class="claimclientdetaill">
                          <div class="addnote">
                            <div class="input textarea">
                              <textarea name="internal_notes" ng-model="internal_notes.internal_notes" class="" placeholder="Internal Notes" id="internal-notes" rows="5"></textarea>
                            </div>
                            <input type="hidden" ng-model="internal_notes.id" name="id" class="form-control" placeholder="Note Id" id="id" value="0">
                            <button type="submit" ng-hide="internal_notes.id" class="btn pull-right" id="btnAddnote"> Add Notes</button>
                            <button type="submit" ng-show="internal_notes.id" class="btn pull-right" id="btnEditnote"> Edit Note</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12 nopadlr cmob640">
                      <div class="">
                        <div class="claimclientdetaill mt30">

                          <ion-scroll ng-if="sowList.structurenotes.length > 0" direction="y" style="height: 300px;" class="table-responsive">
                            <div ng-repeat="(key, value) in sowList.structurenotes" class="note" id="notes-ec4d673ef947b1b9144a41e5a13f06156b">
                              <div class="editleft">
                                <p>{{value.internal_notes}}</p>
                              </div>
                              <div class="editright appeditright">
                                <div class="actions-list pull-right">
                                  <ul>
                                    <li><button type="button" ng-click="getnote(value.internal_notes,value.id)" class="ic-btn-black ic-edit btn-link editnotes"></button></li>
                                    <li><button type="button" ng-click="deleteNote(value.id,value.db_id)" class="ic-btn-black ic-delete btn-link deletenotes"></button></li>
                                  </ul>
                                </div>
                                <div class="clearfix"></div>
                                <p>{{value.created}} ({{value.username}})</p>
                              </div>
                            </div>
                          </ion-scroll>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <!-- Add Edit and Delete Notes -->
        </div>
      </div>
    </div>
    <script>
      $('.appnotification .sub-noti-class a').click(function() {
        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
        } else {
          $('.sub-noti-class a.active').removeClass('active');
          $(this).addClass('active');
          add_scan_div = $(this).attr("display-data");
          if (add_scan_div == 'all') {
            $(".container").show();
          } else {
            $(".container").hide();
            $(add_scan_div).show();
          }
        }
      });
    </script>

  </ion-content>
</ion-view>
