<ion-view view-title="surveyorlist">
    <div class="inner-header bar bar-subheader bar-assertive">
        <div class="row">
            <div class="col col-25 padding0">
                <h3 class="margin0">Surveyors</h3>
            </div>
            <div class="col col-75 padding0">  </div>
        </div>
    </div>
    <ion-content>
        <div id="surveyor-list">
        <div class="clearfix"></div> 
        <div class="row"> 
            <div class="col cfiltertype">
                <div class="portlet box blue-madison">
                    <div class="portlet-title">
                        <div class="actions caction">
                            <div class="col ccolmn-50"> 
                                
                                 <button type="button" ng-click="showAddSurveryorPopup()" class="btn-sqr claim-add pull-left btn-border"><i class="fa fa-plus"></i> New Surveyor</button>
                                <button alt="addRecord" ng-click="showAddClaimPopup()" class="btn-sqr claim-add pull-left btn-border">
                                    <i class="fa fa-plus"></i> Add Claim
                                </button>
                                
                            </div>
                            <div class="col ccolmn-50 rightsec">
                                <div class="">   
                                    <div class="input-group cinput-group rightinput"> 
                                        <input type="text" id="searchtxt" name="searchtxt" ng-model="serch_box.searchtxt" placeholder="Search for..." class="search-txt cform-control" /> 
                                        <span class="input-group-btn"> 
                                            <button class="btn searchbtn" ng-click="search()" type="submit">Go!</button> 
                                        </span> 
                                    </div>  
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>  
        <div class="row"> 
            <div class="col padding0">
                <div class="row nk-row padl0 padr0">  
                    <div ng-repeat="surveyArr in surveyList" repeat-done="equalHeight()" class="citem nk-col" style="" ng-cloak>
                        <div class="thumbnail"> 
                            <div class="imagecard">
                                <img class="group list-group-image" src="{{surveyArr.profile_pic}}" alt="Testd">
                            </div>    
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading"></h4>
                                <div class="row">
                                    <div class="fullcol">
                                        <table class="info-table"> 
                                            <tbody>
                                            <tr>
                                                <th class="padl20"><!--<img src="img/map-pin-new.png" width="15">--> Surveyor <span class="pull-right">:</span> </th>
                                                <td><b>{{surveyArr.firstname}} {{surveyArr.lastname}}</b> </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/id-no.png" width="15"--> Address <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.address1}} </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/id-no.png" width="15"--> Town <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.address2}} </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/id-no.png" width="15"--> City <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.city}} </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/id-no.png" width="15"--> Postcode <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.zip}} </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/id-no.png" width="15"--> ID Number <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.id_number}} </td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/email.png" width="15"--> Email <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.email}}</td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/phone.png" width="15"--> Phone <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.mobile}}</td>
                                            </tr>
                                            <tr>
                                                <th class="padl20"><!--img src="img/vehicle-reg.png" width="15"--> Vehicle Reg. <span class="pull-right">:</span></th>
                                                <td>{{surveyArr.vehical_reg}} </td>
                                            </tr>
                                        </tbody></table>
                                    </div>
                                </div>
                            </div>
                            <div class="row bottom-area">    
                                <div class="fullcol cabsclaimactionlist">
                                    <div class="actions-list">
                                        <ul>
                                            <li ng-click="showEditSurveryorPopup({{surveyArr.id}});">
                                                <a href="javascript:;"><span><img src="./img/ic-edit.png" class="img-responsive"></span><p>Edit</p>
                                                </a>
                                            </li>
                                            <li class="active" ng-click="changeStatus({{surveyArr.id}},'0');" ng-show="surveyArr.status == '1'">
                                                <a href="javascript:;">
                                                    <span><img src="./img/active-button.png" class="img-responsive"></span>
                                                    <p>Active</p>
                                                </a>
                                            </li>
                                            <li class="inactive" ng-click="changeStatus({{surveyArr.id}},'1');" ng-show="surveyArr.status == '0'">
                                                <a href="javascript:;">
                                                    <span><img src="./img/inactive-button.png" class="img-responsive"></span>
                                                    <p>Inactive</p>
                                                </a>
                                            </li> 
                                         </ul>
                                     </div>                        
                                  </div>
                              </div>
                        </div>
                    

                    </div> 
                </div>    
            </div>    
        </div>
        </div>            
            
        
    </ion-content>
    <script>
        $(document).ready(function(){  
            var green="img/sync-green.png";  
            $(".uaction-list li.completed img").attr('src',green);
            $(".uaction-list li.completed p.synctext").css("color", "#32bb35");
        });
        </script>    
        <script>
            //var arr = $.makeArray()
            //$('#surveyor-list .citem .thumbnail .caption').each(function(){
              //  arr.push($(this).outerHeight());
            //});
            //$('#surveyor-list .citem .thumbnail .caption').css('height', Math.max.apply( Math, arr ) + 40);   
        </script>
</ion-view>