/* Dashboard css start here */

.mini-stat {
  padding: 15px 15px;
  border-radius: 1px;
  height: 126px;
}

.mini-stat-chart {
  width: auto;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.mini-stat-icon {
  width: 74px;
  height: 74px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  color: #FFF;
}

.mini-stat-info {
  font-size: 12px;
  padding-top: 2px;
}

.mini-stat-info span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 7px;
  line-height: 42px;
  line-height: 80px;
}

.mini-stat-icon i {
  font-size: 70px;
}

.bg-profile {
  background-color: #aab270 !important;
  border: 1px solid #aab270;
  color: white;
}

.bg-profile img {
  /* border: 2px solid #fff;
     border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;*/
}

#dashboard .bg-profile img {
  height: 100% !important;
  width: auto;
}

.bg-surveyor {
  background-color: #dd6057 !important;
  border: 1px solid #dd6057;
  color: white;
}

.bg-claim {
  background-color: #edb656 !important;
  border: 1px solid #edb656;
  color: white;
}

.bg-help {
  background-color: #c37e85 !important;
  border: 1px solid #c37e85;
  color: white;
}

.bg-facebook a, .bg-facebook i, .bg-facebook span, .bg-facebook small, .bg-facebook p {
  color: white;
}

.bg-facebook .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bg-facebook .morris-hover-row-label {
  background-color: #2d4373;
}

.cout-box {
  width: 100%;
  height: 150px;
  background: url('../img/next-icon.png') 0 0 no-repeat;
  background-size: 100%;
}

.progress {
  background-color: #2d949d;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  bottom: 0;
  height: 34px;
}

.progress-bar {
  background-color: #96f0f8;
  box-shadow: none;
}

.progress_count {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 9px;
  /* color: #96f0f8; */
  color: #fff;
}

.info-detail {
  padding: 15px;
  padding-bottom: 5px;
  color: white;
  position: relative;
}

.info-title {
  text-transform: uppercase;
  font-size: 20px;
}

.sec-info {
  text-transform: capitalize;
  position: absolute;
  font-size: 15px;
  right: 3px;
  color: #96f0f8;
  top: 47%;
}

.count-numbers {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 29px;
  display: block;
  color: white;
}

.citem .thumbnail>img {
  width: 100%;
}

.thumbnail {
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  min-height: 100%;
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.thumbnail .bottom-area {
  position: absolute;
  bottom: 0px;
}

.fullcol {
  padding-bottom: 50px;
  width: 100%;
  display: table;
}

.fullcol .info-table th {
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.fullcol .info-table th, .fullcol .info-table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.fullcol .actions-list ul li a {
  display: block;
}

.fullcol .actions-list ul li a span {
  float: left;
}

.fullcol .actions-list li p {
  display: block;
  float: left;
  padding-left: 4px;
  line-height: 29px;
  margin: 0;
  color: #26639e;
}

.fullcol .actions-list ul li a span img {
  width: 30px;
}

.fullcol .actions-list ul {
  width: 100%;
}

.fullcol .actions-list ul li {
  width: 20%;
  /*float: left;*/
}

.fullcol .actions-list ul {
  margin: 0 auto;
  text-align: center;
}

.fullcol .info-table td {
  padding-left: 20px;
}

.imagecard {
  height: 10em;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.imagecard img {
  width: 100%;
  margin: 0;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#dashboard .imagecard img {
  width: 100%;
  height: 100%;
}


/* 10-1-2017 CSS Starts */

@media only screen and (max-width: 1024px) {
  .swiper-wrapper {
    padding: 0 !important;
  }
  .claimdetail-table th {
    width: 40%;
  }
  .fullcol .actions-list ul li a span img {
    width: 18px;
  }
  .fullcol .actions-list li p {
    font-size: 12px;
    line-height: 17px;
  }
  .fullcol .actions-list ul li {
    width: auto;
    margin-right: 5px;
  }
}

.fullcol .info-table tbody th {
  width: 42%;
}

.claimclientdetail {
  margin-top: 20px;
}

.claimclientdetail h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #0c0b0b;
  text-transform: uppercase;
  font-weight: 600;
}

.claimclientdetail .claimclientdetaill img {
  border: 1px solid #263d4a;
}

#detial-view .quick-action li button {
  color: #26639e;
  line-height: 20px;
}

#detial-view .ic-delete {
  width: 38px;
  height: 38px;
}

#detial-view .header_menu {
  border-bottom: 1px solid #26639e;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.add-claim .popup-buttons {
  margin: 0 auto;
}

.add-claim .button.ng-binding.button-default {
  margin: 10px !important;
  width: 200px;
  font-weight: 600 !important;
}

.btn-sqr, .add-claim .button.ng-binding.button-default {
  color: #fff !important;
  background: #26639e !important;
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#detial-view .claim_status {
  top: -4px;
  position: relative;
}

.claimclientdetail h3 {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px;
}

.claimclientdetail .box-border {
  border: 1px solid #999;
  margin: 5px 0;
  padding: 10px 10px 0px 10px;
}

.claimclientdetail textarea {
  display: block;
  width: 98%;
  height: 180px;
  padding: 6px 12px;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.claimclientdetail img.client {
  max-height: 50px;
  width: auto;
  max-width: 80px;
  border: 1px solid #26639e;
  float: left;
}

.claimdetailinnleft {
  float: left;
  padding-bottom: 20px;
  padding-top: 4px;
}

.claimdetailinnleft img {
  margin-right: 10px;
  float: left;
}

.claimdetailinnright h3 {
  margin: 3px 0;
  font-size: 17px;
}

.nopadl {
  padding-left: 0;
}

.mtop30 {
  margin-top: 30px;
  display: block;
}

.claimdetail-table th {
  padding: 0;
  text-align: left;
}

.claimdetail-table td {
  padding: 0 10px;
}

.claimdetailmain h4 {
  color: #263d4a;
  font-weight: 700;
  font-size: 18px;
}

.surveyorimageboxouter {
  background: url('../../img/surveyor2.png') 0 0 no-repeat;
  background-size: 100%;
  width: 167px;
  height: 167px;
}

.padl5 {
  padding-left: 7px;
}

.capitalizetext {
  text-transform: capitalize !important;
}

.detailboxes {
  padding-bottom: 15px;
  display: block;
}

.cborderbox {
  display: table;
  border-bottom: 1px solid #2c0000;
  padding-bottom: 15px;
  width: 100%;
}

.completedrect {
  height: 18px;
  width: 18px;
  background-color: #32bb35;
  margin: 1px 5px;
  float: left;
}

.notcompletedrect {
  height: 18px;
  width: 18px;
  background-color: #bcbcbc;
  margin: 1px 5px;
  float: left;
}

.completestatus ul li {
  margin: 0 15px;
}

.completestatus ul li:last-child {
  margin: 0;
}

.reportsbtns {
  text-align: center;
  margin: 15px auto 0;
  width: 98%;
}

.reportsbtns button {
  font-size: 18px;
  padding: 15px 44.8px;
  margin-bottom: 5px;
  background-color: #bcbcbc;
  color: #fff;
}

.reportsbtns button:hover, .reportsbtns button:focus, .reportsbtns button:visited {
  color: #fff;
}

.greenactive {
  background-color: #32bb35 !important;
  color: #fff;
}

.completestatus {
  margin-top: 15px !important;
}

.notesection {
  border-top: 1px solid #2c0000;
  padding-top: 15px;
  width: 100%;
}

.note {
  background-color: #fff;
  border: 1px solid #ccc;
  display: table;
  width: 100%;
  height: 80px;
  position: relative;
}

.note .editleft {
  display: block;
  float: left;
  width: 70%;
}

.note .editright {
  width: 30%;
  float: left;
}

.note .editright p {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.editright ul {
  padding: 5px 10px 0 0;
  margin: 0;
}

.editright ul li {
  list-style: none;
  display: inline-block;
  width: 30px;
}

.editright ul li a span {
  display: table;
  width: 100%;
}

.editright ul li a i {
  font-size: 18px;
  padding-top: 18px;
}

.editbox {
  background-color: #263d4a;
  width: 80px;
  float: left;
  height: 80px;
}

.deletebox {
  background-color: #263d4a;
  width: 80px;
  float: left;
  height: 80px;
}

.editbox a, .deletebox a {
  color: #fff;
  display: block;
  text-align: center;
  height: 80px;
  text-decoration: none;
}

.note p {
  padding: 5px 10px;
}

.noteinn {
  height: 330px;
  overflow-y: scroll;
}

.addnote textarea {
  height: 330px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: none;
  resize: none;
  padding: 5px;
}

.addnote button {
  margin: auto;
  display: block;
  margin-top: 10px;
  background-color: #26639E;
  color: #fff;
  border-radius: 2px;
  width: 100px;
  font-size: 16px;
}

.addnote button:hover, .addnote button:visited, .addnote button:focus {
  color: #fff;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox+label {
  margin: 3px 0;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked+label::after {
  content: '\f00c';
  background-color: #26639E;
  font-size: 14px !important;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.regular-checkbox:checked+label {
  color: #99a1a7;
}

.claimcheckbox {
  padding: 0;
  margin: 0;
}

.claimcheckbox li {
  list-style: none;
  /*display: inline-block; */
  float: left;
  margin: 0;
  padding: 20px 0;
  width: 25%;
}

.claimcheckbox .cltitle {
  float: left;
  margin-right: 15px;
  color: #263d4a;
  font-size: 15px;
  font-weight: 700;
}

.claimcheckbox .check {
  display: block;
  float: left;
}

.note .editright .actions-list li .ic-btn-black {
  display: block;
  width: 30px;
  background-size: 25px;
  float: left;
  margin: 0 3px;
}

.claimdetailactions .actions-list {
  margin-top: 0 !important;
}

.claimclientdetaill h4 {
  margin-top: 0;
}

#detial-view .actions-list ul li a {
  display: block;
  width: 80px !important;
  background-size: 25px !important;
  float: left;
  height: 35px;
  margin: 0 3px;
}

#detial-view .actions-list ul li a span {
  padding-left: 27px;
  display: table;
  color: #33B4BE;
  line-height: 0px;
  margin: 0;
  float: left;
}

.cpull-right {
  float: right;
}

.claimclientdetailr {
  padding-left: 15px;
}

.claimclientdetailr a, .claimclientdetailrr a {
  color: #263d4a;
  text-decoration: none;
}

.claimdetailmain table {
  width: 100%;
}

.completestatus ul li {
  width: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.note .editright .actions-list li .ic-btn-black {
  display: block;
  width: 30px;
  background-size: 25px;
  float: left;
  margin: 0 3px;
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.cw50 {
  width: 50%;
  float: left;
  padding: 5px;
}

.claimdetail-table th img {
  vertical-align: middle;
}

.claimclientdetailrr {
  padding: 5px 0 0 5px;
}

.claimclientdetaill {
  padding: 10px;
}

.statusbar {
  padding-right: 15px;
}


/* SOW CSS */

#boxoutmain {
  display: table;
  width: 100%;
}

#leftsow {
  background: #26639E;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
  min-height: 250vh;
}

#rightsow {
  background: #ffffff;
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
  min-height: 250vh;
}

#rightsow .centertext {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

#rightsow .centertext h1 {
  font-size: 24px;
  font-weight: 700;
}

#leftsow ul {
  padding: 0;
  margin: 0;
}

#leftsow ul li {
  list-style: none;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
  display: block;
  height: 50px;
  padding: 12px;
  padding-left: 35px;
  border: none;
  list-style: none;
  height: 50px;
  border-bottom: 1px solid #000;
  box-shadow: 0 0px 1px 0px #fff;
  -moz-box-shadow: 0 0px 1px 0px #fff;
  -webkit-box-shadow: 0 0px 1px 0px #fff;
}

#leftsow a.parentlink {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  display: block;
  height: 50px;
  padding: 15px;
  border: none;
  list-style: none;
  height: 50px;
  border-bottom: 1px solid #000;
  box-shadow: 0 0px 1px 0px #fff;
  -moz-box-shadow: 0 0px 1px 0px #fff;
  -webkit-box-shadow: 0 0px 1px 0px #fff;
  -moz-transition: width .15s;
  -o-transition: width .15s;
  -webkit-transition: width .15s;
  transition: width .15s;
}

#leftsow a.parentlink:hover {
  background-color: #098792;
}

#leftsow ul li.active {
  background-color: #8ee1e8;
  position: relative;
}

#leftsow ul li.active a {
  color: #263d4a;
  text-decoration: none;
}

#leftsow a.parentlink span {
  float: right;
  margin-top: -3px;
}

.addlink .addtext {
  position: absolute;
  right: 15px;
}

.addlink .addtext a {
  text-decoration: none;
  font-size: 15px;
}

.addlink .addtext i {
  font-size: 12px;
}

#leftsow ul li a {
  color: #fff;
}

#leftsow .bottommenu {
  /*position: absolute;*/
  position: static;
  bottom: 50px;
  left: 0;
  width: 100%;
}

#leftsow .bottommenu a.parentlink:first-child {
  border-top: 1px solid #000;
}

#leftsow .bottommenu a.parentlink {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  display: block;
  height: 50px;
  padding: 15px;
  border: none;
  list-style: none;
  height: 50px;
  border-bottom: 1px solid #000;
  box-shadow: 0 0px 1px 0px #fff;
  -moz-box-shadow: 0 0px 1px 0px #fff;
  -webkit-box-shadow: 0 0px 1px 0px #fff;
  -moz-transition: width .15s;
  -o-transition: width .15s;
  -webkit-transition: width .15s;
  transition: width .15s;
}

.bottommenu ul li .ic-btn-black {
  display: block;
  width: 30px;
  background-size: 25px;
  float: left;
  margin: 0 3px;
}

.bottommenu ul li .ic-edit {
  background: url('/img/ic-edit-white.png') 0 0 no-repeat;
  background-size: 30px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.bottommenu ul li .ic-delete {
  background: url('/img/ic-delete-white.png') 0 0 no-repeat;
  background-size: 30px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.bottommenu ul.bottomactionlist li {
  padding: 0 !important;
  float: left;
  box-shadow: none !important;
  border: none !important;
}

#leftsow .bottommenu a.parentlink span {
  margin-top: -8px;
}

.sowhead h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  color: #fff;
}

.sowheadtitle, .sowheadsync, .sowheadsupport {
  float: left;
  width: 33.33%;
}

.sowheadsync ul li .ic-sync {
  background: url('/img/ic-sync.png') 0 0 no-repeat;
  background-size: 30px;
  width: 75px;
  height: 35px;
  padding: 0;
  float: left;
}

.sowheadsync ul li .ic-sync span {
  color: #FFC20A;
}

.sowheadsync ul li span {
  padding-left: 35px;
}

.sowheadsync .actions-list li {
  width: auto;
  margin: 0 10px;
}

.sowheadsync ul li .ic-finish {
  background: url('/img/ic-finish.png') 0 0 no-repeat;
  background-size: 30px;
  width: 75px;
  height: 35px;
  padding: 0;
  float: left;
}

.sowheadsync ul li .ic-finish span {
  color: #26639E;
}

.sowheadsync ul {
  text-align: center;
  width: 100%;
}

.sowheadsupport .actions-list ul li {
  width: auto;
  margin: 0 5px;
}

.sowheadsupport .actions-list ul li a {
  line-height: 30px;
  text-transform: uppercase;
  color: #26639E;
  text-decoration: none;
  font-size: 13px;
}

.sowheadsupport .actions-list ul li img {
  float: left;
  display: block;
  height: auto;
  max-width: 100%;
  width: 30px;
}

.sowheadsupport .actions-list ul li span {
  padding-left: 5px;
}

@media only screen and (max-width: 768px) {
  .bottomstatusbtns .claimreportstatus a img {
    width: 15px !important;
  }
  .bottomstatusbtns .claimreportstatus a .colright p:first-child {
    font-size: 0.60em !important;
    line-height: 13px;
  }
  .bottomstatusbtns .claimreportstatus a .colright p img {
    float: left;
    width: 20px !important;
  }
  .bgsow {
    height: 255px !important;
  }
  .mini-stat-info span {
    font-size: 9px;
    line-height: 30px;
  }
  .mini-stat-icon {
    width: 50px;
    height: auto;
  }
  .mini-stat-icon i {
    font-size: 50px;
    margin: 0px 0;
  }
  .mini-stat-icon img {
    margin: 0px 0;
  }
  .mini-stat {
    height: 100px;
    margin: 0;
  }
  .mini-stat-info {
    float: left;
  }
  .info-title {
    font-size: 13px;
  }
  .count-numbers {
    margin-top: 5px;
    font-size: 15px;
  }
  .cout-box {
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mini-stat-info span {
    font-size: 14px;
  }
  .mini-stat-icon i {
    font-size: 60px;
    margin: 10px 0;
  }
  .mini-stat-icon img {
    margin: 10px 0;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  /*.sowheadtitle {
        width: 100%;
        display: table;
    }
    .sowheadsync {
        width: 40%;
    }*/
  .sowheadtitle, .sowheadsync, .sowheadsupport {
    width: 31.33%;
  }
  .sowheadsync ul {
    text-align: left;
  }
  .sowheadsupport {
    width: auto;
    float: right;
    margin-bottom: 10px;
  }
  .sowhead h2 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 980px) {
  .uploadedphotos ul li {
    width: 24% !important;
    margin-bottom: 5px;
  }
  #rightsow .rightsowhead ul li a {
    font-size: 14px !important;
  }
  .tableresponsive980 {
    max-width: 980px;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 480px) {
  .uploadedphotos ul li {
    width: 49% !important;
    margin-bottom: 5px;
  }
  .sowheadtitle, .sowheadsync, .sowheadsupport {
    width: 100%;
  }
  .sowheadsync ul {
    text-align: left;
  }
  .sowheadsync .actions-list li {
    margin: 0;
  }
  .sowheadsupport .actions-list ul li {
    margin: 0px 0px 10px 0;
  }
}

#rightsow .rightsowhead ul {
  padding-left: 0px;
  margin: 0;
}

#rightsow .rightsowhead ul li {
  display: inline-block;
  position: relative;
}

#rightsow .rightsowhead ul li a {
  color: #263d4a;
  font-size: 16px;
  text-decoration: none;
  padding-right: 30px;
}

#rightsow .rightsowhead ul li::after {
  content: "";
  display: block;
  height: 15px;
  width: 2px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: 10px;
}

#rightsow .rightsowhead ul li:last-child::after {
  display: none;
}

.rightsowhead .sowheadlinks {
  width: 60%;
  float: left;
}

.rightsowhead .sowbtn {
  float: right;
}

.rightsowhead .sowbtn a {
  color: #26639E;
  text-decoration: none;
  border: 1px solid #26639E;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  width: 140px;
  line-height: 30px;
  display: block;
}

.rightsowhead {
  display: table;
  width: 100%;
  margin: 10px 0;
}

#rightsow .gallerysection .galleryselectionbox a {
  text-decoration: none;
  padding-left: 8px;
  font-weight: 600;
  color: #263d4a;
  font-size: 14px;
  line-height: 30px;
}

.gallerysection .galleryaddbox .addnewgallery {
  border: 1px dashed #2EB2BC;
  width: 115px;
  display: block;
  height: 115px;
  line-height: 30px;
  margin: 10px 0;
  color: #2EB2BC;
  font-weight: normal;
  position: relative;
}

.addnewgallery {
  padding: 20px;
}

.addnewgallery img {
  margin: auto;
  width: 35px;
}

.addnewtext {
  margin-top: 15px;
  display: block;
  text-align: center;
}

.uploadedphotos ul {
  padding: 0;
  margin: 0;
}

.uploadedphotos ul li {
  list-style: none;
  float: left;
  width: 15.66%;
  margin-right: 1%;
}

.uploadedphotos ul li img {
  width: 100%;
  border: 1px solid #ccc;
}

.pad20lr {
  padding-right: 20px;
  padding-left: 20px;
}

.sowheadlinks li.active a {
  color: #26639E !important;
}

.borderbottom:last-child {
  border: none !important;
}

.sowtable .ctable .thead div {
  font-size: 13px;
  font-weight: 700;
}

.sowtable .ctable>div.tbody>div {
  border-bottom: 1px solid #b7b7b7;
}

.sowtable .ctable>div.thead>div {
  background-color: #eaeaea;
  border-bottom: none;
}

.sowtable .ctable>div.thead {
  color: #000;
}

.sowtable {
  width: 98%;
  margin: 30px auto 5px auto;
}

.sowtable .ctable {
  overflow-y: auto;
  height: 420px;
  display: block;
  width: 94%;
  margin: 0 auto 10px auto;
}

.sowtable table {
  border: 1px solid #ccc;
}

.sowtable table th {
  background-color: #eaeaea;
}

@media only screen and (min-width:1025px) and (max-width:1366px) {
  .sowtable .ctable>div.thead, .sowtable .ctable>div.tbody {
    display: table-header-group;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .cityinpt, .stateinpt, .zipinpt, .firstnameinpt, .lastnameinpt {
    width: 100% !important;
  }
  .cn50 {
    width: 100% !important;
  }
}

@media only screen and (max-width:640px) {
  .ctable {
    display: block;
    border: none;
  }
  .ctable>div.thead {
    display: block;
  }
  .ctable>div.thead>div, .ctable>div.tbody>div {
    display: block;
    width: 100%;
  }
  .ctable>div.thead {
    display: none;
  }
  .imgblock {
    max-width: 100%;
  }
  .ctable>div.tbody {
    margin-bottom: 15px;
    border: 2px solid #000;
    display: block;
  }
  .ctable>div.tbody>div:last-child {
    border: none;
  }
  .title {
    font-weight: bold;
  }
  .showinmobile {
    display: inline-block;
  }
}

.borderbottom {
  border-bottom: 1px solid #263d4a;
  padding-bottom: 20px;
  display: table;
  margin: auto;
}

.gallerysection {
  display: table;
  width: 100%;
  padding-top: 15px;
}

.two-columns {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #26639E), color-stop(20%, #26639E), color-stop(20%, #26639E), color-stop(40%, #26639E), color-stop(40%, #26639E), color-stop(60%, #26639E), color-stop(60%, #26639E), color-stop(80%, #26639E), color-stop(80%, #26639E), color-stop(100%, #26639E));
  background-image: -webkit-linear-gradient( left, #26639E, #26639E 20%, #26639E 20%, #26639E 40%, #26639E 40%, #26639E 60%, #26639E 60%, #26639E 80%, #26639E 80%, #26639E 100%);
  background-image: -moz-linear-gradient( left, #26639E, #26639E 20%, #26639E 20%, #26639E 40%, #26639E 40%, #26639E 60%, #26639E 60%, #26639E 80%, #26639E 80%, #26639E 100%);
  background-image: -ms-linear-gradient( left, #26639E, #26639E 20%, #26639E 20%, #26639E 40%, #26639E 40%, #26639E 60%, #26639E 60%, #26639E 80%, #26639E 80%, #26639E 100%);
  background-image: -o-linear-gradient( left, #26639E, #26639E 20%, #26639E 20%, #26639E 40%, #26639E 40%, #26639E 60%, #26639E 60%, #26639E 80%, #26639E 80%, #26639E 100%);
}

.sowtable .ctable>div.tbody p {
  font-size: 12px;
}

.mobnopad {
  padding-left: 0;
  padding-right: 0;
}

.bottommenutrade {
  position: relative;
}

.bottommenutrade li {
  padding-left: 15px !important;
}

.bottommenutrade li span a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.updateactionbtns {
  position: absolute;
  right: 15px;
  top: 8px;
}

.gallery {
  width: 100%;
  float: left;
  margin-top: 30px;
}

.gallery ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery ul li {
  padding: 7px;
  border: 2px solid #ccc;
  float: left;
  margin: 10px 7px;
  background: none;
  width: auto;
  height: auto;
}

.gallery img {
  width: 250px;
}

.none {
  display: none;
}

.upload_div {
  margin-bottom: 50px;
}

.uploading {
  margin-top: 15px;
}

.topmenu {
  padding-bottom: 100px;
}

.bottommenu ul.bottommenutrade:first-child>li:first-child {
  border-top: 1px solid #000 !important;
  box-shadow: 0 0px 1px 0px #fff;
  -moz-box-shadow: 0 0px 1px 0px #fff;
  -webkit-box-shadow: 0 0px 1px 0px #fff;
}

.bottommenu ul.bottommenutrade>li {
  border-bottom: 1px solid #000;
}

div.cloneTrade ul:not(:first-child) li {
  border-top: none !important;
}

.bottomactionlist li {
  border: none !important;
}

.photoborderbtm {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  display: block;
  margin: 0 10px;
}

.sowheadsupport .actions-list ul {
  float: right;
}

#rightsow .centertext h1 {
  display: none;
}

.galleryselectionbox span img {
  float: left;
}

.galleryselectionbox {
  display: table;
}

.uploadedphotos ul li span {
  position: relative;
  display: block;
}

.uploadedphotos ul li span a {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.uploadedphotos ul li span i {
  color: #fff;
  height: 20px;
  width: 20px;
  font-size: 20px;
  transition: all .5s;
  -webkit-transition: all .5s;
}

.uploadedphotos ul li span:hover a {
  display: block;
}

.galleryaddbox {
  display: table;
}


/* Table CSS Starts */

.table {
  width: 100%;
  margin-bottom: 20px;
}

table {
  max-width: 100%;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table caption+thead tr:first-child th, .table colgroup+thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  border-bottom-width: 2px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #dddddd;
}

.table thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.sowtable table th {
  background-color: #eaeaea;
}

th {
  text-align: left;
  font-weight: bold;
}


/* Table CSS Ends */


/* dashboard inner page category CSS */

.main-div {
  /*padding: 0px 15px 0px 15px;*/
  overflow: hidden;
}


/*upload limage css */

.main-div .upload-div {
  position: relative;
}

.upload-div .upload-image {
  width: 100%;
}

.upload-div .upload-photo-btn {
  border: 1px solid #2EB2BC;
  border-radius: 50px;
  width: 140px;
  display: block;
  height: 30px;
  line-height: 30px;
  color: #2EB2BC;
  font-weight: normal;
  position: absolute;
  cursor: pointer;
  text-align: center;
  right: 2%;
  background-color: #ffffff;
  bottom: 5%;
}

.upload-div .upload-photo-btn img {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 20px;
}

.upload-div .upload-photo-btn input {
  border: none;
  border-bottom: 1px solid #bfc9ca !important;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 0px !important;
  margin: 0px 0px 20px 0;
  width: 100%;
}

.hide {
  display: none !important;
}


/*end of upload image css*/


/*notification div css*/

.main-div .notification-div {
  width: 100%;
  float: left;
}

.main-div .notification-div .sub-noti-class {
  width: 100%;
  display: table;
}

.notification-div a {
  text-decoration: none;
  color: #ffffff;
  float: left;
  width: 25%;
  display: block;
  text-align: center;
  font-size: 25px;
}

.notification-div .sow {
  background-color: #32bc35;
}

.notification-div .audios {
  background-color: #3db9dd;
}

.notification-div .videos {
  background-color: #dd605a;
}

.notification-div .notes {
  background-color: #acb171;
}

.main-div .notification-div .sub-noti-class a p {
  margin: 0;
  height: 60px;
  line-height: 60px;
  font-size: 19px;
}


/*end of notification div css*/


/*audio div css*/


/*Note: audios-videos div commoon for audio and video only img class are diff bcz there is no need of bg clr in videos div*/

.audios-videos .sub-audio-video {
  width: calc(25% - 0.75%);
  float: left;
  margin-right: 1%;
}

.audios-videos .audio-img {
  /*max-width: 420px;*/
  height: 245px;
  background: #e6e6e6;
  /* float: left;*/
  width: 100%;
  position: relative;
}

.main-div .heading-style {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

.audios-videos h2.h2-style {
  margin-top: 40px;
  font-size: 1.8em;
}

.main-div .img-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}


/*end of audio div css*/


/*video div css*/

.audios-videos .video-img {
  /*max-width: 420px;
    float: left;*/
  width: 100%;
  position: relative;
}

.audios-videos .video-img-style {
  width: 100%;
}

.audios-videos .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.main-div .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.main-div .inputfile+label {
  position: absolute;
  background: #ffffff;
  color: #26639E;
  border-radius: 25px;
  right: 25px;
  bottom: 20px;
  border: 1px solid #26639E;
  width: 140px;
  height: 35px;
  cursor: pointer;
}

.main-div .inputfile:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.main-div .inputfile+label img {
  position: absolute;
  top: 7px;
  left: 23px;
  width: 24px;
}

.main-div .inputfile+label b {
  position: absolute;
  top: 11%;
  left: 40%;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}


/*end of video div css*/

@media only screen and (max-width: 1366px) {
  .audios-videos .audio-img {
    height: 180px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  /*	.bgsow  {
		height: 345px !important;
	}*/
  .bottomstatusbtns .claimreportstatus a .colright p:first-child {
    font-size: 0.67em !important;
  }
}

@media only screen and (max-width: 1024px) {
  .claimreportc .tab-container ul li {
    height: 149px !important;
  }
  .inactivebg p {
    padding: 10px 0 !important;
    margin: 0;
    font-size: 11px;
  }
  .audios-videos .audio-img {
    height: 130px;
  }
  .notification-div a {
    font-size: 17px;
  }
}

.main-div .tab-container {
  float: left;
  width: 435px;
}

.main-div .tab-container ul {
  list-style: none;
  text-align: center;
}

.main-div .tab-container ul li {
  border-bottom: 1px solid #666;
  background-color: #ddd;
}

.main-div .tab-container ul li a, .main-div .tab-container ul li a:visited {
  text-decoration: none;
  color: #666;
  display: block;
  padding: 15px 5px;
  height: 100px;
  text-align: center;
}

.main-div .tab-container ul li.selected {
  border-right: none;
  background-color: #fff;
  border-left: 8px solid #006699;
}

.sub-audio-video:last-child {
  margin-right: 0 !important;
}

.cnote.notesection {
  border: none;
}

.sowbgwhite {
  background-color: #F8F8F8;
  padding: 20px;
}

.sowheadtitlesow, .sowheadrightsow {
  width: 50%;
  float: left;
}

.sowheadrightsow h2 {
  text-align: right;
}

.nopadlr {
  padding-left: 0;
  padding-right: 0;
}

.bgsow {
  /*background: url(../img/schedule-work-assets.png);*/
  display: table;
  height: 33em;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.bgsow img {
  height: 100%;
  width: 100%;
}

.ic-edit {
  background: url('../img/ic-edit.png') 0 0 no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
}

.ic-delete {
  background: url('../img/ic-delete.png') 0 0 no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
}

.addnewsurveyorform {
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.threeinpt, .twoinpt {
  display: table;
  width: 100%;
}

.cityinpt, .stateinpt {
  margin-right: 2%;
}

.cityinpt, .stateinpt, .zipinpt {
  width: calc(50% - 1.33%);
  display: table;
  float: left;
}

.firstnameinpt {
  margin-right: 2%;
}

.firstnameinpt, .lastnameinpt {
  width: calc(50% - 1%);
  display: table;
  float: left;
}

.editprofilemodal input, .editprofilemodal textarea, #assignSurveyor input, #addnewclaimmodal input, #addnewclaimmodal select, #addnewsurveyormodal input, #sow-modal input, .parenttrades input, .parenttrades input:focus, .deleteclaim input {
  border: none;
  border-bottom: 1px solid #bfc9ca !important;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 0px !important;
  margin: 0px 0px 20px 0;
  width: 100%;
}

#assignSurveyor button, #addnewclaimmodal button, #addnewsurveyormodal button, #sow-modal button, .deleteclaim button {
  background-color: #26639E;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  width: 140px;
  text-align: center;
  margin: 0 20px;
}

#addnewsurveyormodal .img-default, .deleteclaim .img-default {
  width: 140px;
  margin: auto;
  max-width: 100%;
}

.addphotobtn img {
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  left: 11px;
  top: 6px;
}

#addnewsurveyormodal .addphotobtn {
  height: 35px;
  line-height: 31px;
  position: relative;
}

.addphotobtn {
  border: 1px solid #26639E;
  border-radius: 50px;
  width: 140px;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  color: #26639E;
  font-weight: normal;
  position: relative;
}

.deleteconfirm {
  text-align: center !important;
  padding: 20px !important;
  margin: 0 auto;
  font-size: 20px;
  color: #636363 !important;
}

.deleteclaim {
  background: #fff;
}

.deleteconfirmbtn.autosearchactionbuttons {
  margin-bottom: 20px;
}

.ic-map-claim {
  background: url('../img/ic-map-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-assign-claim {
  background: url('../img/ic-assign-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-delete-claim {
  background: url('../img/ic-delete-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-sync-claim {
  background: url('../img/sync-green-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.addnote textarea {
  height: 330px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: none;
  resize: none;
  padding: 5px;
}

.dashboardclaimdetail td.vertmid {
  vertical-align: middle !important;
}

.dashboardclaimdetail span.cfontweight {
  font-size: 20px;
}

.dashboardclaimdetail tr>td>span {
  font-size: 16px;
}

.dashboardclaimdetail tr>td {
  padding-left: 0 !important;
}

.dashboardclaimdetail .table-responsive {
  border: none;
}

.dashboardclaimdetail {
  margin-bottom: 100px;
}

.dashboardclaimdetail span.cfontweight a {
  text-decoration: none;
  color: #263d4a;
}

.dashboardclaimdetail table tr td ul {
  padding: 0;
  margin: 0;
  display: table-cell;
  height: 104px;
  vertical-align: middle;
}

.dashboardclaimdetail table tr td ul li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

.dashboardclaimdetail span.checktitle {
  width: 100%;
  display: block;
  text-align: center;
}

.dashboardclaimdetail span.check {
  width: 100%;
  text-align: center;
  display: block;
  margin: 20px auto;
}

.dashboardclaimdetail .regular-checkbox+label {
  border: 1px dashed #26639E;
  border-radius: 0;
  width: 40px;
  height: 30px;
}

.regular-checkbox+label {
  margin: 3px 0;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.dashboardclaimdetail .regular-checkbox:checked+label::after {
  left: 0;
  right: 0;
  top: 2px;
  font-size: 22px !important;
}

.dashboardclaimdetail .regular-checkbox:checked+label::after {
  color: #26639E;
  background: none;
}

.regular-checkbox:checked+label::after {
  content: '\f00c';
  background-color: #26639E;
  font-size: 14px !important;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.bottomstatusbtns {
  width: 100%;
  display: table;
}

.bottomstatusbtns .claimreportstatus {
  width: 14.28%;
  display: table-cell;
  height: 60px;
  float: none;
  border-right: 1px solid #fff;
}

.greenbg {
  background-color: #32BC35;
}

.lightblue {
  background-color: #26639E;
}

.inactivebg {
  background-color: #BCBCBC;
}

.bottomstatusbtns .claimreportstatus a .colleft {
  float: left;
  margin-right: 5px;
}

.dashboardclaimdetail {
  margin-bottom: 100px;
}

.bottomstatusbtns .claimreportstatus a .colright {
  float: left;
  width: 100%;
}

.bottomstatusbtns .claimreportstatus a .colright p img {
  height: 14px;
  width: 14px;
}

.bottomstatusbtns .claimreportstatus a .colright p:first-child {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px !important;
}

.bottomstatusbtns .claimreportstatus a img {
  width: 25px;
}

.bottomstatusbtns .claimreportstatus a span img {
  margin-left: 10px;
  margin-bottom: 7px;
}

.bottomstatusbtns .claimreportstatus a span img:first-of-type {
  margin-left: 20px;
}

.bottomstatusbtns .colright div {
  color: #fff;
  text-align: center;
  height: 40px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.bottomstatusbtns .claimreportstatus a .colright p {
  color: #fff;
  margin: 0;
  text-align: center !important;
  line-height: 19px;
}

.inactivebg a {
  padding: 0 !important;
}

.inactivebg p {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.bottomstatusbtns .claimreportstatus a {
  float: left;
  width: 100%;
  position: relative;
  text-decoration: none;
  height: 60px;
  display: table;
  vertical-align: middle;
}

.light-red {
  background: #dd605a;
}

.light-blue1 {
  background: #3db9dd;
}

.darkblue {
  background-color: #3f68a6;
}

.darkgreen {
  background-color: #8f4fc1;
}

.darkcoffee {
  background-color: #d6b45b;
}

.bottomstatusbtns .inactivebg a span {
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.parenttrades {
  background-color: #fff;
  padding: 10px;
}

.parenttrades ul {
  padding: 0;
}

.parenttrades ul li {
  list-style: none;
  border-bottom: none;
  height: 35px;
  padding-top: 6px;
}

.parenttrades ul li:first-child {
  border-top: none;
}

.parenttrades ul li:hover {
  background-color: #26639E;
}

.parenttrades ul li:hover a {
  color: #fff;
}

.parenttrades input {
  height: 40px;
  margin: 0px 0px 20px 0;
}

.parenttrades ul li a {
  text-decoration: none;
  padding: 5px;
  color: #263d4a;
  display: block;
  line-height: 25px;
  height: 35px;
  background: url(../img/list_arrow.png) no-repeat;
  background-size: 16px 16px;
  padding-left: 25px;
  vertical-align: middle;
  line-height: 10px;
}

#AddTrades ul li a {
  color: #26639E;
}

.parenttrades .input.text.required {
  width: 68%;
  float: left;
}

.parenttradebtn {
  width: 32%;
  float: left;
}

.parenttradebtn button {
  width: auto !important;
}

.parenttrades button {
  background-color: #26639E;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  height: 40px;
}

.parenttrades ul li:first-child {
  border-top: none;
}

#AssignSurveyor {
  background-color: #fff;
  width: 100%;
  padding: 10px;
}

#assignSurveyor .form-group .input.text input {
  border: none;
  border-bottom: 1px solid #bfc9ca !important;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 8px !important;
  width: 100%;
}

.autosearchrespondtable {
  margin-top: 35px;
  height: 250px;
  overflow-y: scroll;
  margin-bottom: 40px;
  border: none;
}


/*for propertyDetail page css*/

.claimreportc .tab-container {
  float: left;
  width: 26%;
  /*min-height: 744px;*/
}

.claimreportc .tab-container ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.claimreportc .tab-container ul li {
  border-bottom: 1px solid #263c4a;
  background-color: #26639E;
  height: 16.40vh !important;
  width: 100%;
  display: table;
}

.claimreportc .tab-container ul .selected {
  position: relative;
  background: #e2ae24;
}

.claimreportc .tab-container ul .selected:after, .claimreportc .tab-container ul .selected:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 9;
}

.claimreportc .tab-container ul .selected:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #e2ae24;
  border-width: 15px;
  margin-top: -15px;
}

.claimreportc .tab-container ul .selected:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 36px;
  margin-top: -36px;
}

.claimreportc .tab-container ul li a, .claimreportc .tab-container ul li a:visited {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  border-top: 1px solid #828282;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.claimreportc .tab-container ul li .tab-style:after {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #e2ae24;
  border-bottom: 50px solid transparent;
}

.claimreportc .tab-container .tab-icon {
  width: 35px;
}

.claimreportc .form-container {
  width: 74%;
  /*
  min-height: 655px;*/
  float: left;
  padding: 15px;
  position: relative;
  background: #fff;
}

.claimreportc .form-container .form-group .form-control {
  height: 40px;
  width: 100%;
  padding: 6px;
  line-height: 1.42857143;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.claimreportc .form-container .form-control .label-style {
  font-size: 11.5px;
  font-weight: 600;
  width: 50%;
  display: block;
  float: left;
  line-height: 16px;
  padding-top: 12px;
}

.claimreportc .form-container .form-control .select-style {
  background-size: 15px;
  border: none;
  border-bottom: 1px solid #cbd7d7;
  background: #fff url(../img/down-arrow.png);
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  background-position: 97% 7px;
  height: 30px;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-appearance: none;
  appearance: none;
  background-size: 15px;
}

.claimreportc .form-container .form-control .select-style:focus, #category .form-container .form-control .input-style:focus {
  border: none;
  border-bottom: 1px solid #cbd7d7;
  outline: none;
}

.claimreportc .form-container .form-control .input-style {
  border: none;
  border-bottom: 1px solid #cbd7d7;
  width: 49%;
  /*    height: 35px;*/
}

.claimreportc .form-container .form-control .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.claimreportc .btn-group {
  float: right;
  padding-top: 20px;
}

.claimreportc .btn-group .btn-style {
  background-color: #26639E;
  border-radius: 25px;
  color: #ffffff;
  border: none;
  width: 140px;
  height: 50px;
  font-size: 17px;
  margin-right: 15px;
  cursor: pointer;
}

.claimreportc .btn-group .btn-style:last-child {
  margin-right: 0;
}

.claimreportc .crow {
  width: calc(100% - 1%);
  display: table;
}

.claimreportc .crow .ccol-50 {
  margin-right: 35px;
  width: calc(50% - 17.5px);
  float: left;
}

.crow .ccol-50:last-child {
  margin-right: 0;
}

.claimreportc input[type="checkbox"] {
  display: none;
}

.claimreportc .checkbox-label {
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
  height: 15px;
}

.claimreportc input[type="checkbox"]+.checkbox-label:before {
  border: 2px solid #26639E;
  content: "\00a0";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 14px;
  margin: 15px 3px 12px 3px;
}

.claimreportc input[type="checkbox"]:checked+.checkbox-label:before {
  /*background: #3d404e;*/
  color: #26639E;
  content: '\f00c';
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  text-align: center;
}

.claimreportc input[type="checkbox"]:checked+.checkbox-label:after {
  font-weight: bold;
}

.claimreportc .para-style {
  /*circumstancesOfLoss.html page*/
  color: red;
  font-size: 14px;
  font-weight: 700;
}

.claimreportc .form-control .calender {
  background-image: url(../images/Calendar.png);
  background-repeat: no-repeat;
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  background-position: 97%;
  height: 30px;
}

.claimreportc .form-control .notes {
  padding: 14px;
  background-color: #dde5e7;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  width: 100%;
  font-size: 16px;
  margin: 20px 0px;
}

#form-report-tab h3 {
  font-size: 17px;
}

.claimreportc .form-control .report-para {
  border: 1px solid #dde5e7;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.claimreportc .crow-100 {
  width: 100%;
  display: table;
}

.claimreportc .crow-100 .ccol-100 {
  width: 25%;
  float: left;
}

@media only screen and (max-width: 1366px) {
  .audios-videos .audio-img {
    height: 180px;
  }
}

@media only screen and (max-width: 1024px) {
  .claimreportc .crow-100 .ccol-100 {
    width: 50%;
  }
  .claimreportc .btn-group {
    float: right;
    position: static;
    margin-top: 20px;
  }
  #category .form-container .form-control .label-style {
    font-size: 12px;
  }
  .audios-videos .audio-img {
    height: 130px;
  }
  .notification-div a {
    font-size: 17px;
  }
  .tab-container ul li a, .tab-container ul li a:visited {
    font-size: 14px;
  }
  .btn-group {
    bottom: 165px;
  }
  .btn-group .btn-style {
    width: 165px;
    height: 38px;
  }
  /*.crow-100 .ccol-100 {
	    width: 50%;
	    float: left;
	}*/
}

@media only screen and (max-width: 800px) {
  #category .form-container {
    width: 69.5%;
  }
}

@media only screen and (max-width:991px) {
  #category .form-container .form-group .form-control {
    height: auto;
  }
  .claimreportc .crow .ccol-50 {
    width: 100%;
    margin-right: 0;
  }
}

#category {
  display: table;
  width: 100%;
  /*height: 744px;*/
}

.checkboxrightmargin {
  margin-right: 10px;
}

.claimreportc .form-hide {
  display: none;
}

.claimclientdetaill .addnote textarea {
  height: 130px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  font-size: 50px;
  line-height: 40px;
}

.info-detail a {
  text-decoration: none;
  color: #fff;
}

.fullcol .actions-list li p.synctext {
  color: #FFC20A !important;
}

.quick-action li button {
  color: #fff;
  line-height: 20px;
}

.ic-addw-surveyor {
  background: url('../img/new-surveyor-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
}

.ic-addw-claim {
  background: url('../img/new-claim-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
}

.ic-helpw {
  background: url('../img/help-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 45px;
  height: 45px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #fff;
  height: 100px;
}

.bar-stable .button.button-clear {
  color: #26639E;
}

.bar.bar-stable .title {
  background: url("../img/logo.png");
  background-size: 170px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 67px;
  text-indent: -20000px;
}

.thumbnail .caption {
  position: relative;
}

.cabsclaimactionlist {
  bottom: 5px;
  left: 10px;
  right: 0;
  padding: 0;
}

.cabsclaimactionlist .claimactionlist.actions-list li {
  float: none !important;
}

.cabsclaimactionlist ul {
  padding: 0;
  margin: 0;
}

.cabsclaimactionlist .actions-list li p {
  height: auto;
}

.cabsclaimactionlist .actions-list li.active p {
  color: green;
}

.modal-popup .popup {
  width: 760px;
}

.modal-popup.add-claim .popup {
  width: 900px;
}

.modal-popup .popup-body {
  width: 100%;
}

.menu .scroll {
  padding-top: 10px;
}

.no-padding {
  padding: 0px;
}

#profile-view .claimclientdetail {
  margin-top: 0;
}

.ic-editw-profile {
  background: url(../img/ic-edit-white.png) 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.profileimg {
  margin: 0 10px;
}

.profileimg img {
  height: auto;
  width: 100px;
  border: 1px solid #ccc;
  margin-top: 19px;
}

.ccol33 {
  width: 33%;
  position: relative;
}

.ccol33:before {
  content: ":";
  display: block;
  position: absolute;
  right: 20px;
}

.ccol67 {
  width: 67%;
}

.couterborder {
  border: 1px solid #ccc;
}

.red {
  color: red;
}

.couterborder a {
  color: inherit;
  text-decoration: none;
}

.changepasswordhr {
  margin: 20px 0;
}

.changepasswordhr p {
  margin-bottom: 0;
  position: relative;
}

.changepasswordhr p:before {
  clear: both;
  content: "";
  display: block;
  background-color: #ccc;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 11px;
}

.changepasswordhr span {
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  width: 140px;
  display: block;
  position: relative;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.editprofilemodal {
  background-color: #fff;
  padding: 10px;
}

.editprofilemodal img {
  height: 100px;
  width: auto;
}

.editprofilemodal button {
  background-color: #26639E;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  width: 140px;
  text-align: center;
  margin: 0 20px;
}

.editprofilemodal .addphotobtn {
  position: relative;
  height: 35px;
  line-height: 31px;
}

.editprofilemodal .addphotobtn img {
  width: auto;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  left: 11px;
  top: 6px;
}

.editprofilemodal .coll1 {
  margin-right: 4%;
}

.editprofilemodal .coll1, .coll2 {
  width: calc(50% - 2%);
  display: table;
  float: left;
}

.editprofilemodal .inncolleft {
  width: 50%;
  float: left;
  position: relative;
}

.editprofilemodal .inncolleft:before {
  content: ":";
  display: block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.editprofilemodal .inncolright {
  width: 50%;
  float: left;
}

.editprofilemodal label {
  height: 34px;
  line-height: 34px;
  font-weight: 600;
}

.notification .popup-buttons {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.notification .button {
  border-radius: 40px;
  background: #26639E;
}

.notification .popup-body {
  height: 80px;
}

.editprofilemodal .autosearchactionbuttons {
  margin: 10px 0;
}

table.info-table {
  width: 100%;
}

.bg-profile .mini-stat-icon, .profile-pic-wap {
  border-radius: 100%;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
}

.profile-pic-wap {
  margin: 0 auto;
}

.backdrop.visible.active.backdrop-loading {
  z-index: 999999999;
}

.row.nk-row {
  display: block;
}

.nk-col {
  width: 33.33%;
  float: left;
  padding: 5px;
}


/* filter box*/

.cfiltertype .input-group.rightinput {
  width: 100%;
  text-align: right;
  display: table-cell;
}

.cinput-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.cinput-group .input-group-btn {
  display: inline-block;
  float: right;
}

.cfiltertype select {
  width: 150px;
  height: 35px;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.cfiltertype .rightsec .input-group {
  float: right;
  max-width: 100%;
}

input[type="text"].cform-control, .cform-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.cfiltertype .rightsec .searchbtn {
  background-color: #26639e;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
}

.cfiltertype .rightsec .rightinput input {
  display: inline-block;
  border-radius: 4px 0 0 4px;
}

.crow:before, .crow:after {
  display: table;
  content: " ";
}

.ccolmn-50 {
  float: left;
  width: 50%;
}

.claimclientdetail .info-table {
  color: #5f5f5f;
  margin-bottom: 5px;
}

.claimclientdetail .info-table th {
  vertical-align: top;
  color: #5f5f5f;
  width: 150px;
  display: block;
  font-size: 13px;
}

.claimclientdetail .info-table th {
  font-size: 13px;
  color: #5f5f5f;
  word-break: break-all;
  word-wrap: break-word;
}

.claimclientdetail .cw50 {
  padding: 0px 5px 0px 5px;
}

.claimclientdetail td {
  border-top: 0 !important;
}

.claimclientdetail #internal-notes {
  color: #666;
  font-size: 13px;
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}

.claim-add.btn-sqr {
  margin-right: 10px;
  padding: 5px 10px;
}

.select-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-box select {
  all: unset;
  display: inline-block;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline: none;
  /* remove focus ring from Webkit */
  line-height: 1.2;
  background: #fff;
  color: #000;
  border: 0;
}


/* Select arrow styling */

.select-box:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  color: #000;
}

.no-pointer-events .select-box:after {
  content: none;
}

#addnewclaimmodal input, #addnewclaimmodal select {
  border: none;
  border-bottom: 1px solid #bfc9ca !important;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 0px !important;
  margin: 0px 0px 12px 0;
  width: 100%;
}

.ionic_datepicker_popup .popup-body .selected_date_full, .ionic_datepicker_popup .popup-buttons button, .ionic_timepicker_popup .heading, .ionic_timepicker_popup .button_set, .ionic_timepicker_popup .button_close, .ionic_datepicker_popup .selected_date {
  background-color: #26639E !important;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after, .ionic_datepicker_popup .popup-body .button-clear, .ionic_datepicker_popup .popup-body .button-clear {
  color: #26639E !important;
}

.ionic_datepicker_popup .today {
  border: 1px solid #26639E !important;
}

.add-claim .box-border label {
  height: 52px;
  color: #26639e;
  font-size: 20px;
  display: block;
}

.add-claim .box-border {
  margin-top: 20px;
  padding: 10px 10px 0px 10px;
}

.add-claim .has-footer {
  display: inline-table;
  overflow: scroll;
  padding-bottom: 50px;
}

.add-claim .bar.bar-royal.bar-footer {
  border-color: #fff !important;
  background: #fff !important;
}

.add-claim .bar.bar-royal.bar-footer {
  height: 50px;
}

.add-claim .claimclientdetail textarea {
  height: 250px;
}

.add-claim .bar.bar-royal.bar-footer .btn-sqr {
  width: 200px;
  height: 40px;
  position: relative;
  display: block;
  margin: 0 auto !important;
}


/* 09-03-2017 */

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 90%;
}

.onebyone-carosel .active.left {
  left: -33.33%;
}

.onebyone-carosel .active.right {
  left: 33.33%;
}

.onebyone-carosel .next {
  left: 33.33%;
}

.onebyone-carosel .prev {
  left: -33.33%;
}

.outersection {
  height: 100%;
}

.outersection .outerinner {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9 !important;
}

.sm2-360ui {
  float: none !important;
}

.audios-videos .audio-img img {
  width: 100%;
  height: 100%;
}

.audios-videos .sub-audio-video p {
  text-align: center;
}

.sowslider .carousel-control {
  width: 5%;
}

.sowslider .carousel-control.left, .carousel-control.right {
  background-image: none;
  max-height: 210px;
  z-index: 9;
  width: auto;
}

.sowslider .carousel-control.left:before {
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  color: #000;
  display: table-cell;
  max-height: 210px;
  vertical-align: middle;
  height: 210px;
}

.sowslider .carousel-control.right:before {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  color: #000;
  display: table-cell;
  max-height: 210px;
  vertical-align: middle;
  height: 210px;
}

.sowslider.carousel {
  display: table;
  width: 100%;
}

.sowslider .carousel-inner.onebyone-carosel {
  width: 100%;
}

.thumbnail .caption {
  position: relative;
}

.sub-audio-video:last-child {
  margin-right: 0 !important;
}

.sowslider .item.active {
  background: none;
}

.col-md-4 {
  width: 33.33333333333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
  float: left;
}

.audios-videos .sub-audio-video {
  width: calc(25% - 0.75%);
  float: left;
  margin-right: 1%;
  width: 100%;
  height: 100%;
}

.sowslider .carousel-control.left, .carousel-control.right, .sowslider .carousel-control.right {
  background-image: none;
  max-height: 210px;
  z-index: 9;
  width: auto;
}

.sowslider .carousel-control.left::before {
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  color: #000;
  display: table-cell;
  max-height: 210px;
  vertical-align: middle;
  height: 210px;
}

@media only screen and (max-width: 1366px) {
  .audios-videos .audio-img {
    height: 210px;
  }
}


/* 360 player css */


/* General warning: Beta-ish. Code could be a bit cleaner. */

.ui360,
/* entire UI */

.sm2-360ui {
  /* canvas container */
  position: relative;
}

.ui360 {
  margin-bottom: 5px;
  margin-right: 5px;
}

.ui360, .sm2-360ui {
  min-width: 50px;
  /* should always be at least this. */
  min-height: 50px;
}

.sm2-360ui {
  width: 50px;
  height: 50px;
}

.sm2-360ui {
  /* slight inner shadow + BG color + border */
  background-color: #f9f9f9;
  background-color: rgba(0, 0, 0, 0.025);
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  /* a little radii, modern browsers only */
  border-radius: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  /* specifics */
  -moz-transition-property: background, border, box-shadow;
  -webkit-transition-property: background, border, box-shadow;
  transition-property: background, border, box-shadow;
}

.sm2-360ui:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.ui360, .ui360 * {
  vertical-align: middle;
}

.sm2-360ui {
  position: relative;
  display: inline-block;
  /* firefox 3 et al */
  float: left;
  /* IE 6+7, firefox 2 needs this, inline-block would work with fx3 and others */
  *display: inline;
  clear: left;
}

.sm2-360ui.sm2_playing, .sm2-360ui.sm2_paused {
  /* bump on top when active */
  z-index: 10;
}

.ui360 a {
  /* .sm2_link class added to playable links by SM2 */
  float: left;
  display: inline;
  position: relative;
  color: #000;
  text-decoration: none;
  left: 3px;
  /* slight spacing on left UI */
  top: 18px;
  /* vertical align */
  text-indent: 50px;
  /* make room for UI at left */
}

.ui360 a.sm2_link {
  /* SM2 has now started */
  text-indent: 0px;
  /* UI now in place. */
}

.ui360 a, .ui360 a:hover, .ui360 a:focus {
  padding: 2px;
  margin-left: -2px;
  margin-top: -2px;
}

.ui360 a:hover, .ui360 a:focus {
  background: #eee;
  border-radius: 3px;
  outline: none;
}

.ui360 .sm2-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ui360 .sm2-canvas.hi-dpi {
  /* hi-dpi / "retina" screens */
  top: -50%;
  left: -50%;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.ui360 .sm2-timing {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  font: 11px "helvetica neue", helvetica, monaco, lucida, terminal, monospace;
  color: #666;
  text-align: center;
  line-height: 50px;
}

.ui360 .sm2-timing.alignTweak {
  /* devious center-alignment tweak for Safari (might break things for others.) */
  /* no longer applies. */
  /*
 text-indent:1px;
 */
}

.ui360 .sm2-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  /* old-skool bug: IE 9 won't catch mouse events otherwise. /smash */
}

.ui360 .sm2-360btn {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  /*
 width:22px;
 height:22px;
 margin-left:-11px;
 margin-top:-11px;
*/
  /* by default, cover whole space. make smaller when playing. */
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 3;
}

.ui360 .sm2-360data {
  display: inline-block;
  font-family: helvetica;
}

.sm2-inline-block .ui360 .sm2-360btn, .ui360 .sm2-360ui.sm2_playing .sm2-360btn, .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  /* smaller clickable button, in center */
  width: 22px;
  height: 22px;
  margin-left: -11px;
  margin-top: -11px;
}

.ui360 .sm2-360ui.sm2_playing .sm2-cover, .ui360 .sm2-360ui.sm2_paused .sm2-cover {
  display: block;
}


/* this could be optimized a fair bit. */

.ui360, .ui360 .sm2-360btn-default, .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background: transparent url(../img/360-button-play-2x.png) no-repeat;
  /* if you change the source image, update these data: URIs as well. */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABoUlEQVR42sWVu2oCQRhGU/s8gpVYJeQJNkZSbiH4QNuLlQZS21sJayGYaOEFVFDxNiremj9zig2uzk5YQpKFg8PMd75ZZle9E5Ff4e+Ll8tlQuNoPI2vUcCYOdbIxCmm9F5T0YgNMmS/LebSwWdNa7VayXq9ls1mI9vtVna7nQBj5lgjQxYHN7KY3QkiUbDf7+V4PMrpdArBHGtkyOJc3/n1mVaUUl+F5/PZSrABDi4dpmKH3QkixQEHlw5TsccZmsRCoSD1et1ajkuHqdg/HA5GKZPJCOTzeanVasYMLh2mYsXDIGAoDuG6rlSr1WCdBxrcsTIWazgrQiHS6bSRYJ3XDzeq2O/3+9Ltdm9IpVIhstmslEqlUAY36ii8ZrMpjUbjhmQyKeA4jhSLRWMGN+rhOZ1Oh8ANuVxOyuUy40hwo163RK/XeyPQbrdjgYNr/ILAYDB41Gf1wZnFAQfX+iM0HA5fxuPx+2g0Ej22QoYsDq61mGsymTxMp9NX/Sk2yJDFsRZfXpzXbDZ7WiwW3nw+9zUKGDPHGpkL5V//mn7OJyJZApyzeUS5AAAAAElFTkSuQmCC);
  /* hi-dpi, we presume */
  background-image: none, url(../img/360-button-play-2x.png);
  background-size: 22px 22px;
  *background-image: url(../img/360-button-play.png);
  background-repeat: no-repeat;
}

.ui360 {
  /*
  "fake" button shown before SM2 has started, non-JS/non-SM2 case etc.
  background image will be removed via JS, in threeSixyPlayer.init()
 */
  background-position: 14px 50%;
  _background: transparent url(360-button-play.gif) no-repeat 14px 50%;
  /* IE 6-only: special crap GIF */
}

.ui360 .sm2-360btn-default, .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background-position: 50% 50%;
  _background: transparent url(360-button-play.gif) no-repeat 50% 50%;
  /* IE 6-only: special crap GIF */
}

.ui360 .sm2-360btn-default, .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  cursor: pointer;
}

.ui360 .sm2-360btn-default:hover, .ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover {
  /*background:transparent url(../img/360-button-play-light.png) no-repeat 50% 50%;*/
  /* hi-dpi, we presume */
  /*background-image: none, url(../img/360-button-play-light-2x.png);*/
  background-size: 22px 22px;
  _background: transparent url(../img/360-button-play.gif) no-repeat 50% 50%;
  cursor: pointer;
}

.ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover, .ui360 .sm2-360btn-playing:hover {
  background: transparent url(../images/360-button-pause-light.png) no-repeat 50% 50%;
  background-image: none, url(../images/360-button-pause-light-2x.png);
  background-size: 22px 22px;
  _background: transparent url(../images/360-button-pause-light.gif) no-repeat 50% 50%;
  cursor: pointer;
}

.ui360 .sm2-360ui.sm2_playing .sm2-timing {
  visibility: visible;
}

.ui360 .sm2-360ui.sm2_buffering .sm2-timing {
  visibility: hidden;
}

.sowslider .item {
  border: none;
}

.ui360 .sm2-360ui .sm2-timing, .ui360 .sm2-360ui .sm2-360btn:hover+.sm2-timing, .ui360 .sm2-360ui.sm2_paused .sm2-timing {
  visibility: hidden;
}

.ui360 .sm2-360ui.sm2_dragging .sm2-timing, .ui360 .sm2-360ui.sm2_dragging .sm2-360btn:hover+.sm2-timing {
  /* paused + dragging */
  visibility: visible;
}

.ui360 .sm2-360ui.sm2_playing .sm2-360btn, .ui360 .sm2-360ui.sm2_dragging .sm2-360btn, .ui360 .sm2-360ui.sm2_dragging .sm2-360btn:hover, .ui360 .sm2-360ui.sm2_dragging .sm2-360btn-playing:hover {
  /* don't let pause button show on hover when dragging (or paused and dragging) */
  background: transparent;
  cursor: auto;
}

.ui360 .sm2-360ui.sm2_buffering .sm2-360btn, .ui360 .sm2-360ui.sm2_buffering .sm2-360btn:hover {
  background: transparent url(icon_loading_spinner.gif) no-repeat 50% 50%;
  opacity: 0.5;
  visibility: visible;
}


/* inline list style */

.sm2-inline-list .ui360, .sm2-inline-block .ui360 {
  position: relative;
  display: inline-block;
  float: left;
  _display: inline;
  /*
 margin-bottom:-15px;
 */
}

.sm2-inline-block .ui360 {
  margin-right: 8px;
}

.sm2-inline-list .ui360 a {
  display: none;
}


/* annotations */

ul.ui360playlist {
  list-style-type: none;
}

ul.ui360playlist, ul.ui360playlist li {
  margin: 0px;
  padding: 0px;
}

div.ui360 div.metadata {
  display: none;
}

div.ui360 a span.metadata, div.ui360 a span.metadata * {
  /* name of track, note etc. */
  vertical-align: baseline;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sowslider.carousel {
  display: table;
  width: 100%;
}

.carousel {
  position: relative;
}

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 90%;
}

.carousel-inner>.active {
  left: 0;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
  display: block;
}

.carousel-inner>.item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-inner>.active {
  left: 0;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
  display: block;
}

.carousel-control.left::before {
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  color: #000;
  display: table-cell;
  max-height: 210px;
  vertical-align: middle;
  height: 210px;
}

.carousel-control.right::before {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  color: #000;
  display: table-cell;
  max-height: 210px;
  vertical-align: middle;
  height: 210px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  max-height: 210px;
  z-index: 9;
  width: auto;
  color: transparent;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
  display: block;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
  filter: none;
  background: none;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  filter: none;
  background: none;
}


/* 08-03-2017 */

.notification-div .add_scan {
  background-color: #32bc35;
}

.notification-div .sow {
  background-color: #3db9dd;
}

.notification-div .audios {
  background-color: #dd605a;
}

.notification-div .videos {
  background-color: #acb171;
}

.notification-div .pictures {
  background-color: #3f68a6;
}

.notification-div .notes {
  background-color: #8f4fc1;
}

.notification-div .prev_all {
  background-color: #d6b45b;
}

.notification-div a {
  color: #ffffff;
  display: block;
  float: left;
  font-size: 25px;
  min-height: 85px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 14.28%;
}

.main-div .notification-div .sub-noti-class a p {
  font-size: 18px;
  margin: 0;
  line-height: 35px;
}

.notification-div .add_scan.active span {
  background-color: #fff;
  color: #32bc35;
}

.notification-div .sow.active span {
  color: #3db9dd;
  background-color: #FFF;
}

.notification-div .audios.active span {
  color: #dd605a;
  background-color: #FFF;
}

.notification-div .videos.active span {
  color: #acb171;
  background-color: #FFF;
}

.notification-div .pictures.active span {
  color: #3F68A6;
  background-color: #FFF;
}

.notification-div .notes.active span {
  color: #8F4FC1;
  background-color: #FFF;
}

.notification-div .prev_all.active span {
  color: #D6B45B;
  background-color: #FFF;
}

.num-circle {
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  height: 30px;
  margin: 0 auto 5px;
  width: 30px;
  line-height: 30px;
}

.appsowtable {
  width: 100%;
  margin-top: 0;
  background-color: #fff;
  padding-top: 15px;
}

.dashboard_title.borderbt3 {
  border-bottom: 3px solid #2E4348;
}

.appsowtable .dashboard_title.borderbt3 h2 {
  margin-top: 0;
}

.appsowtable .dashboard_title.borderbt3 {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.dashboard_title a {
  border: 1px solid #26639e;
  padding: 2px 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #26639e;
}

.dashboard_title label {
  font-size: 18px;
  font-weight: 500;
}

.dashboard_title h2 {
  color: #2E4348;
}

.span12 {
  position: relative;
  width: 100%;
}

.dark-text {
  color: #2E4348;
}

.text-center {
  text-align: center;
}

.scan_div_text {
  text-align: center;
  margin: 0 auto;
  float: none;
  border: 1px solid #2E4348;
  padding-bottom: 25px;
  padding-top: 15px;
  margin-top: 25px;
}

.main-div .upload-div {
  position: relative;
}

.main-div .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-div .inputfile+label {
  padding: 5px 15px;
}

.main-div .inputfile+label {
  /* width: 140px; */
  cursor: pointer;
}

.upload-div .inputfile+label span {
  width: 100%;
  display: table;
}

.scan_div_text a {
  padding: 15px;
  background-color: #2E4348;
  border-radius: 0;
  color: #fff;
}

.ccol40 {
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
}

.ccol60.scan_div_text {
  margin: auto;
}

.appaddscan, .appaudios_div, .appvideos_div, .apppictures_div, .appdisplayNotes {
  background-color: #fff;
}

.appaddscan h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-div .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.appaddscan label.galleryaddfileapp {
  position: static;
  display: block;
  margin: 10px auto;
  border: none;
  height: auto;
}

.appgalleryaddfile_p label.appgalleryaddfile_p .appaddscan label.galleryaddfileapp a {
  color: #fff;
}

.appaudios_div h2, .appvideos_div h2, .apppictures_div h2, .appdisplayNotes h2 {
  margin-top: 0 !important;
}

.appaudios_div .dashboard_title, .appvideos_div .dashboard_title {
  display: table;
  width: 100%;
  margin-top: 10px;
}

.get-started {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 150px;
}

.text-center.get-started-text {
  margin-top: 22px;
}

.dashboard_title {
  padding: 0;
  padding-bottom: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 41px;
}

.apppictures_div label.appgalleryaddfile_p {
  position: static;
  border: none;
}

.text-message {
  padding: 0 0 0 0px;
}

.note {
  background-color: #fff;
  border: 1px solid #ccc;
  display: table;
  width: 99%;
  position: relative;
  /*border-bottom: 0px solid #ccc;*/
  height: auto;
}

.note .editright p {
  font-size: 11px;
  position: absolute;
  right: 77px;
  text-align: right;
  top: 13px;
}

.noteinn div:last-child {
  border-bottom: 1px solid #ccc;
}

.note p {
  padding: 5px 10px;
}

.appeditright.editright, .appeditright.editright:last-child {
  border-bottom: none !important;
}

.appeditright.editright .actions-list {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.appaddscan, .appsowtable, .appaudios_div, .appvideos_div, .apppictures_div, .appdisplayNotes {
  display: none;
}

.display_block {
  display: block;
}

#frmAddClaim .box-border {
  padding: 9px !important;
  margin-bottom: 15px !important;
}

#frmAddClaim .box-border label {
  color: #26639e;
  font-size: 21px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

#frmAddClaim .claimclientdetail textarea {
  height: 210px;
}

#frmAddClaim .btn-sqr {
  width: 200px;
  font-weight: 600;
}

textarea {
  width: 100%;
}

.date-boxs .form-control .input-style {
  float: right;
  width: 13%;
  margin-right: 16px;
}

.customer_information table td {
  width: 70%;
}


/* 16 - March - 2017 */

.recoverydetails {
  border: 1px solid #999;
  margin: 10px 0;
  max-width: 100%;
  background-color: transparent;
}

.recoverydetails td {
  padding: 5px 5px;
  letter-spacing: 0.6px;
  font-size: 15px;
  color: #5f5f5f;
  word-break: break-all;
  word-wrap: break-word;
}

.recoverydetails td label {
  font-weight: bold;
}

.card-header {
  background-color: #26639e;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 0;
  padding: 0.50rem 1.25rem;
  text-align: center;
}

.card-header h5 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.card-header-light {
  background-color: #f5f5f5;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 0;
  padding: 0.50rem 1.25rem;
  text-align: center;
}

.card-header-light h5 {
  color: #26639e;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

.cw10 {
  width: 10%;
  float: left;
  padding: 5px;
}

.cw20 {
  width: 20%;
  float: left;
  padding: 5px;
}

.cw25 {
  width: 25%;
  float: left;
  padding: 5px;
}

.cw30 {
  width: 30%;
  float: left;
  padding: 5px;
}

.cw40 {
  width: 40%;
  float: left;
  padding: 5px;
}

.cw60 {
  width: 60%;
  float: left;
  padding: 5px;
}

.cw70 {
  width: 70%;
  float: left;
  padding: 5px;
}

.cw75 {
  width: 75%;
  float: left;
  padding: 5px;
}

.cw80 {
  width: 80%;
  float: left;
  padding: 5px;
}

.cw90 {
  width: 90%;
  float: left;
  padding: 5px;
}

textarea.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.clear {
  clear: both;
}

.btn-round {
  background-color: #26639e;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #ffffff;
  display: inline;
  font-size: 16px;
  margin-top: 10px;
  max-width: 140px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-round:hover {
  color: #000;
}

.boxborder {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

ul.list {
  list-style-type: circle;
  padding-left: 30px;
}

.dryingdetail {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

.dryingdetail td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.padding10 {
  padding: 10px;
}

#detial-view .claimclientdetail>div>.box-border {
  display: table;
  width: 100%;
}

#addnewclaimmodal input[type=checkbox] {
  width: auto;
}

.cout-box.count-box-1 {
  background: #67b7dc;
}

.cout-box.count-box-2 {
  background: #cc4748;
}

.cout-box.count-box-3 {
  background: #84b761;
}

.cout-box.count-box-4 {
  background: #fdd400;
}

.redborder {
  border-top: 1px solid #d80000;
  margin: 10px auto;
  width: 100%;
}

.paddingtop {
  padding-top: 10px;
}

.customcol {
  display: block;
  padding: 5px;
  width: 25%;
  float: left;
}

#reportrange, #reportrange-claim {
  width: auto !important;
}

h4.claimtitle {
  text-transform: uppercase;
  color: #d80000;
}

.dropdown-menu {
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.applyBtn.btn-sm.btn-success {
  background: #26639e;
  border: none;
  color: white;
  text-transform: capitalize;
}

b.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.getclientwiseclaims, .info-detail {
  height: 100%;
}

.getclientwiseclaims h3.count-numbers, .info-detail h3.count-numbers {
  position: absolute;
  bottom: 30px;
}

.ccolmn-60 {
  width: 80%;
  float: left;
}

.ccolmn-40 {
  width: 20%;
  float: right;
}

.amcharts-chart-div>a {
  display: none !important;
}

.graph-header {
  text-align: center;
  padding-bottom: 30px;
}

.graph-header h4 {
  color: #26639e !important;
}

.sub-audio-video .deleteStructure {
  padding-top: 5px;
}

.audios-videos .sub-audio-video p {
  text-align: left;
  width: 180px;
}

.bgtitlecolor {
  background-color: #EEE;
  padding: 5px 10px;
  margin: 0px 0px 20px 0px;
  width: 100%;
  height: 60px;
}

.bgtitlecolor h3 {
  margin-top: 5px;
  float: left;
  width: 75%;
}

.boxpadding {
  padding: 5px 10px 0px 20px;
}

.bgtitlecolor .mapicon {
  background: none;
  border: none;
  float: right;
  position: absolute;
  right: 0;
  padding: 6px;
  width: 11%;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  z-index: 99999999 !important;
  position: absolute;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-wrapper {}

.swiper-slider {
  padding: 0px 40px;
}

.deletetooltip {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.deletetooltip a {
  width: 30px;
  padding-top: 7px;
  padding-right: 30px;
  z-index: 99999;
  position: relative;
}

.videodeletetooltip {
  position: absolute;
}

.deletetooltip .heading-style.ng-binding {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sowaudioc {
  position: inherit;
}

.swiper-button-next {
  right: 10px;
  top: 40%;
  position: absolute;
  background: #000;
  z-index: 99999 !important;
  text-align: right;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.swiper-button-prev {
  left: 10px;
  top: 40%;
  background: #000;
  position: absolute;
  z-index: 99999 !important;
  text-align: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.swiper-button-next i, .swiper-button-prev i {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  padding: 7px;
}

.videos .swiper-button-prev, .videos .swiper-button-next {
  top: 50%;
}

.swiper-button-disabled {
  pointer-events: visible !important;
}

.iconimage {
  width: 25px;
}

div#ClientPiChart, div#ReportedPiChart {
  margin-bottom: -60px;
}

.radio-content i {
  padding: 0px 3px !important;
  font-size: 14px !important;
}

.checkbox-label.input-label {
  width: 20px;
  float: left;
}

.checkbox-style.item.item-radio, .checkbox-style.item.item-checkbox {
  border: 2px solid #26639E;
  content: "\00a0";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 14px;
  margin: 15px 3px 12px 3px;
  padding: 0px;
  margin: 5px;
  float: left;
}

.checkbox.checkbox-input-hidden.disable-pointer-events.checkbox-circle {
  left: -13px;
}

i.checkbox-icon:after {
  border: 2px solid #000000;
  border-top: 0;
  border-right: 0;
}

i.checkbox-icon:before {
  background: none !important;
}

.form-show {
  display: block;
}

.date-box {
  width: 25px !important;
  float: left;
  margin-right: 10px;
}

.date-year {
  width: 60px !important;
}

.modal-popup-map .popup {
  width: 80%;
  height: 80%;
}

.modal-popup-map .popup-body {
  float: left;
  height: 100%;
  width: 100%;
}

.modal-popup-map .popup-body map {
  height: 100% !important;
}

body .header_menu .quick-action .ic-edit {
  width: 38px;
  height: 38px;
}

.signature-btn {
  width: 60px;
  padding: 0;
  margin: auto 0 0 auto;
}

.staps-tabs .cw50 {
  color: #fff;
  font-weight: 600;
  padding: 10px;
  border-radius: 7px 7px 0 0;
  background: #b9b9b9;
}

.staps-tabs .cw50.select {
  background: #26639e;
}

.next-complete button {
  padding: 5px 10px;
}


/* slider css */

.slick-container {
  width: 945px;
  margin: auto;
  padding: 15px;
}

.slick-item {
  margin: auto;
}

.slick-prev::before, .slick-next::before {
  color: #999;
  font-size: 30px
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
}

.slick-item-waper {
  width: 92%;
  margin: 0 auto;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.audio-wraper {
  background: #e6e6e6;
  height: 200px;
  padding: 20px 0px;
}

.pay-button {
  position: absolute;
  top: 60px;
  height: 40px;
  z-index: 9999999;
  margin-left: 125px;
}

.ui360.outerinner {
  position: absolute;
  top: 30%;
  margin-left: 115px;
  text-align: center;
}

.lord-more-btn {
  clear: both;
  display: block;
  margin: 0 auto;
}
