/* Empty. Add your own CSS if you like */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@font-face {
  font-family: 'Bell MT';
  /*src: url('BellMT.ttf') format('truetype');*/
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #405f71 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #405f71 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #405f71 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #405f71 !important;
}


/* splash screen style start */

.splash-bg {
  background: #fff url('../img/splashnew.jpg') 0 0 no-repeat;
  background-size: cover;
  height: 99.9vh;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.login-bar {
  background-color: rgba(255, 255, 255, 0.92);
  height: 99.9vh;
  max-width: 30%;
  width: 100%;
  float: right;
  position: absolute;
  right: 0;
}

.login-bar p {
  text-align: center;
}

.login-bar .form-signin .item {
  background: transparent;
}

.has-header {
  top: 140px !important;
  border-color: rgb(62, 62, 62);
}

.img-responsive {
  width: 100%;
  max-width: 100%;
  display: block;
}

.login-container img {
  height: 100%;
}

ion-side-menus .profile-pic-wap img {
  height: 100%;
  width: auto;
}

.open-font {
  font-family: 'Open Sans', sans-serif;
}

.bell-font {
  font-family: 'Bell MT';
}

.color-sky {
  color: #32b0bb;
}

.color-dark {
  color: #263d4a;
}

.mt10 {
  margin-top: 10px;
}

.mt50 {
  margin-top: 50px;
}

.login-container {
  width: 90%;
  margin: 0 auto;
}

.secondry-logo {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}

.login-form {
  text-align: center;
}

.login-form h1 {
  font-size: 2.7vw;
}

.login-form h1 strong {
  font-size: 30px;
}

.login-form h1 i {
  font-style: italic;
}

.form-signin {
  width: 95%;
  margin: 0 auto;
}

.login-form input {
  width: 100%;
  height: 60px;
  background-color: #b9cfdc;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  color: #405f71;
}

.btns {
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  background: #26639E;
  border: none;
  font-size: 24px;
  color: white;
  border-radius: 45px;
  text-transform: capitalize;
}

.login-btn {
  height: 60px;
  width: 100%;
  margin-top: 30px;
  font-weight: 500;
  font-size: 2.3vw;
  line-height: 1.2;
}

.reset-btn {
  height: 60px;
  width: 100%;
  margin-top: 30px;
  font-weight: 500;
  font-size: 2.3vw;
  line-height: 1.2;
}

.switch {
  text-align: left;
  padding: 15px;
  color: #405f71;
  font-weight: 500;
  border: none;
}

.back-link {
  background: transparent;
  border: none;
  color: #26639E;
  font-size: 1.6vw;
  text-align: center;
}

.flink {
  color: #263d4a;
  font-size: 1.6vw;
  color: #263d4a;
  margin-top: 24px;
}

.toggle .handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.toggle .track {
  width: 45px;
  height: 25px;
}

.toggle.toggle-calm input:checked+.track {
  border-color: #26639E;
  background-color: #26639E;
}

.bar-stable .button.button-clear {
  color: white;
}

.bar .buttons-left span {
  padding-top: 8px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  font-size: 54px;
  line-height: 66px;
}


/* sidebar style */

.bar-header {
  height: 80px !important;
}

.bar.bar-stable {
  background-color: #26639E;
  border-color: #26639E !important;
  height: 80px;
}

.bar.bar-assertive {
  background: #26639E;
  border-color: #26639E;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #263d4a;
  height: 80px;
  border-color: #3e3e3e;
}

.menu .bar-header, .bar.bar-stable .st-title {
  min-height: 150px;
}

.bar.bar-stable .st-title {
  color: white;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}


/*.bar.bar-stable .st-title img {
    max-width: 80px;
    border-radius: 80px;
    border: 1px solid #fff;
    width: 100%;
    display: block;
    margin: 10px auto 0 auto;
}


/* Job Preview Section Start */

#job-preview {
  background-color: #fff;
}

.bar-subheader {
  top: 80px !important;
}

.inner-header {
  background-color: #26639E;
  color: #0c0b0b;
  width: 100%;
  height: 60px;
}

.inner-header h3 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 38px;
  width: 450px;
}

.quick-action {
  padding: 0;
  margin: 0;
  list-style: none;
  /*margin-top: 5px;*/
  /*padding-top:20px;*/
  /*height: 60px;*/
}

.quick-action li {
  display: inline-block;
  list-style: none;
}

.quick-action li button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #26639E;
  margin-top: 0px;
  padding-top: 10px;
}

.quick-action li button span {
  float: left;
  margin-right: 8px;
  margin-top: -10px;
}

.padl0 {
  padding-left: 0 !important;
}

.padr0 {
  padding-right: 0 !important;
}

.marl0 {
  margin-left: 0 !important;
}

.marr0 {
  margin-right: 0 !important;
}

.ic-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.ic-add-claim {
  background: url('../img/new-claim-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-add-surveyor {
  background: url('../img/new-surveyor-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-help {
  background: url('../img/help-white.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-map {
  background: url('../img/ic-map.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-edit {
  background: url('../img/ic-edit.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-delete {
  background: url('../img/ic-delete.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-assign {
  background: url('../img/ic-assign.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-sync {
  background: url('../img/sync-yellow.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ctable>div.tbody>div.actions-list li.done .ic-sync {
  background: url('../img/sync-green.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.ic-status {
  background: url('../img/active-button.png') 0 0 no-repeat;
  background-size: 100%;
  width: 38px;
  height: 38px;
}

.actions-list ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.actions-list ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.actions-list li {
  display: inline-block;
  width: 62px;
  text-align: center;
}

.actions-list li p {
  color: #32b0bb;
}

.actions-list li {
  width: 100px;
}

.actions-list li p {
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}

.actions-list .ic-btn {
  float: left;
  margin-right: 5px;
}


/* Dashboard view */

#dashboard {
  background-color: #fff;
}


/* Detail view */

.perticular-title {
  display: block;
  padding-left: 13px;
  text-transform: uppercase;
}


/* Add Surveyor */

.add-surveyor-form {
  width: 760px;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
  background-color: white;
}

.img-upload {
  text-align: center;
  display: block;
}

.img-upload button img {
  text-align: center;
  vertical-align: middle;
}

.img-upload button, .btn-profile {
  display: block;
  margin: 0 auto;
  width: 150px;
  text-decoration: none;
  color: #26639E;
  border-radius: 40px;
  border: 1px solid #26639E;
  padding: 0 !important;
  line-height: 30px;
}

.img-upload button:hover, .btn-profile:hover {
  text-decoration: none;
  color: #26639E;
  border: 1px solid #26639E;
}

.cn50 {
  width: calc(50% - 1%);
  margin-right: 2%;
}

.cn50.last {
  margin-right: 0;
}

.cn33 {
  width: calc(33.33% - 1.33%);
  margin-right: 2%;
}

.cn33.last {
  margin-right: 0;
}

.item-input {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  padding: 1px;
}

.cancel-button, .save-button {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 15px;
  display: block;
}

div.chart-container {
  width: 100%;
  height: 400px;
}

.button.active, .button.activated {
  border-color: #26639E;
  background-color: #26639E;
  color: white;
}

button.button.ng-binding.button-default {
  border-color: #26639E;
  background-color: #26639E;
  color: white;
}

.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

.padtb0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padm5 {
  padding: 0;
  margin-left: 5px;
}

.popclose {
  text-align: right;
  position: absolute;
  top: 3px;
  right: 15px;
  z-index: 1000;
  color: #fff !important;
  padding: 0px !important;
  background-color: transparent !important;
  border: none;
}

.nk_popup .popup .popup-buttons {
  padding: 0px !important;
  min-height: 0px !important;
}

.popup {
  border-radius: 5px !important;
  background: rgba(255, 255, 255, 1) !important;
}

.popup-head {
  background: #26639E;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.popup-title {
  color: #fff;
}

.popup-buttons {
  padding: 0;
  min-height: 0;
}

.img-default {
  width: 150px;
}

.thumbnail .list-group-item-heading {
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  text-transform: uppercase;
  color: #26639e;
  margin-bottom: 5px;
}

.padl20 {
  padding-left: 20px !important;
}

.error {
  color: #d40101;
  font-size: 16px;
  text-align: left;
}

#slides_control>div {
  height: 200px;
}

#slides_control {
  position: absolute;
  width: 750px;
  left: 50%;
  top: 12%;
  margin-left: -30%;
}

#slides_control>img {
  height: 100%
}

.carousel-control {
  display: none !important;
}

.scrolling_div {
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
}
